<div ng-if="liveEvents.length > 0">
    <h3>Live Betting</h3>
    <ul>
        <li class="tennis" ng-repeat="liveEvent in liveEvents track by $index" ><a href="#/event?eventId={{liveEvent.id.key}}">{{liveEvent.id.value}}</a></li>
    </ul>
</div>
