#account-title{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #484848;
    padding-bottom: 5px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 125, 0);
}
#account-body{
    text-align: justify;
    padding-left: 0;
    padding-top: 10px;
    font-size: 16px;
    font-weight: normal;
    color: black;
}
.account-tr-title{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
}
.account-tr-text{
    text-align: justify;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 15px;
}
.change-password{
    text-align: justify;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 30px;
}
.empty_line{
    height: 10px;
}
.warning{
    color: red;
    text-align: left;
    font-size: 13px;
}
.td-title-width{
    text-align: left;
    width: 25%;
}
.table-width{
    width: 100%;
}
.account-button{
    color: white;
    background-color: #019EB3;
}
.transaction-header-openbet-s{
    width: 7.5%;
    position: relative;
    height: 20px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.transaction-header-openbet-m{
    width: 15%;
    position: relative;
    height: 20px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.transaction-header-openbet-l{
    width: 35%;
    position: relative;
    height: 20px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.date-dashboard{
    float: right;
}
.date-dashboard > div{
    display:inline-block;
}
