@charset "utf-8";
/* CSS Document by Mick Dinulos*/

@media (min-width: 1200px) {
    .container{
        max-width: 1078px;
    }
}
@media (max-width: 768px) {
    .navbar-form {
	    margin-right: 0;
		margin-left: 0;
	}
	.navbar-form .form-control {
        display: block;
		float: none;
    }
	.navbar-brand {
	    clear:both;
		float: none;
	}
	.navbar-brand img {
	    margin-top: 10px;
	}
	.navbar-form.navbar-right {
	    border:none;
		box-shadow:none;
	}
	.col-xs-3.race-list {
	    margin: 5px 0 0 0 !important;
    }
	#featured-events ul.nav-tabs li a {
	    padding: 8px 10px !important;
	}
	#main-content.row {
	    margin-left: 0px;
		margin-right: 0px;
	}

}
@media (max-width: 992px) {
    #top-bar{
        display: none;
    }
}
body {
    background:#000 url(../images/body-bg.jpg) no-repeat top center;
	background-size:cover;
	color:#232323;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
}
.panel>.table>tbody:first-child>tr:first-child td, .panel>.table>tbody:first-child>tr:first-child th {
    border-top: 1px solid #ddd;
}
.panel>.table-bordered>tbody>tr:last-child>td, .panel>.table-bordered>tbody>tr:last-child>th, .panel>.table-bordered>tfoot>tr:last-child>td, .panel>.table-bordered>tfoot>tr:last-child>th, .panel>.table-responsive>.table-bordered>tbody>tr:last-child>td, .panel>.table-responsive>.table-bordered>tbody>tr:last-child>th, .panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td, .panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th {
    border-bottom: 1px solid #ddd;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align:middle;
}
#main-content {
    background:rgba(255,255,255,0.85)
}
#top-bar {
    min-height: 32px;
    line-height: 32px;
    box-shadow: inset 0 -2px 2px rgba(0,0,0,0.1);
    font-size: 11px;
    background: #019EB3;
    border-bottom: 1px solid #019EB3;
}
#top-bar .inner{
    width: 990px;
    margin: 0 auto;
    text-align: right;
    color: #fff;
}
#top-bar .inner .security{
    float: left;
}
#top-bar .inner .security:before{
    font-family: 'Glyphicons Halflings';
    content:"\e033";
    position:relative;
    left: -5px;
    top: 2px;
    color: #CFB53B;
}
#top-bar .inner a{
    color: #fff;
    margin: 0 20px 0 0;
    text-decoration: none;
}
#top-bar .inner .time{
    float: right;
}
#top-bar .inner .time:before{
    font-family: 'Glyphicons Halflings';
    content:"\e023";
    position:relative;
    left: -5px;
    top: 2px;
}
#nav-bar-fixed {
    display: none;
    background: #019EB3;
}
#nav-bar-fixed.sticky{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 40px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
    line-height: 38px;
    display: block;
}
#nav-bar-fixed .inner{
    width: 990px;
    margin: 0 auto;
    text-align: right;
    color: #fff;
}
#nav-bar-fixed .inner .logo{
    float: left;
}
#nav-bar-fixed .inner .betslip-btn{
    float: right;
}
#nav-bar-fixed .inner .betslip-btn .btn-orange{
    background: #ff7d00;
    text-transform: uppercase;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 2px 10px;
    margin-left: 12px;
    border-radius: 2px;
}
#nav-bar-fixed .inner .user-info{
    float: right;
}
#nav-bar-fixed .inner .user-info span{
    margin-left: 20px;
}
#masthead {
    display:block;
	background:#019ee0;
	min-height:80px;
	color:#fff;
}
    #masthead p {
	    text-align:right;
		font-size: 13px;
    }
    #masthead .container {
	    padding-left: 0;
        padding-right: 0;
	}
    #masthead .navbar-brand {
	    padding: 12px 0;

	}
    #masthead .login-section{
        padding: 15px 0;
        float: right;
    }
    #masthead .login-section a{
        color: white !important;
    }
    #masthead .login-section .opitons{
        margin-top: 5px;
    }
    #masthead .login-section .opitons .login-msg{
        display: inline-block;
        padding: 5px;
        margin-bottom: 0px;
        background: #ebccd1;
        color: #a94442;
        border-color: #ebccd1;
        border-radius: 4px;
    }
	#masthead .login-section input {
        background: #fff;
        line-height: 26px;
        height: 26px;
        width: 140px;
        padding: 0 0 0 5px;
        margin-right: 5px;
		box-shadow: none;
		border:none;
		font-size: 12px;
	}
    #masthead .user-section {
        margin : 13px;
        padding : 5px;
        line-height: 26px;
        padding-right: 10px;
        float: right;
        text-align: right;
        margin-bottom: 2px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }
    #masthead .user-section div{
        margin-top:2px;
        font-size: 13px;

    }
    #masthead .user-section .welcome-info{
    }
    #masthead .user-section .welcome-info span:first-child{
        /*background: #0b719c;*/
        padding: 4px;
    }
    #masthead .user-section .user-info{
    }
    #masthead .user-section .user-info .user-info-option{
        margin-left: 20px;
        color: white;
        text-decoration: none;
    }
    #masthead .user-section .user-info .user-info-option:hover{
        color:#ff7d00 !important;
        cursor: pointer;
    }
    #masthead .user-section .user-info >div{

        padding: 0px 11px 0px 0px;
    }
    #masthead .user-section .user-info .bonus-section{
        display: inline-block;
        position: relative;
    }
    #masthead .user-section .user-info .bonus-section .bonus-section-pop-up{
        position : absolute;
        z-index: 100;
        top: 37px;
        left: -400px;
        border: 4px solid #ff7d00;
        border-radius: 10px;
        background: white;
        padding : 3px;
        width: 490px;
        text-align: left;
        color: black;
        padding: 10px;
    }
    #masthead .user-section .user-info .bonus-section .bonus-section-pop-up:before{
        content:' ';
        position : absolute;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #ff7d00;
        border-left: 15px solid transparent;
        top: -33px;
        right: 25px;
    }

    #masthead .user-section .user-info .bonus-section .bonus-section-pop-up table{
        width:100%;
        margin:5px;
    }
    #masthead .user-section .user-info .bonus-section .bonus-section-pop-up tr{
    }
    #masthead .user-section .user-info .bonus-section .bonus-section-pop-up th{
        background: #e8e8e8;
        text-align: center;
    }
    #masthead .user-section .user-info .bonus-section .bonus-section-pop-up td{
        text-align: center;
        color: blue;
    }
    #masthead .user-section .user-info .bonus-section .bonus-section-pop-up .type{
        text-align: center;
    }
    #masthead .user-section .user-info .bonus-section .bonus-section-pop-up .type h5{
        display: inline;
    }
    #masthead .user-section .user-info .bonus-section .bonus-section-pop-up .type .remove{
        color: red;
    }
    #masthead .user-section .user-info .bonus-section .bonus-section-pop-up .trans-btn{
        background: orange;
    }
    #masthead .user-section .user-info .bonus-section .bonus-section-pop-up .msg{
        margin-bottom: 0px;
    }
    #masthead .user-section .user-info .bonus-section .bonus-section-pop-up .done-btn{
        margin: 0 auto;
        width: 78px;
        display: block;
    }
	#masthead .btn-blue {
	    background:#0b6390;
		text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
		padding: 3px 26px;
	}
	#masthead .btn-blue:hover {
	    background:#095378;
		color:#fff;
	}
	#masthead .btn-green {
	    background:#7db841;
		text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
		padding: 3px 26px;
	}
	#masthead .btn-green:hover {
	    background:#70A53A;
		color:#fff;
	}
.navbar {
    border-bottom: none;
	min-height: 34px;
	border-radius: 0;
}
.navbar-default {
    background:#fff;
	border-top: none;
}
.navbar-nav>li {
    background: url(../images/nav-separator.png) no-repeat left center;
}
.navbar-nav>li:first-child {
    background-image:none;
}
.navbar-nav>li>a, .navbar-default .navbar-nav>li>a {
    padding: 8px 16px 8px 16px;
	text-transform:uppercase;
	color:#232323;
	font-family: 'Oswald', sans-serif;
	font-size:14px;
}
.navbar-default .navbar-nav>li.home>a {
    font-size: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 6px;
	padding-right: 6px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover {
    color:#fff;
	background:#ff7d00;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
}
.navbar p {
    margin: 5px 0 0 0;
	font-size: 15px;
	font-weight:normal;
}
.navbar .btn-orange {
    background:#ff7d00;
	text-transform:uppercase;
	color:#fff;
	border:none;
	font-weight:bold;
	padding: 2px 10px;
	margin-left: 12px;
	border-radius:2px;
}
.navbar a:hover.btn-orange, .navbar a:focus.btn-orange, .navbar a:active.btn-orange {
    background:#E77000;
	color:#fff;
}

#content-right {
    padding-top: 20px;
}
    #content-right .col-sm-9#featured-events {
         padding-right: 0;
		 padding-left: 0;
}
#sidebar-left h3 {
    color:#484848;
	border-bottom:4px solid #ff7d00;
	text-transform:uppercase;
	font-size:16px;
	font-weight: bold;
	padding-bottom: 10px;
}
#sidebar-left ul {
    list-style-type:none;
	margin:0 0 0 15px;
	padding:0;
}
#sidebar-left li a {
    color:#232323;
}
#sidebar-left ul li{
	margin: 0 0 4px 0;
	font-size:13px;
	padding: 2px 0 4px 35px;
	background-position: 8px 4px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #e7e7e7;
	/*background-image: url(../images/bullet-orange.png);*/
}
#sidebar-left ul ul{
    list-style-type:none;
	margin: 4px 0 0 0;
	padding:0;
}
#sidebar-left ul ul li{
	margin: 0 0 4px 0;
	font-size:13px;
	padding: 2px 4px 4px 0;
	border-bottom: 1px solid #e7e7e7;
	background-image: none;
}
#sidebar-left ul ul li:last-child{
	border-bottom: none;
}
#ads {
	padding-bottom: 10px;
}
#ads img{
    padding-bottom: 2px;
}
.sportIcon.SOCCER {
    background-image:url(../images/sport-icon.png);
    width: 20px;
    height: 20px;
}
.col-md-6.upcoming-australian-sports, .col-md-6.featured-sports {
    padding-right: 15px;
	padding-left: 0;
}
.panel {
    border-radius: 6px;
	border:none;
	margin-bottom:10px;
	box-shadow:none;
}
.list-group-item-text {
	font-size: 13px;
}
.featured-sports .panel-default .panel-heading {
    background:#019ee0 url(../images/icon-hourglass.png) no-repeat 10px center ;
	color:#fff;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding-left: 42px;
}

.featured-sports .panel .badge {
    background:none;
	color:#232323;
	display:block;
	text-transform:uppercase;
	border-left:1px solid #dbdbdb;
	border-radius:0;
	width:20%;
	font-size: 12px;
	font-weight:normal;
	line-height:1.3;
	padding-right:0;
}
.featured-sports .panel .badge span.red {
    color:#e40000;
}
.featured-sports .panel .list-group-item {
    background:#e7e7e7;
	border-bottom:1px solid #dbdbdb;
	border-top: 1px solid #fff;
	min-height:52px;
	margin-bottom: 0;
}
.featured-sports .panel .list-group-item:hover {
    background:#fff;
}
.featured-sports a.list-group-item .list-group-item-heading {
    font-weight:bold;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;

}
.race-list-container {
    display:block;
}
.race-list-container.row {
    margin: 0;
}
.race-list a {
    color:#232323;
}
.race-list {
    background:#f9f9f9;
	border-radius: 8px;
	min-height: 55px;
	max-width: 146px;
}
.race-list:hover {
    background:#fff;
	cursor:pointer;
}
.col-xs-3.race-list {
    padding-left: 0;
	padding-right: 0;
	margin: 5px 1px 0 0;
}
.col-xs-3.race-list.last {
    margin-right: 0;
}
.race-list .left-info {
    border-right: 1px solid #efefef;
	text-align:center;
	float: left;
}
    .left-info.col-xs-6, .right-info.col-xs-6 {
	    padding-left: 5px;
		padding-right: 5px;
	}

    .race-list .left-info .location {
	    font-size: 10px;
		height: 27px;
		vertical-align:middle;
		display:table-cell;
		text-align:center;
		width:74px;
	}
	.race-list .left-info .race-number {
	    font-size: 17px;
		height: 28px;
		vertical-align:middle;
		text-align:center;
		font-weight:bold;
	}
.race-list .right-info {
    border-left: 1px solid #fff;
	text-align:center;
	float: left;
}
    .race-list .right-info .icon {
		height: 21px;
		width: 34px;
		margin: 8px auto 8px auto;
		background-repeat: no-repeat;
	}
    .race-list .right-info .time {
		font-size: 10px;
	}
	.race-list:hover .right-info .time {
	    color:#e40000;
	}
    .race-list .right-info .icon.G {
	    background-image:url(../images/icon-hound.png);
		background-position: left -10px;
	}
    .race-list .right-info .icon.R {
	    background-image:url(../images/icon-horse.png);
		background-position: left -10px;
	}
    .race-list .right-info .icon.T {
	    background-image:url(../images/icon-carriage.png);
		background-position: left -10px;
	}
    .race-list:hover .icon.G, .race-list:hover .icon.R, .race-list:hover .icon.T{
	    background-position: left -50px;
	}

/* sidebar */
/* racebar*/
#selVenue{
    width: 36%;
}


/* Sports Bet Panel */
.col-xs-6.bet {
    padding-left: 2px;
	padding-right: 2px;
}
.panel.sports-bet {
    background:#142841;
	color:#fff;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.panel.sports-bet img{
    width: 100%;
	max-height:101px;
}
.panel-body{
    background:#e7e7e7;
	color:#232323;
}
.badge {
    color:#232323;
	background:none;
}
.list-group-item {
    padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 5px;
	border: 1px solid #898989;
	border-radius: 4px;
    overflow: hidden;
}
.list-group-item:first-child {
    border-radius: 4px;
}
.panel.sports-bet .btn {
    color:#232323;
}

.panel.sports-bet .btn:hover {
    text-decoration:underline;
}
#featured-events {
    background:#e7e7e7;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-o-border-top-left-radius: 6px;
	-o-border-top-right-radius: 6px;
	margin-bottom:10px;
}
ul.nav-tabs {
    background:#019ee0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding:4px 8px;
}
ul.nav-tabs li {
    margin-bottom: 0;
    width: 14%;
}
ul.nav-tabs li a {
    border-radius: 6px;
	/*padding: 8px 26px;*/
	background:#0b6390;
	border:none;
	color:#fff;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover {
    background:#ff7d00;
	border:none;
	color:#fff;
}
.tab-content {
    background:#e7e7e7;
	padding: 4px;
}
.tab-content h5 {
    font-size: 16px;
	margin-top: 0;
}
#featured-events .panel-heading {
    background:#142841;
	color:#fff;
}
#featured-events .panel-footer {
    border-top:none;
	background:#E7E7E7;
	padding-top: 0;
}
#footer .container {
    background:#fff;
	padding: 0px 20px 20px 20px;
}
#footer h3 {
    color:#484848;
	border-bottom:2px solid #BCBCBC;
	text-transform:uppercase;
	font-size:12px;
	font-weight: bold;
	padding-bottom: 10px;
}
#footer img {
    margin-right: 5px;
}
#footer img.mobile{
    height:40px;
    width:135px;
}
#footer .sub-title{
    margin-bottom: 5px;
}
#footer-bottom {
    border:0;
}
#footer-bottom .container {
    padding: 10px;
	background:#142841;
	border:0;
}

/* Sports Listing Page */
#sports-listing ul.nav-tabs {
    background:#142841;
	border:none;
}
#sports-listing ul.nav-tabs li a {
    padding-left: 10px;
	padding-right: 10px;
}
#sports-listing .panel {
    background:none;
}
#sports-listing .panel-default>.panel-heading {
    background:#006ab6;
	color:#fff;
	border:none;
	border-radius:0;
	margin-bottom:4px;
}
#sports-listing .panel-default>.panel-heading .panel-title:after, #sports-listing .panel-default>.panel-heading .panel-title:after,  .panel-markets .panel-heading:after {
    font-family: 'Glyphicons Halflings';
	content:"\e113";
    float: right;
    color: #fff;
}
#sports-listing .panel-default>.panel-heading .panel-title.collapsed:after, .panel-markets .panel-heading.collapsed:after {
    content:"\e114";
}
#sports-listing .panel-default>.panel-heading .panel-title {
    font-size: 13px;
	font-weight:bold;
}
#sports-listing .list-group {
    clear:both;
}
#sports-listing .list-group li {
    clear:both;
	list-style:none;
	background:#fff;
	padding:5px 10px;
	margin:0 0 3px 0;
	font-size: 13px;
}
#sports-listing .list-group li div.event {
    font-weight:bold;
}

#sports-listing .list-group li .btn-orange {
    background:#ff7d00;
	color:#fff;
	border:none;
	padding: 2px 8px;
	font-size:12px;
}

.detailed-sportlist .panel-default .panel-heading {
    background:#019ee0;
	color:#fff;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	text-align:left;
	font-weight:bold;
	font-size:14px;
}
.btn-markets, .btn-markets:active, .btn-markets:focus, .btn-markets.active {
    background:url(../images/bullet-orange.png) no-repeat left center ;
	box-shadow:none;
	padding-right: 0;
	padding-bottom:0;
	padding-top:0;
	font-size: 12px;
	color:#232323;
	font-weight:bold;
}
.btn-markets:hover {
    text-decoration:underline;
}
.detailed-sportlist {
    text-align:center;
}
.detailed-sportlist th {
    text-align:center;
}
.detailed-sportlist th.title {
    text-align:left;
}
.detailed-sportlist td {
    vertical-align:middle;
}

.detailed-sportlist td.team {
    text-align:left;
	width:30%;
}
.detailed-sportlist .higher {
    color:red;
}
.detailed-sportlist .lower {
    color:green;
}
.detailed-sportlist .status_quo {

}
.detailed-sportlist .over-under {
    width: 15%;
	font-size: 13px;
	font-weight:normal;
}
.detailed-sportlist .first-try-score{
	font-weight:bold;
}
.detailed-sportlist .over-under span{
	font-weight:bold;
}
.detailed-sportlist .handicap {
    width: 15%;
	font-size: 13px;
}
.detailed-sportlist .handicap div.left {
    text-align:center;
}
.detailed-sportlist .handicap div.left.col-sm-4 {
    padding-left: 0;
	padding-right: 0;
}
.detailed-sportlist .handicap div.right {
	text-align:center;
	font-weight:bold;
    padding: 0px;
}
.detailed-sportlist td.win, .detailed-sportlist td.place {
    position:relative;
	padding:0;
	padding:0;
}
.race-table td:hover.win, .race-table td:hover.place, .race-table td:hover.selection{
    background:#FF7D00 !important;
	color:#fff !important;
	cursor:pointer;
}
.detailed-sportlist .place, .detailed-sportlist .place-number, .detailed-sportlist .win {
    font-weight:bold;
	font-size: 13px;
}
.detailed-sportlist .time, .detailed-sportlist .win {
	width: 90px;
}
.detailed-sportlist table.result-table td.win {
    width: 90px;
}
.detailed-sportlist .price:hover{
    cursor: pointer;
    background: #FFA500;
}
.detailed-sportlist .price .price-unit{
    position: relative;
}
td.odds-data-up div {
	position:absolute;
	width: 100%;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	vertical-align:middle;
	padding-top: 10px;
    animation: odds-data-up-background-appear 3s forwards;
    -webkit-animation: odds-data-up-background-appear 3s forwards;
    -moz-animation: odds-data-up-background-appear 3s forwards;
    animation: odds-data-up-background-fade 5s forwards;
    -webkit-animation: odds-data-up-background-fade 5s forwards;
    -moz-animation: odds-data-up-background-fade 5s forwards;
}
td.odds-data-up div:before {
	content:"\e253";
	font-family: 'Glyphicons Halflings';
	display:inline;
	font-size:8px;
	color:#9E2727;
	position:absolute;
	top: 40%;
	left: 5px;
}
.detailed-sportlist .markets-panel .market-panel {
    margin-bottom: 5px;
}
.detailed-sportlist .markets-panel .panel-heading:after{
    font-family: 'Glyphicons Halflings';
    content:"\e113";
    float: right;
    color: #fff;
}
.detailed-sportlist .markets-panel .panel-heading.collapsed:after{
    content:"\e114";
}
.detailed-sportlist .markets-panel .td-highlight td:hover,
.detailed-sportlist .markets-panel .tr-highlight tr:hover{
    background-color: #FFA500;
}
.even-row tbody:nth-child(even){
    background-color: #e6e6e6;
}

@-webkit-keyframes odds-data-up-background-appear {
    80% {
        background:none;
    }
    100% {
        background:#D3A5A5;
    }
}
@-moz-keyframes odds-data-up-background-appear {
    80% {
        background:none;
    }
    100% {
        background:#D3A5A5;
    }
}
@keyframes odds-data-up-background-appear {
    80% {
        background:none;
    }
    100% {
        background:#D3A5A5;
    }
}

@-webkit-keyframes odds-data-up-background-fade {
    80% {
        background:#D3A5A5;
    }
    100% {
        background:none;
    }
}
@-moz-keyframes odds-data-up-background-fade {
    80% {
        background:#D3A5A5;
    }
    100% {
        background:none;
		color:#232323;
    }
}
@keyframes odds-data-up-background-fade {
    80% {
        background:#D3A5A5;
    }
    100% {
        background:none;
    }
}

td.odds-data-down div {
	position:absolute;
	width: 100%;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	vertical-align:middle;
	padding-top: 10px;
    animation: odds-data-down-background-appear 3s forwards;
    -webkit-animation: odds-data-down-background-appear 3s forwards;
    -moz-animation: odds-data-down-background-appear 3s forwards;
    animation: odds-data-down-background-fade 5s forwards;
    -webkit-animation: odds-data-down-background-fade 5s forwards;
    -moz-animation: odds-data-down-background-fade 5s forwards;
}
td.odds-data-down div:before {
	content:"\e252";
	font-family: 'Glyphicons Halflings';
	display:inline;
	font-size:8px;
	color:#568F3F;
	position:absolute;
	top: 40%;
	left: 5px;
}

@-webkit-keyframes odds-data-down-background-appear {
    80% {
        background:none;
    }
    100% {
        background:#B8CCAE;


    }
}
@-moz-keyframes odds-data-down-background-appear {
    80% {
        background:none;
    }
    100% {
        background:#B8CCAE;
    }
}
@keyframes odds-data-down-background-appear {
    80% {
        background:none;
    }
    100% {
        background:#B8CCAE;
    }
}

@-webkit-keyframes odds-data-down-background-fade {
    80% {
        background:#B8CCAE;
    }
    100% {
        background:none;
    }
}
@-moz-keyframes odds-data-down-background-fade {
    80% {
        background:#B8CCAE;

    }
    100% {
        background:none;
    }
}
@keyframes odds-data-down-background-fade {
    80% {
        background:#B8CCAE;
    }
    100% {
        background:none;
    }
}



/* Racing */
h3 select.form-control, .panel-heading select.form-control {
	display:inline-block;
	font-size: 10px;
	width:auto;
	padding: 2px 4px !important;
	height:auto;
	background:#0b6390;
	color:#fff;
}
h3 select option, .panel-heading select option {
	display:block;
}
ul#next-to-race .badge {
    float: right;
	font-size: 12px;
}
.detailed-racelist h3 {
    background-repeat: no-repeat;
	text-align:left;
	text-transform:uppercase;
	font-size:16px;
	font-weight: bold;
	padding-left:35px;
	line-height: 20px;
	margin-top: 0;

}
.detailed-racelist .icon.hound {
    background-image:url(../images/icon-hound.png);
	background-position: left -90px;
}
.detailed-racelist .icon.horse {
    background-image:url(../images/icon-horse.png);
	background-position: left -90px;
}
.detailed-racelist .icon.carriage {
    background-image:url(../images/icon-carriage.png);
	background-position: left -90px;
}
.detailed-racelist .icon {
	height: 21px;
	width: 34px;
	margin: 2px 10px 2px 0;
	background-repeat: no-repeat;
	display:inline-block;
	float: left;
}
.detailed-racelist ul.races {
    margin:0 0 4px 0;
	list-style-type:none;
	text-align:left;
	padding:0;
}
.detailed-racelist ul.races li{
    display: inline-block;
    margin-left: 5px;
}
.detailed-racelist ul.races li a, .detailed-racelist ul.races li a:link {
    background:#0b6390;
	color:#fff !important;
	text-decoration:none;
	font-size: 13px;
	padding: 4px 6px !important;
	background-image:none !important;
}
.detailed-racelist ul.races li.active a, .detailed-racelist ul.races li a:hover, .detailed-racelist ul.races li a:active {
    background:#ff7d00;
	color:#fff;
	text-decoration:none;
	font-size: 13px;
    padding: 4px 6px;
	background-image:none;
}
.detailed-racelist .panel-heading {
    background: #019ee0;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}
.detailed-racelist .panel-body {
    background:#fff;
	padding:4px 10px;
    text-align:left
}
.detailed-racelist .race-status {
    font-size: 12px;
	font-weight:bold;
}
.detailed-racelist .time-until {
    text-align:right;
	line-height: 150%;
	margin-top: 20px;
}
.detailed-racelist .time-until span {
    display:block;
}
.detailed-racelist .meeting-header div{
    display: inline-block;
}
.detailed-racelist .meeting-header .active{
    background: #ff7d00;
}
.detailed-racelist .meeting-footer {
    margin : 10px ;
}
.detailed-racelist .meeting-body-not-aval{
    text-align: center;
    font-size:15px;
    font-weight:bold;
    color: black;
}
.detailed-racelist .meeting-body{
    width : 100%;
}

.detailed-racelist .meeting-body table.listings {
    border-top: 2px solid #ff7d00 !important;
	overflow-y: scroll;
	width:100%;
    table-layout: fixed;
    padding:1px !important;
}
.detailed-racelist .meeting-body table.listings th {
    background:#019ee0;
	color:#fff;
	font-size:12px;
    text-align: center;
}
.detailed-racelist .meeting-body table.listings th.location {
    background:#0b6390;
	color:#fff;
	width: 20%;
}
.detailed-racelist .meeting-body table.listings td {
    color: #000032;
    padding: 3px !important;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;

}

.detailed-racelist .meeting-body table.listings .race-info{
    position : relative;
}
.detailed-racelist .meeting-body .fixed-odds{
    width: 0;
    height: 0;
    border-top: 12px solid #FF6600;
    border-left: 12px solid transparent;
    position: absolute;
    top: -3px;
    right: -2px;
}
.detailed-racelist .meeting-body .fixed-odds div{
    width: 7px;
    position: absolute;
    right: 0;
    top: -15px;
    color: white;
    font-size: 8px;
    line-height: 10px;
}

.detailed-racelist .meeting-footer .fixed-odds-dis{
    width: 9px;
    height: 9px;
    display: inline-block;
    margin: 4px 3px -1px 8px;
    background: #FF6600;
    position: relative;
}
.detailed-racelist .meeting-footer .fixed-odds-dis:after{
    content: 'F';
    color: white;
    font-size: 10px;
    position: absolute;
    top: -3px;
    right: 1px;
}
.detailed-racelist .meeting-footer .Closing5{
    width: 9px;
    height: 9px;
    display: inline-block;
    margin: 4px 3px -1px 8px;
    background: #ea7f77;

}
.detailed-racelist .meeting-footer .Closing30{
    width: 9px;
    height: 9px;
    display: inline-block;
    margin: 4px 3px -1px 8px;
    background: #ffb76b;
}
.detailed-racelist .meeting-footer .Interim{
    width: 9px;
    height: 9px;
    display: inline-block;
    margin: 4px 3px -1px 8px;
    background: #8DBCD6;
}
.detailed-racelist .meeting-footer .Paying{
    width: 9px;
    height: 9px;
    display: inline-block;
    margin: 4px 3px -1px 8px;
    background: #AFD6A1;
}

.detailed-racelist .meeting-body table.listings td.location {
    line-height: 30px;
}
.detailed-racelist .meeting-body table.listings a {
    line-height: 30px;
	display:block;
	color:#232323;
}
.detailed-racelist .meeting-body table.listings td:hover, .detailed-racelist .meeting-body table.listings td.odds.soon {
    background:#0b6390;
}
.detailed-racelist .meeting-body table.listings td:hover a, .detailed-racelist .meeting-body table.listings a:hover span.results.closed, .detailed-racelist .meeting-body table.listings td.odds.soon a {
    color:#fff;
	text-decoration:none;
}
.detailed-racelist .meeting-body table.listings td.location:hover {
    background:#fff;
}
.detailed-racelist .meeting-body table.listings a.has-pyoo {
    background:url(../images/has-pyoo.png) no-repeat right bottom;
}
.detailed-racelist .meeting-body table.listings a.has-fixed-odds {
    background:url(../images/has-fixed-odds.png) no-repeat right bottom;
}

.detailed-racelist .meeting-body table.listings a span.results.closed {
    color:#484848;
}

.detailed-racelist .racingOdds th{
    text-align: center;
}
.detailed-racelist .racingOdds .poolType_FIXED{
    /*background: yellow !important;*/
    /*color: #000000;*/
    text-align: center;
    font-weight: bold;
    font-size: 14px !important;
}
.detailed-racelist .racingOdds .poolType_BESTTOTE{
    /*background: #990000 !important;*/
    /*color: #000000;*/
    text-align: center;
    font-weight: bold;
    font-size: 14px !important;
}
.detailed-racelist .racingOdds .poolType_BESTTOTESP{
    /*background: orange !important;*/
    /*color: #000000;*/
    text-align: center;
    font-weight: bold;
    font-size: 14px !important;
}
.detailed-racelist .racingOdds .poolType_TOTES{
    /*background: #24D0E3 !important;*/
    /*color: #000000;*/
    text-align: center;
    font-weight: bold;
    font-size: 14px !important;
}
.detailed-racelist .racingOdds .poolType_TF{
    /*background: #006262 !important;*/
    /*color: #000000;*/
    text-align: center;
    font-weight: bold;
    font-size: 14px !important;
}
.detailed-racelist .racingOdds .poolType_MIDTOTE{
    /*background: #24D0E3 !important;*/
    /*color: #000000;*/
    text-align: center;
    font-weight: bold;
    font-size: 14px !important;
}
.detailed-racelist .racingOdds .poolType_FIVEPCT{
    /*background: #0DBA59 !important;*/
    /*color: #000000;*/
    text-align: center;
    font-weight: bold;
    font-size: 14px !important;
}

.detailed-racelist .racingOdds .wp_odds_cell:hover{
    background: #FFA500;
}
.detailed-racelist .racingOdds .odds{
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px;
    max-width: 70px;
    /*background: azure;*/
    color: #000032;
}
.detailed-racelist .racingOdds .odds.higher{
    color: green;
}
.detailed-racelist .racingOdds .odds.lower{
    color: red;
}
.detailed-racelist .racingOdds .odds.status_quo{}


.tab-pane {
    margin-bottom: 10px;
}
.table-controls ul.nav-tabs {
    background:none;
    padding: 0;
	border-bottom: 3px solid #084f6d;
}
.table-controls ul.nav-tabs li {
    margin-bottom: 0;
}
.table-controls  ul.nav-tabs li a {
    border-radius: 6px 6px 0 0;
	padding: 8px;
	background:#e7e7e7;
	border:none;
	color:#142841;
}
.table-controls .nav-tabs>li.active>a, .table-controls .nav-tabs>li.active>a:focus, .table-controls .nav-tabs>li.active>a:hover, .table-controls .nav-tabs>li>a:hover {
    background:#084f6d;
	border:none;
	color:#fff;
}
.tab-content.race-table {
    background:#fff;
	padding:0;
}
.btn.btn-back {
	background:#fff;
	border-radius: 50%;
	width:25px;
	height: 25px;
	padding:0;
	float: left;
	color:#232323 !important;
	margin-right: 10px;
}
.btn.makeSelection{
    background: #B3C702;
    text-transform: uppercase;
    color: #fff;
}
.btn.disableSelection{
    opacity: 0.25;
    background: gray;
    text-transform: uppercase;
    color: #fff;
}
.btn.clearSelection{
    background: #E1E1E1;
    margin-right: 10px;
}
.btn.btn-back:hover {
    text-decoration:none;
	background:#F2F2F2;
	color:#232323;
}
.btn.btn-back:after {
    content:"\e079";
    font-family: 'Glyphicons Halflings';
	text-align:center;
	color:#232323 !important;
}
.race-res-tab table.result-table {
   margin-bottom: 20px !important;
}
.race-res-tab table.result-table tr.table-heade td {
    text-align: center;
}

.race-res-tab table.result-table tr.table-header th{
   background:#0b6390;
   color:#fff;
   font-weight:bold;
   text-align: center;
}
.race-res-tab table.result-table tr.table-header td {
    background:#019ee0;
    color:#fff;
	font-weight:bold;
    text-align: center;
}

.race-table thead {
    background:#019EE0;
	color:#fff;
    text-align: center;
}
.race-table th {
	vertical-align:central;
	display: table-cell;
	height: 35px;
}
.race-table button.btn-gray, .detailed-racelist button.btn-gray {
    background:#c2c2c2;
	padding: 6px 10px;
    color:#232323;
	font-size: 12px;
}
.race-table button:hover.btn-gray, .detailed-racelist button:hover.btn-gray {
    background:#A8A8A8;
}
.race-table .scratched{
    opacity: 0.5;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom: 1px solid #ddd !important;
}
.quadrella-odds-table caption{
    background: #019EB3;
    text-align: center !important;
}
#sidebar-left .next-to-race-buttons {
    text-align:center;
	margin-bottom: 10px;
}
#sidebar-left ul#next-to-race li.icon-hound, h3.icon-hound {
    background-image:url(../images/icon-hound.png);
	background-position: left -10px;
}
#sidebar-left  ul#next-to-race li.icon-horse, h3.icon-horse {
    background-image:url(../images/icon-horse.png);
	background-position: left -10px;
}
#sidebar-left  ul#next-to-race li.icon-carriage, h3.icon-carriage {
    background-image:url(../images/icon-carriage.png);
	background-position: left -10px;
}
#sidebar-left .icon {
	height: 21px;
	width: 34px;
	margin: 2px auto 2px auto;
	background-repeat: no-repeat;
}
#sidebar-left .btn-blue {
	background:#0b6390;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	padding: 3px 6px;
	margin-left: 5px;
}
#sidebar-left .btn-blue:hover {
    background:#095378;
	color:#fff;
}
#sidebar-left .icon.hound {
    background-image:url(../images/icon-hound.png);
	background-position: left -90px;
}
#sidebar-left .icon.horse {
    background-image:url(../images/icon-horse.png);
	background-position: left -90px;
}
#sidebar-left .icon.carriage {
    background-image:url(../images/icon-carriage.png);
	background-position: left -90px;
}
#sidebar-left .next-to-race-buttons {
    text-align:center;
	margin-bottom: 10px;
}
#sidebar-left .next-to-race-buttons .unSelected{
    opacity: 0.5;
}


/*  multi sport */
#multi-detail {
    padding-top: 20px;
}
#multi-detail .multi-heading .panel-heading{
    background: #019ee0;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}
#multi-detail .multi-heading .league{
    font-weight: bold;
    font-size: 14px;
}
#multi-detail .multi-heading .league:before{
    font-family: 'Glyphicons Halflings';
    content:"\e131";
    position:relative;
}
#multi-detail .multi-heading .event{
    font-weight: bold;
    font-size: 13px;
}
#multi-detail .multi-heading .event:before{
    font-family: 'Glyphicons Halflings';
    content:"\e224";
    position:relative;
}
#multi-detail .multi-heading .time{
    font-weight: bold;
    font-size: 12px;
}
#multi-detail .multi-heading .time:before{
    font-family: 'Glyphicons Halflings';
    content:"\e023";
    position:relative;
}
#multi-detail .multi-markets-panel{
    cursor: pointer;
}
#multi-detail .multi-markets-panel .market-active{
    color: #ff7d00;
    font-weight: bold;
}
#multi-detail .multi-markets-panel .multi-collapsable{
    display: none;
}
#multi-detail .multi-markets-panel .switch{
    text-align: center;
    border-top: 1px solid #C0C0C0;
    padding-top: 7px;
    margin-bottom: 10px;
}
#multi-detail .multi-markets-panel .signle-market{
    margin-bottom: 5px;
}
#multi-detail .multi-content .panel-heading:after {
    font-family: 'Glyphicons Halflings';
	content:"\e114";
    float: right;
    color: #fff;
}
#multi-detail .multi-content .panel-heading.collapsed:after {
    content:"\e113";
}
#multi-detail .price:hover{
    cursor: pointer;
    background: #FFA500;
}
#multi-detail .multi-league-list .event-heading{
    background: #019EB3;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 6px 10px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}
#multi-detail .multi-league-list .event-heading span{
    font-size: 11px;
}
#multi-detail .multi-league-list .event-sub-heading{
    padding: 10px;
}
#multi-detail .multi-league-list .event-content{

}

#multi-detail .multi-league-list .event-content .price-content{
    background: white;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 4px;
    height: 30px;
    padding: 6px;
}
#multi-detail .multi-league-list .event-content .price-content:hover{
    cursor: pointer;
    background: #FFA500;
}
#multi-detail .multi-league-list .event-content .price-content .prop{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#multi-detail .multi-league-list .event-content .price-content .price{
}

#multi-detail .not-aval{
    text-align: center;
    font-size: 14px;
    font-weight:bold;
}


/* Betslip */
#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-right: 236px;
}
#betslip {
    z-index: 1000;
    position: fixed;
    right: 249px;
    width: 0;
    height: 100%;
    margin-right: -249px;
    overflow-y:visible;
	overflow-x:hidden;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#betslip .tab-content {
    padding: 0;
}
#wrapper.toggled #betslip {
    width: 280px !important;
	background:#f2f2f2;
	font-size:10px;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
	    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -100px;
}
#betslip .heading {
    background:#142841;
	color:#fff;
    padding: 5px;
	width: 265px;
	font-size:14px;
}
#betslip .heading .title {
    border-bottom: 1px solid #163152;
	padding-bottom:5px;
	margin-bottom: 5px;
	line-height:20px;
}
#betslip .heading .title .btn {
    padding: 0 4px;
	font-size:10px;
}
#betslip .content {
    padding: 0px;
	width: 265px;
}
#betslip .panel-heading {
    background:#0f1d2e;
	color:#fff;
	border:none;
	border-radius:0;
	margin-bottom:0px;
}
#betslip .panel-heading .panel-title:after, #betslip .panel-title:after {
    font-family: 'Glyphicons Halflings';
    content:"\e252";
    float: right;
    color: #fff;
}
#betslip .panel-heading .panel-title.collapsed:after {
    content:"\e250";
}
#betslip .panel-heading .panel-title {
    font-size: 12px;
}
#betslip .row-content {
    padding: 3px 8px;
    border-top: 1px solid #fff;
	border-bottom: 1px solid #e0e0e0;
}
#betslip .row-content .row {
    margin-left: 0px;
	margin-right: 0px;
}
#betslip .row-content label {
    margin-right: 4px;
	margin-bottom: 0px;
}
#betslip .btn-primary {
    background:#019ee0;
	border:1px solid #019ee0;
	position:relative;
	padding: 6px 28px;
	color:#fff;
}
#betslip a:hover.btn.btn-primary {
    background:#018CC7;
	box-shadow:none;
}

#betslip .pending-betslip a.btn-default {
    background:#142841;
	border:1px solid #fff;
	color:#fff;
}
#betslip .pending-betslip {
    text-align:center;
	padding-bottom:0px;
}
#betslip .pendingPanel .btn-green {
    width: 60%;
    margin: 15px auto;
    background: #a8ba0a;
}

#betslip .betslip-nav  {
    background:none;
	padding:0;
	border:none;
    display: flex;
}
#betslip .betslip-nav  div{
    width: 45%;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid white;
    font-weight: 400;
    height: 36px;
    line-height: 31px;
    text-align: center;
    color: rgba(255,255,255,0.9);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#betslip .betslip-nav  div.active {
    background:#019ee0;
	border:1px solid #019ee0;
}
#betslip .betslip-nav  div.active:after {
    position: absolute;
    bottom: -4px;
    left: calc(50% - 4px);
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: #019ee0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#betslip input.input-sm {
    width: 70px;
	padding: 2px 6px;
	display:inline;
	color:#333333 !important;
}
#betslip select.input-sm {
    width: 70px;
	padding: 2px 6px;
	display:inline;
	font-size:10px;
	color:#333333 !important;
}
#betslip .betslip-empty{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight:bold;
}
#betslip .betslip-error div{
    text-align: center;
    margin-bottom: 0px;
}
#betslip .single-bets .btn-default {
    background:none;
	border:none;
}
#betslip .single-bets .btn-default:after{
    font-family: 'Glyphicons Halflings';
    content:"\e080";
}
#betslip .single-bets input[type="checkbox"] {
    margin:0 2px 0 0;
	float: left;
}
#betslip .single-bets .bet-slip{
    background : white;
    margin-bottom: 10px;
}
#betslip .single-bets .bet-slip:hover{
    background : #dbe7ef;
}
#betslip .single-bets .bet-slip .W,
#betslip .single-bets .bet-slip .S{
    background : #dcffd1;
}
#betslip .single-bets .bet-slip .PS{
    background : #F0E68C;
}
#betslip .single-bets .bet-slip .E,
#betslip .single-bets .bet-slip .F{
    background : #FED2D2;
}
#betslip .single-bets .name-bet {
    font-size : 11px;
    font-weight: bold;
	text-transform:uppercase;
}
#betslip .single-bets .delete-bet {
    float:right;
	text-align:right;
}
#betslip .single-bets .delete-bet .refresh{
}
#betslip .single-bets .delete-bet .remove{
    color: #c11515;
}
#betslip .subHeading{
    width: 100%;
    padding: 7px 15px;
    list-style: none;
    background-color: #C2C2C2;
    border-radius: 4px;
    font-size: 13px;
}

#betslip .form-group {
    display:block;
	margin-bottom: 0;
}
#betslip .form-group div.col-xs-8, #betslip .form-group div.col-xs-4 {
    padding-right: 0;
	padding-left: 0;
}
#betslip .bet-location {
    /* text-indent: 12px; */
    color: #777777;
    font-size: 11px;
    margin-bottom: 3px;
}
#betslip .bet-location div{
    /*margin-top: 10px;*/
}
#betslip .multi-selection {
    display: block;
}
#betslip .bet-type {
    text-align:right;
	padding-right: 20px !important;
	color:#777777;
}
#betslip .betslip-bet {
    margin-bottom: 5px;
	margin-top: 0px;
}
#betslip .free-bet {
    position:relative;
}
#betslip .free-bet button {
    background:#e9e9e9;
	color:#777777;
	position:absolute;
	right: 14px;
	top: 6px;
	z-index: 1000;
	border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	-webkit-border-radius:2px;
	border:none;
	padding: 2px 4px;
}
#betslip .free-bet input {
    /*position:absolute;*/
	width: 110px;
}
#betslip .free-bet .input-err{
    color:red;
}
#betslip .free-bet .bonus{
    display: inline-block;
}
#betslip .free-bet .bonus input{
    width: 16px;
    margin-top: 3px;
}
#betslip .estimated-return {
    color:#659226;
}
#betslip .betslip-msg{
    border-top : dashed 1px ;
    padding-top: 3px;
}
#betslip .betslip-msg .reBtn-panel {
    padding : 10px;
}
#betslip .betslip-msg .reBtn-panel .reBtn{
    padding: 6px;
    font-size: 12px;
    width: 35%;
}


#betslip h6.panel-title {
    background:#e9e9e9;
	font-size:9px;
	padding: 8px;
}
#betslip h6.panel-title:after, #betslip .panel-title:after {
    font-family: 'Glyphicons Halflings';
    content:"\e252";
    float: left;
    color: #777;
	margin-right: 4px;
}
#betslip .panel-title.collapsed:after {
    content:"\e250";
}
#betslip .row-betslip-total {
	display:block;
	padding: 4px 8px;
	background:#e8e8e8;
	color:#333333;
	font-weight:bold;
}
#betslip .row-betslip-total span:nth-child(2){
    float: right;
}
#betslip .betslip-clear{}
#betslip .betslip-btn{
    width: 55%;
    background: #a8ba0a;
}
#betslip .betslip-deposit{}
#betslip .disabled{
    opacity: 0.5;
}

#betslip a.btn-gray {
    background:#c2c2c2;
	padding: 6px 28px;
    color:#333;
}
#betslip a:hover.btn-gray {
    background:#A8A8A8;
}
#betslip .betslip-total:before {
    content: "";
    display: block;
    height: 41px;
    width: 100%;
    background: linear-gradient(#f2f2f2 0%, transparent 0%), linear-gradient(135deg, #e8e8e8 33.33%, transparent 33.33%) 0 0%, #e8e8e8 linear-gradient(45deg, #e8e8e8 33.33%, #f2f2f2 33.33%) 0 0%;
    background: -webkit-linear-gradient(#f2f2f2 0%, transparent 0%), -webkit-linear-gradient(135deg, #e8e8e8 33.33%, transparent 33.33%) 0 0%, #e8e8e8 -webkit-linear-gradient(45deg, #e8e8e8 33.33%, #f2f2f2 33.33%) 0 0%;
    background: -o-linear-gradient(#f2f2f2 0%, transparent 0%), -o-linear-gradient(135deg, #e8e8e8 33.33%, transparent 33.33%) 0 0%, #e8e8e8 -o-linear-gradient(45deg, #e8e8e8 33.33%, #f2f2f2 33.33%) 0 0%;
    background: -moz-linear-gradient(#f2f2f2 0%, transparent 0%), -moz-linear-gradient(135deg, #e8e8e8 33.33%, transparent 33.33%) 0 0%, #e8e8e8 -moz-linear-gradient(45deg, #e8e8e8 33.33%, #f2f2f2 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 14px 41px, 14px 41px;
}

#betslip .betslip-login{
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.65);
    display: none;
}
#betslip .betslip-login .betslip-login-inner {}
#betslip .betslip-login .betslip-login-inner .betslip-login-box{
    position: relative;
    /* margin: 15px; */
    background: #fafafa;
}

#betslip .betslip-login .betslip-login-inner .betslip-login-box .betslip-login-header{
    background: #019ee0;
    margin-top: 0px;
    margin-bottom: 0px;
    padding:10px;
    color : white;
}
#betslip .betslip-login .betslip-login-inner .betslip-login-box .betslip-login-header .betslip-login-title{
    display: inline;
}
#betslip .betslip-login .betslip-login-inner .betslip-login-box .betslip-login-header .betslip-login-close{
    position: absolute;
    top: 16px;
    right: 15px;
    display: block;
    width: 17px;
    height: 17px;
}
#betslip .betslip-login .betslip-login-inner .betslip-login-box .betslip-login-form{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    overflow: hidden;
}
#betslip .betslip-login .betslip-login-inner .betslip-login-box .betslip-login-form .betslip-text {
    display: block;
    margin-bottom: 10px;
    padding-left: 0;
}
#betslip .betslip-login .betslip-login-inner .betslip-login-box .betslip-login-form .betslip-text input{
    display: block;
    height: 33px;
    width: 100%;
    margin: 0;
    padding: 0 6px;
    background: #fff;
}
#betslip .betslip-login .betslip-login-inner .betslip-login-box .betslip-login-form .betslip-text .login-btn{
    background: #464e5b;
    color: #fff;
    margin-bottom: 10px;
    width: 100%;
    display: block;
}
#betslip .betslip-login .betslip-login-inner .betslip-login-box .betslip-login-form .betslip-text .join-btn{
    background: #a8ba0a;
    color: #fff;
    margin-bottom: 10px;
    width: 100%;
    display: block;
}
#betslip .betslip-login .betslip-login-inner .betslip-login-box .betslip-login-form .betslip-text .betslip-dont,
#betslip .betslip-login .betslip-login-inner .betslip-login-box .betslip-login-form .betslip-text .betslip-forgot{
    display: block;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/* live bet*/
.live-slip {
    position: absolute;
    top: 0px;
    right: 100px;
    width: 200px;
    border: 1px solid black;
    padding: 8px;
    background: rgba(0, 0, 51, 0.85);
    color: white;
    z-index: 101;
}

.live-slip .title{
    background: rgb(0, 0, 51);
    padding: 7px;

}

.live-slip .bet-info{
    text-align: left;
}
.live-slip .bet-info .mute-call{
    margin: 10px 0px;
}
.live-slip .bet-info .mute-call .logo{
    padding: 3px;
    background:#ff7d00;
    border-radius:6px;
}
.live-slip .bet-info .bet-input{
    color: black;
}
.live-slip .bet-num-panel{

}
.live-slip .bet-num-panel table{
    width: 100%;
}
.live-slip .bet-num-panel table tr{
}
.live-slip .bet-num-panel table tr td{
    border:3px solid #262651;
    background: #000033;
    padding: 3px;
    border-radius: 10px;
}
.live-slip .bet-num-panel table tr td:hover{
    background:#ff7d00;
}

.live-slip .bet-submit{

}
.live-slip .bet-submit .bet-live{
    width: 100%;
    background:#ff7d00;
    color:white;
    font-weight:bold;
}

/* Dashboard */
#filter-results {
    padding: 8px;
	background:#fff;
}
#filter-results .btn-group .btn {
    font-size: 11px;
}
#filter-results .btn-group .btn.btn-primary {
    color:#232323;
	background:#e7e7e7;
	border:1px solid #fff;
}
#filter-results .btn-group .btn.btn-primary.active, #filter-results .btn-group .btn.btn-primary:hover {
    color:#fff;
	background:#0B6390;
}
#filter-results select.form-control {
	display:inline-block;
	font-size: 11px;
	width:auto;
	padding: 4px 6px !important;
	height:auto;
	background:#0b6390;
	color:#fff;
}
#filter-results select option {
	display:inline-block;
}
#transaction-summary {
    background:#fff;
	padding: 10px;
}
#transaction-summary .transactions-heading.row{
    margin: 0;
}
#transaction-summary .transactions-content.row {
    margin: 5px 0 0 0;
}
#transaction-summary .transactions-heading {
    border:1px solid #e7e7e7;
	border-right: 0;
	font-size:13px;
}
#transaction-summary .transactions-heading div {
    background:#e7e7e7;
	padding: 25px 10px;
	font-weight:bold;
	text-align: center;
}
#transaction-summary .transactions-content {
    border:1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}
#transaction-summary .transactions-content div {
	padding: 15px 10px;
	text-align:center;
	font-size:13px;
}
#transaction-summary .transactions-content:hover {
    background:#f7f7f7;
}
#transaction-summary .transactions-content div.trans-item, #transaction-summary .transactions-content div.trans-title, .result-table td.horse-name {
    text-align:left;
}
#transaction-summary .transactions-content div.trans-balance {
    position:relative;
}
#transaction-summary .transactions-content div.trans-balance a.btn-gray {
    position:absolute;
	top: 0;
	right:0;
	bottom:0;
	background:#e7e7e7;
	border-radius:0;
	width: 20px;
	text-align:center;
	padding:32px 0 50px 0;
	color:#515151;
}

#transaction-summary  div.trans-multi-detail{
	display: none;
}
.datepicker {
    font-size: 12px;
}
.change-date {
    margin: 0 0 10px 10px;
}
.future-races {
    text-align:right;
	margin-bottom:10px;
}
.future-races button {
    margin: 0;
}
#datetimepicker {
    display:inline-block;
}
#transaction-summary .panel-collapse {
    background:#F2F1F1;
	padding: 10px;
	font-size: 11px;
}


/*  generic helper  */
.invisialbe{
    display: none!important;
}
.notAval{
    opacity:0.25;
}
.disable {
 width: 100%;
 height: 200px;
 background-color: #bbb;
 opacity:0.25;
}
.loading {
    font-size: 14px;
    font-weight: bold;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.flag_au {
	display: inline-block;
	width: 24px;
	height: 16px;
	background-image: url("../images/icon_flags.png");
	margin: 0 3px -2px 0;
	background-position: 0 0x;
	background-repeat: no-repeat;
}
.flag {
	display: inline-block;
	width: 24px;
	height: 16px;
	background-image: url("/../images/icon_flags.png");
	margin: 0 3px -2px 0;
	background-position: 50px 50px;
	background-repeat: no-repeat;
	/*Note: class name concatenated programmably by 'flag' + {{CountryCode}} in js*/
	/*Note: class name concatenated programmably by 'flag' + {{CountryCode}} in js*/
	/*Note: class name concatenated programmably by 'flag' + {{CountryCode}} in js*/
	/*Note: class name concatenated programmably by 'flag' + {{CountryCode}} in js*/
	/*Note: class name concatenated programmably by 'flag' + {{CountryCode}} in js*/
	/*Note: class name concatenated programmably by 'flag' + {{CountryCode}} in js*/
	/*Note: class name concatenated programmably by 'flag' + {{CountryCode}} in js*/
	/*Note: class name concatenated programmably by 'raceState' + {{CountryCode}} in js*/
	/*Note: class name concatenated programmably by 'flag' + {{CountryCode}} in js*/
	/*Note: class name concatenated programmably by 'flag' + {{CountryCode}} in js*/
	/*Note: class name concatenated programmably by 'flag' + {{CountryCode}} in js*/
	/*Note: class name concatenated programmably by 'flag' + {{CountryCode}} in js*/
	/*Note: class name concatenated programmably by 'flag' + {{CountryCode}} in js*/
}
.flag.flagENG {
	background-position: -444px -2px;
}
.flag.flagFRA {
	background-position: -132px -2px;
}
.flag.flagHK {
	background-position: -184px -2px;
}
.flag.flagIRE {
	background-position: -210px -2px;
}
.flag.flagJAP {
	background-position: -236px -2px;
}
.flag.flagNZL,
.flag.flagNZ {
	background-position: -262px -2px;
}
.flag.flagSAF {
	background-position: -340px -2px;
}
.flag.flagSCO {
	background-position: -444px -2px;
}
.flag.flagSIN {
	background-position: -314px -2px;
}
.flag.flagSWE {
	background-position: -392px -2px;
}
.flag.flagUAE {
	background-position: -418px -2px;
}
.flag.flagUSA {
	background-position: -470px -2px;
}
.flag.flagWAL {
	background-position: -444px -2px;
}
.raceLessFiveMins {
	background-color: #ea7f77;
}
.raceLessThirtyMins {
	background-color: #ffb76b;
}
.racePaying {
	background-color: #AFD6A1;
}
.raceInterim {
	background-color: #8DBCD6;
}
.raceClosed {
	background-color: #4EA4BF;
}
.raceNone {
	background-color: #CCCCCC;
}
.menu_icon_AUSSIE_RULES {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -536px 0;
}
.menu_icon_BASEBALL {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -237px 0;
}
.menu_icon_BASKETBALL {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -70px 0;
}
.menu_icon_BOXING {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -327px 0;
}
.menu_icon_CHESS {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -905px 0;
}
.menu_icon_CRICKET {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -721px 0;
}
.menu_icon_CYCLING {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -373px 0;
}
.menu_icon_DARTS {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -350px 0;
}
.menu_icon_E_SPORTS {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -0px 0;
}
.menu_icon_GOLF {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -257px 0;
}
.menu_icon_GRID_IRON {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -212px 0;
}
.menu_icon_HANDBALL {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -95px 0;
}
.menu_icon_ICE_HOCKEY {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -141px 0;
}
.menu_icon_MARTIAL_ARTS {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -24px 0;
}
.menu_icon_RUGBY_LEAGUE {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -419px 0;
}
.menu_icon_RUGBY_UNION {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -47px 0;
}
.menu_icon_SOCCER {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -188px 0;
}
.menu_icon_TENNIS {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -165px 0;
}
.menu_icon_VOLLEYBALL {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -117px 0;
}
.menu_icon_TABLE_TENNIS {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -445px 0;
}
.menu_icon_ENTERTAINMENT {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -606px 0;
}
.menu_icon_FINANCIAL {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -634px 0;
}
.menu_icon_GAELIC_FOOTBALL {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -791px 0;
}
.menu_icon_MOTOR {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -512px 0;
}
.menu_icon_NETBALL {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -882px 0;
}
.menu_icon_OTHER_SPORTS {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -558px 0;
}
.menu_icon_POKER {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -304px 0;
}
.menu_icon_SNOOKER {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -281px 0;
}
.menu_icon_SOCCER_FUTURES {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -187px 0;
}
.menu_icon_SURFING {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -698px 0;
}
.menu_icon_BADMINTON {
	background-image: url(../images/sports-04.png);
	width: 23px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: -492px 0;
}
a:hover {
	text-decoration: none;
}
.wp_odds_cell {
    text-align:center;
	font-weight:bold;
	cursor:pointer;
}
.wp_odds_cell a{
    color:#232323;
}
#footer-nav {
   text-align:center;
   color:#fff;
}
#footer-nav .container {
   background:#000032;
   padding: 4px 0;

}
#footer-nav p {
    font-size: 11px;
	margin-bottom: 0;
}
#footer-nav a {
    color:#fff;
}
#static-page h3 {
    color:#484848;
	text-transform:uppercase;
	font-size:16px;
	font-weight: bold;
	padding-bottom: 10px;
}
#static-page ol, #static-page ul {
    margin-bottom: 20px;
}
#static-page ol li, #static-page ul li {
    margin-bottom: 10px;
}
#static-page p {
    margin-bottom: 20px;
}
#static-page .panel {
    background:none;
}
#static-page .panel-default>.panel-heading {
    background:#006ab6;
	color:#fff;
	border:none;
	border-radius:0;
	margin-bottom:4px;
}
#static-page  .panel-default>.panel-heading .panel-title:after, #static-page  .panel-default>.panel-heading .panel-title:after,  .panel-markets .panel-heading:after {
    font-family: 'Glyphicons Halflings';
	content:"\e113";
    float: right;
    color: #fff;
}
#static-page  .panel-default>.panel-heading .panel-title.collapsed:after, .panel-markets .panel-heading.collapsed:after {
    content:"\e114";
}
#static-page  .panel-default>.panel-heading .panel-title {
    font-size: 13px;
	font-weight:bold;
}
.fluct_green{
	color: green ! important;
}
.fluct_red{
	color: red;
}

.frame_headings {
 padding: 3px;
 border-radius: 4px;
 border-top-style: solid;
 border-right-style : solid;
 border-bottom-style : solid;
 border-left-style : solid;
 color: #000032;
}

.panel-emptyheading {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-left: 42px;
    height: 39px;
    background-color: #E7E7E7;
}
