<h3>SPORTS A-Z</h3>
<ul class="sport-sidebar" aria-multiselectable="true" >
    <li ng-repeat="sportType in sportTypes.types" style="cursor: pointer; padding: 2px 0 2px 5px;">
        <span class="menu_icon_{{sportType.id}}" href="#{{sportType.id}}"></span>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <span data-toggle="collapse" href="#{{sportType.id}}" style="font-size: 16px">{{sportType.name}}</span>
        <ul id="{{sportType.id}}" class="panel-collapse collapse" style="cursor: pointer">
            <li ng-repeat="league in sportTypes.leagues[sportType.id]" style="background-image: url(images/bullet-orange.png);overflow: hidden;text-overflow:ellipsis;">
                <a href="#/sportDetail?leagueId={{league.id.key}}" style="padding: 1px 0 2px 40px; white-space: nowrap;">{{league.id.value}}</a>
            </li>
        </ul>
    </li>
 </ul>
