<div id="type_filter_buttonGroup">
	<h3>
	    NEXT TO JUMP
	    <select class="form-control pull-right" ng-model='selectedVenue' id="selVenue">
			<option >All Venues</option>
	        <option ng-repeat="venueName in venueList">{{venueName}}</option>
	    </select>
	</h3>
	<div class="next-to-race-buttons">
		<a  class="btn btn-blue" ng-class='{unSelected: !activeFilter.R}' ng-click="typeSwitch('R')">
			<div class="icon horse"></div>
		</a>
		<a  class="btn btn-blue" ng-class='{unSelected: !activeFilter.G}' ng-click="typeSwitch('G')">
			<div class="icon hound"></div>
		</a>
		<a  class="btn btn-blue" ng-class='{unSelected: !activeFilter.T}' ng-click="typeSwitch('T')">
			<div class="icon carriage"></div>
		</a>
	</div>
</div>

<ul id="next-to-race" style="height:300px;overflow:auto;overflow-x:hidden;">
   <li class="icon-{{race.typeClass}} col-xs-12"
     ng-repeat="race in allRaces | filter: filterVenue | filter:filterType"
     ng-if="race.displayCss"
	 data-venue="{{race.venue}}">
       <a style="width: 112px;display:block;overflow:hidden;
               white-space:nowrap;text-overflow:ellipsis;padding-right:0px;padding-left:0px;"
          class="col-xs-8"
          title="{{race.venue}}"
          href="#{{race.url}}">{{race.venueDisplay}}
       </a>
       <span class="badge col-xs-4" syle="padding:none;">
           {{race.startTimeDisplay}}
       </span>
   </li>
</ul>
