<h3>MULTIS SPORTS</h3>
<ul class="sport-sidebar" aria-multiselectable="true" >
    <li ng-repeat="sportType in multisSportType.types" style="cursor: pointer; padding: 2px 0 2px 5px;">
            <span class="menu_icon_{{sportType.id}}" href="#{{sportType.id}}_multi"></span>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <span data-toggle="collapse" data-target="#{{sportType.id}}_multi" style="font-size: 16px" ng-click="getLeagueList(sportType.id)">{{sportType.name}}</span>
            <ul id="{{sportType.id}}_multi" class="panel-collapse collapse">
                <li ng-repeat="league in map[sportType.id]" style="background-image: url(images/bullet-orange.png);overflow: hidden;text-overflow:ellipsis;">
                    <a href="#/multileagueDetail?leagueId={{league.id.key}}" style="padding: 1px 0 2px 40px; white-space: nowrap;">{{league.id.value}}</a>
                </li>
            </ul>
    </li>
</ul>
