<div class="col-md-9" id="content-right">
    <div id="account-title">
        ABOUT US
    </div>
    <div style="max-width: 800px; margin: auto;" class="frame_headings">
        <div class="frame_body" style="padding: 3%">
            <div style="text-align: center;">
                <img class="hidden-sm hidden-xs" title="Pinnaclebet" alt="Pinnaclebet:  pinnaclebet.com.au" src="images/logo.jpg" style="width:60%; margin-bottom: 30px;">
                <div style="font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 30px;">Contact Details</div>
            </div>
            <br>
            <div style="margin: 0 auto;">
                <div style="margin: 20px 0 10px 0;font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 20px;">Email</div>
                <div>General Enquiries: support@pinnaclebet.com.au</div>
                <div>Deposit/Withdrawal Enquiries: admin@pinnaclebet.com.au</div>
                <div style="margin: 20px 0 10px 0;font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 20px;">Phone</div>
                <div>Within Australia: 02 9387 8503</div>
                <div>Outside of Australia: +61 2 9387 8503</div>
                <div style="margin: 20px 0 10px 0;font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif; font-size: 20px;">Postal Address</div>
                <div>Suite 9, Level 2, 79-85 Oxford Street, Bondi Junction, NSW 2022</div>
            </div>
        </div>
    </div>
</div>
