<div id="footer-nav">
    <div class="container">
        <p><a href="#/aboutus">Contact Us</a> | <a href="{{mobileUrl}}">Mobile</a> | <a href="#/terms">Terms and Conditions</a> | <a href="#/policy">Privacy Policy</a> | <a href="#/responsible">Responsible Gaming</a></p>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-5">
              <h3>Mobile Betting Apps</h3>
              <div class="col-xs-6">
                <div class="sub-title">IPad & IPhone</div>
                <a href="https://itunes.apple.com/au/app/pinnaclebet/id1121443152?mt=8"><img src="images/apple_icon.svg" /></a>
              </div>
              <div class="col-xs-6">
                <div class="sub-title">Other Devices</div>
                <a href="https://m.pinnaclebet.com.au"><img src="images/mobile_site_footer.png" class="mobile"/></a>
              </div>
            </div>
            <div class="col-xs-7">
                <h3>Deposit Options</h3>
                <img src="images/visa-logo.png" alt="Visa" />
                <img src="images/mastercard-logo.png" alt="Mastercard" />
                <img src="images/mastercard-securecode-logo.png" alt="Mastercard Securecode" />
                <a href="http://www.polipayments.com/consumer"><img src="https://resources.apac.paywithpoli.com/poli-logo-43.png" height="38px" alt="POLi Logo"/></a>
                <a href="http://www.eway.com.au/secure-site-seal?i=12&s=3&pid=514449a9-a7db-4f0b-8621-dba9f39266d2" title="eWAY Payment Gateway" target="_blank" rel="nofollow"><img alt="eWAY Payment Gateway" height="38px" src="https://www.eway.com.au/developer/payment-code/verified-seal.ashx?img=12&size=3&pid=514449a9-a7db-4f0b-8621-dba9f39266d2" /></a>
                <img src="images/direct-deposit-logo.png" alt="Direct Deposit" />

            </div>
        </div>
    </div>
</div>
<div id="footer-bottom">
    <div class="container">
        <div class="pull-right">
        <!-- Begin DigiCert site seal HTML and JavaScript --><div id="DigiCertClickID_ACmPzbOi" data-language="en_US">	<a href="http://www.digicert.com/wildcard-ssl-certificates.htm">Wildcard Certificate</a></div><script type="text/javascript">var __dcid = __dcid || [];__dcid.push(["DigiCertClickID_ACmPzbOi", "7", "m", "black", "ACmPzbOi"]);(function(){var cid=document.createElement("script");cid.async=true;cid.src="//seal.digicert.com/seals/cascade/seal.min.js";var s = document.getElementsByTagName("script");var ls = s[(s.length - 1)];ls.parentNode.insertBefore(cid, ls.nextSibling);}());</script><!-- End DigiCert site seal HTML and JavaScript -->
        </div>

    </div>
</div>
