<div class="col-md-9" id="content-right">
                     <div class="row">
                         <div class="col-sm-12" id="static-page">
                             <h2>PRIVACY POLICY</h2>
                             <h3>GENERAL</h3>
                             <ol>
                                 <li>Pinnaclebet ensures that we take the reasonable steps to protect the privacy of all the people it deals with. This includes our compliance with the Privacy Act 1988 (Cth), which also compels Pinnaclebet to comply with the Australian Privacy Principles, which are designed to protect your privacy.</li>
                                 <li>We reserve the right to make changes to our Privacy Policy at any time. You will be notified of these changes and will be able to view them on our Website.</li>
                             </ol>
                             <h3>CONSENT</h3>
                             <ol start="3">
                                 <li>By using the Pinnaclebet website and signing up to open an account with Pinnaclebet you agree that you are bound by the Pinnaclebet Privacy Policy, and therefore you consent to the collection, use, disclosure and retention of your personal information, in the manner and for the purposes described in the Pinnaclebet Privacy Policy.</li>
                             </ol>
                             <h3>COLLECTION AND USE OF PERSONAL INFORMATION</h3>
                             <ol start="4">
                                 <li>When you sign up to be a member and maintain an account with Pinnaclebet, you will be required to provide us with personal information upon registration. Pinnaclebet will only collect your personal information that is reasonably necessary for, or directly related to, on or more of Pinnaclebet functions or activities.</li>
                                 <li>The kinds of personal information that Pinnaclebet will collect and hold include your name, date of birth, residential address, phone number, email address and bank account details.</li>
                                 <li>Please note that we may not be able to provide you with our services if you do not provide us with your personal information.</li>
                             </ol>                             
                             <h3>USE OF PERSONAL INFORMATION</h3>
                             <ol start="7">
                                 <li>We collect personal, private information from you so as to:
                                     <ol type="a">
                                         <li>Provide you with our services</li>
                                         <li>Correctly identify you</li>
                                         <li>Manage your betting instructions</li>
                                         <li>Manage payment of winnings</li>
                                         <li>Monitor transactions for the purposes of preventing fraud, irregular betting, money laundering and cheating or detecting suspicious behaviour</li>
                                         <li>Make appropriate checks for fraud, illegal activity, terrorism and money laundering</li>
                                         <li>Check your credit status</li>
                                         <li>Conduct research to develop and improve our services</li>
                                         <li>Monitor your habits and needs so as to provide better services suited to your style of operating</li>
                                         <li>Market and promote other services in which you may be interested</li>
                                     </ol>
                                 </li>
                                 <li>Pinnaclebet may also use your personal information to contact you via email or ordinary post. If you do not wish to be contacted via these means please send an email to support@pinnaclebet.com.au and notify your preferences</li>
                             </ol>
                             <h3>DISCLOSURE</h3>
                             <ol start="9">
                                 <li>Pinnaclebet does not provide any personal information or trade such information to or with third parties. All Pinnaclebet employees sign confidentiality undertakings in respect of the business activities of Pinnaclebet and the private information of its customers.</li>
                                 <li>However, Pinnaclebet may disclose your private information where such disclosure is:
                                     <ol type="a">
                                         <li>Required to verify your identity when you open an account with Pinnaclebet</li>
                                         <li>Required by any relevant law</li>
                                         <li>Required by any order, lawful direction or other similar process in connection with a court of competent jurisdiction</li>
                                         <li>Required to cooperate with any investigation by any law enforcement agency or gambling regulator or racing or sporting body of the Commonwealth of Australia or any State or Territory</li>
                                         <li>Reasonably necessary for one or more enforcement related activities conducted by, or on behalf of, an enforcement body</li>
                                         <li>Allowed by the Australian Privacy Principles</li>
                                         <li>Necessary to protect the rights and assets of Pinnaclebet, including without limitation, its intellectual property and web site</li>
                                     </ol>
                                 </li>
                             </ol>  
                             <h3>DATA SECURITY</h3> 
                             <ol start="11">
                                 <li>Pinnaclebet takes reasonable steps to ensure that your personal information is kept safe and secure, including using state of the art technology. Pinnaclebet regularly checks all inbound and out bound transmissions for quality control and security. Internet and other electronic access is guarded by secure servers using high level encryption. However Pinnaclebet cannot guarantee that all data or information is totally secure as there are inherent risks in utilising the internet for communication.</li>
                                 <li>Pinnaclebet uses state of the art technology to keep your personal information safe and secure. However Pinnaclebet cannot guarantee that all data or information is totally secure as there are inherent risks in utilising the internet for communication. Pinnaclebet regularly checks all inbound and out bound transmissions for quality control and security. Internet and other electronic access is guarded by secure servers using high level encryption. </li>
                                 <li>All Pinnaclebet employees sign confidentiality undertakings in respect of the business activities of Pinnaclebet and the personal information of its customers.</li>
                                 <li>In accordance with the Australian Privacy Principles, when your personal information is no longer needed to be retained by Pinnaclebet, Pinnaclebet will take such steps as are reasonable to destroy the personal information or ensure that then you can no longer be identified from the information</li>
                             </ol>                                                      
                             <h3>COOKIES</h3>
                             <ol start="15">
                                 <li>When you log into your account via the internet, Pinnaclebet will issue a small data file called a "cookie" to your device. A cookie is data which a website can send to your browser, which may then be stored by your domain to authenticate and properly identify you as the account holder and to check the pages you visit. The information collected by a cookie is not personal information. By continuing to use our website and logging into your account via the internet, you hereby consent to the issue of such cookies.</li>
                             </ol> 
                             <h3>ACCESS AND CORRECTION</h3>
                             <ol start="16">
                                 <li>In accordance with our obligations under the Australian Privacy Principles, we will take reasonable steps to ensure that the personal information Pinnaclebet collects from you is accurate, up-to-date and complete.</li>
                                 <li>If you wish to gain access to the personal information Pinnaclebet has collected about you, or make corrections or changes to your personal information, simply send a request via email to support@pinnaclebet.com.au. Once we have verified your identity, we will change the details according to your instructions.</li>
                                 <li>If for any reason Pinnaclebet is unable to give you all of the information held, or your request for access is refused, you will be informed of the reason Pinnaclebet cannot do so and the avenues available to you to complain about the refusal.</li>
                             </ol> 
                             <h3>MARKETING</h3>
                             <ol start="19">
                                 <li>From time to time, we may use your personal information to inform you via email, SMS, mail (or by some other means) about future events, promotional activities and new products and services.</li>
                                 <li>These marketing activities will relate to the primary purpose for which your personal information was collected.</li>
                                 <li>You may opt out of receiving direct marketing materials by contacting us at any time. If you provide us with an opt out request, we will activate your request as soon as reasonably possible after receiving it. However, we may still need to send you essential (non-marketing) information about your account from time to time.</li>
                             </ol>
                             <h3>THIRD PARTY WEBSITES</h3>
                             <ol start="22">
                                 <li>Whilst Pinnaclebet will take all reasonable steps to protect any personal information we collect from you, it is vital that you keep your private and confidential information safe and secure.</li>
                                 <li>Whilst Pinnaclebet does not provide, sell or trade personal information which it collects to third parties, Pinnaclebet Privacy Policy does not apply to third party websites which are linked to our Website that we do not have any control over. Accordingly, your access to, and use of, third party sites linked to our Website is at your own risk.</li>
                             </ol>
                             <h3>CROSS-BORDER DATA FLOW</h3>
                             <ol start="24">
                                 <li>During the course of business, Pinnaclebet may need to provide your personal information to an overseas recipient, for example, for the purposes of hosting.</li>
                                 <li>However, where any personal information is disclosed to overseas recipients, Pinnaclebet will take reasonable steps in the circumstances to ensure that the overseas recipient is not in breach of the Australian Privacy Principles in relation to the information.</li>
                             </ol>
                             <h3>COMPLAINTS</h3>
                             <ol start="26">
                                 <li>If you wish to raise any privacy concerns or complaints you may have with Pinnaclebet, please contact us sending an email to support@pinnaclebet.com.au.</li>
                                 <li>Upon receiving your complaint, Pinnaclebet will investigate all complaints and provide a response as soon as reasonably practicable.</li>
                             </ol>
                             <h3>CONTACTING YOU</h3>
                             <ol start="28">
                                 <li>Pinnaclebet may contact you via email or ordinary post. If you do not wish to be contacted via these means please send an email to our Contact Us page and notify your preferences.</li>
                             </ol>
                             <h3>YOUR PRIVACY DUTY</h3>
                             <ol start="29">
                                 <li>It is vital that you keep your private and confidential information safe and secure. Pinnaclebet cannot be liable for any loss you suffer as a result of third parties gaining access to such information.</li>
                             </ol>
                             <h3>AGREEMENT</h3>
                             <ol start="30">
                                 <li>By using the Pinnaclebet web site and opening an account with Pinnaclebet you agree that you are bound by the Pinnaclebet Privacy Policy.</li>
                             </ol>
                             
                        </div>
                     </div>

                 </div>