<div class="col-md-9" id="content-right">
                     <div class="row">
                         <div class="col-sm-12" id="static-page">
                             <h2>RESPONSIBLE GAMBLING</h2>
                             <p>Pinnaclebet recognises that for a small minority of customers gambling can be or become a significant problem. Pinnaclebet is committed to sharing the responsibility with all governments and the wider community in helping problem gamblers.</p>
                             <h3>WHAT IS PROBLEM GAMBLING?</h3>
                             <p>Where there is a lack of control over the frequency and scope of betting, problem gambling exists. Problem gambling causes many problems including financial loss, family issues, employment problems and expenses visited upon the wider community.</p>
                             <p>By the time gambling has become a problem it has often impacted on several areas of a person's life. Signs of a problem can include:</p>
                             <ol type="a">
                                 <li>Increasing levels of debt</li>
                                 <li>Struggling to pay bills on time</li>
                                 <li>Lying to friends and family</li>
                                 <li>Feeling more moody, irritable or angry</li>
                                 <li>Missing work or having trouble concentrating at work</li>
                                 <li>Prioritising spending time and money on gambling rather than spending time with friends</li>
                                 <li>Thinking that continued gambling will fix financial problems</li>
                                 <li>Feeling like the gambling has taken over</li>
                             </ol>
                             
                             <h3>SELF EXCLUSION</h3>
                             <p>If you feel the need to be excluded from Pinnaclebet on a temporary or permanent basis, please contact us by e-mail at support@pinnaclebet.com.au and we will arrange exclusion for you.</p>
                             <p>Once this change has been made, you will no longer be able to access your Member Account:</p>
                             <ol type="a">
                                 <li>Until the expiry of the set period (if your exclusion is been for a temporary basis); or</li>
                                 <li>Permanently, if your exclusion is on this basis (unless you revoke your self-exclusion).</li>
                             </ol>
                             <p>If you decide to self-exclude yourself permanently, you will be able to withdraw the balance from your Pinnaclebet Account.</p>
                             <p>During the period of your self-exclusion, Pinnaclebet will use all reasonable endeavors to ensure that you do not open another Pinnaclebet Account.</p>
                             <p>Please note that any Account that is closed by the Member can simply be opened again by the Member.</p>
                             <h3>IF YOU ARE A PROBLEM GAMBLER</h3>
                             <p>If you feel you need help, the following services are available to people for whom gambling has become a problem:</p>
                             <p>Telephone Counselling:</p>
                             <p>Queensland: 1800 222 050</p>
                             <p>New South Wales: 1800 633 635</p>
                             <p>Tasmania: 1800 000 973</p>
                             <p>Victoria: 1800 156 789</p>
                             <p>South Australia: 1800 060 757</p>
                             <p>Western Australia: 1800 622 112</p>
                             <p>Lifeline Canberra: 13 11 14</p>
                             <p>Gambler's Help: 1800 156 789</p>
                             <h3>COMPLAINTS</h3>
                             <p>If you have a complaint, you should in the first instance, contact the member support team at support@pinnaclebet.com.au where your complaint can be registered and recorded. Complaints should be made as soon as possible after circumstances arise that cause you to have a complaint.</p>
                             <h3>COMPLIANCE</h3>
                             <p>Pinnaclebet abides by the laws and regulations of Norfolk Island. Pinnaclebet will maintain its business licenses and operate under the authorities granted by, and within, the extent of its business licenses at all times.</p>
                             <h3>CONSUMER PRIVACY AND DATA PROTECTION</h3>
                             <p>Pinnaclebet has designed all services to protect customer privacy and confidentiality. Pinnaclebet has instituted controls to detect and eliminate fraud and to protect data from internal and external hacking. All instances of fraud (including credit card fraud) and hacking will be immediately reported to the appropriate agency. Pinnaclebet has an extensive Privacy Policy. </p>
                             <h3>LIMITING ACCESS BY MINORS</h3>
                             <p>Pinnaclebet maintains adequate controls to prohibit minors from accessing our gaming system. These controls require customers to declare that they are of lawful age during the sign-up process.</p>
                        </div>
                     </div>

                 </div>