<div class="col-md-9" id="multi-detail">
    <div class="row">
        <div class="col-md-12">
            <div class="multi-heading">
                <div class="panel panel-heading">
                    {{events.sportType.value}}
                </div>
            </div>
            <div class="multi-markets-panel">
                <div ng-class="{'multi-collapsable' : $index > 8}" class="col-md-4 clearfix signle-market" ng-repeat="market in events.marketTypes track by $index">
                    <span class="glyphicon glyphicon-chevron-right"></span><span ng-class="{'market-active': marketId == market.id}" ng-click="multiEventMarket(market.id)">{{market.name}}</span>
                </div>
                <div class="col-md-12 switch" ng-if="events.marketTypes.length > 9">
                    <div ng-show="events.marketSw" ng-click="multiEventMarketSwitch()">Show More({{events.marketTypes.length - 9}})</div>
                    <div ng-hide="events.marketSw" ng-click="multiEventMarketSwitch()">Show Less</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 multi-league-list">
            <div class="">
                <div ng-repeat="event in events.sportEvents">
                    <div class="event-heading">
                        {{event.id.value}}

                    </div>
                    <div class="event-sub-heading">
                        <span>{{getTime(event.startTime).getPopularTime}}</span> <div class="pull-right"><a href="#/multiDetail?eventId={{event.id.key}}">Markets({{event.availableMarketCount}})</a></div>
                    </div>
                    <div class="event-content">
                        <table class="table table-bordered table-condensed tr-highlight ">
                            <tr ng-repeat="market in topMarkets[event.id.key]">
                                <td ng-if="market.prices.length > 0">
                                    <div class="col-md-6 " ng-repeat="price in market.prices">
                                        <div class="col-md-12 price-content">
                                            <div class="col-md-9 prop">
                                                <div class="">{{price.proposition.key}}</div>
                                            </div>
                                            <div class="col-md-3 price" ng-click="addSlip(price)">{{getSportPriceDSP(price.price)}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td ng-if="market.prices.length <= 0">
                                    <div class="col-md-12 not-aval">No Market Available</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
