<div class="col-md-9" id="multi-detail">
    <div class="row">
        <div class="col-md-12">
            <div class="multi-heading">
                <div class="panel panel-heading">
                    {{eventMarket.event.sportType}}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="multi-heading">
                <div class="league">
                    {{eventMarket.event.parentEvent.value}}
                </div>
                <div class="event">
                    {{eventMarket.event.id.value}}
                </div>
                <div class="time">
                    {{getTime(eventMarket.event.startTime).getPopularTime}}
                </div>
            </div>
        </div>
        <div class="col-md-12  detailed-sportlist">
            <div class="panel panel-default multi-content">
                <div ng-repeat="market in eventMarket.markets">
                    <div class="panel-heading " data-toggle="collapse"  data-target="#{{hashCode(eventMarket.event.id.key + market.type + market.period.key)}}">
                        {{market.typeName}} {{market.period.value}}
                    </div>
                    <div class="panel-collapse collapse in" id="{{hashCode(eventMarket.event.id.key + market.type + market.period.key)}}" >
                        <table class="table table-bordered table-condensed tr-highlight ">
                            <tr ng-repeat="price in market.prices">
                                <td style="text-align: left;">{{price.proposition.key}}</td>
                                <td width="100" class="first-try-score price" ng-click="addSlip(price)">{{getSportPriceDSP(price.price)}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
