<div class="container">
    <div class="inner">
        <div class="logo" style="font-size: 14px">Pinnaclebet</div>
        <div class="betslip-btn"><a id="betslip-toggle" class="btn btn-default btn-orange" ng-click="betslip()">Betslip <span class="badge">{{slips.length}}</span></a></div>
        <div class="user-info" style="font-size: 14px"  ng-if="accountInfo.isLogin">
            <span ng-if="accountInfo.accountHolderDto.bonusBets.length > 0">Bonus: ${{setAmount(accountInfo.accountHolderDto.bonusBets[0].availableFund).toDollars}}</span>
            <span>Balance: {{setAmount(accountInfo.accountHolderDto.wallet.availableFunds).setSportAmountWithDollarSign()}}</span>
            <span>Pending Bets: {{setAmount(accountInfo.accountHolderDto.wallet.openbets).setSportAmountWithDollarSign()}}</span>
        </div>
    </div>
</div>
