<div ng-switch on="sidebarStatus.status">
    <div ng-switch-when="HOME">
        <live-betting-bar ng-if="sidebarStatus.liveBetting"></live-betting-bar>
        <quick-link-bar ng-if="sidebarStatus.quickLink"></quick-link-bar>
        <racing-bar ng-if="sidebarStatus.raceBar"></racing-bar>
        <sport-bar ng-if="sidebarStatus.sportBar"></sport-bar>
    </div>
    <div ng-switch-when="SPORT">
        <quick-link-bar ng-if="sidebarStatus.quickLink"></quick-link-bar>
        <sport-bar ng-if="sidebarStatus.sportBar"></sport-bar>
    </div>
    <div ng-switch-when="RACING">
        <racing-bar ng-if="sidebarStatus.raceBar"></racing-bar>
        <quick-link-bar ng-if="sidebarStatus.quickLink"></quick-link-bar>
    </div>
    <div ng-switch-when="MULTI">
        <multis-bar ng-if="sidebarStatus.multisBar"></multis-bar>
    </div>
    <div ng-switch-when="ACCOUNT">
        <my-account-bar ng-if="sidebarStatus.myAccount"> </my-account-bar>
        <quick-link-bar ng-if="sidebarStatus.quickLink"></quick-link-bar>
        <racing-bar ng-if="sidebarStatus.raceBar"></racing-bar>
    </div>
</div>
