<div class="col-md-9" id="content-right">
    <div class="row">
        <div class="col-sm-12" id="sports-listing">
            <ul class="nav nav-tabs" role="tablist">
                <!--<li role="presentation"><a aria-controls="live" role="tab" data-toggle="tab" ng-click="getDurt('live')">LIVE</a></li>-->
                <li role="presentation" class="active"><a aria-controls="listing-6-hours" role="tab" data-toggle="tab" ng-click="getDurt('0_6')">Next 6 Hours</a></li>
                <li role="presentation"><a aria-controls="listing-12-hours" role="tab" data-toggle="tab" ng-click="getDurt('0_12')">Next 12 Hours</a></li>
                <li role="presentation"><a aria-controls="listing-18-hours" role="tab" data-toggle="tab" ng-click="getDurt('0_18')">Next 18 Hours</a></li>
                <li role="presentation"><a aria-controls="listing-24-hours" role="tab" data-toggle="tab" ng-click="getDurt('0_24')">Next 24 Hours</a></li>
                <li role="presentation"><a aria-controls="listing-7-days" role="tab" data-toggle="tab" ng-click="getDurt('0_168')">Next 7 Days</a></li>
            </ul>
            <div class="" id="accordion" ng-if="sportDurt.length <= 0">
                <div class="panel">
                    No More Events, Please Check Later.
                </div>
            </div>
            <div class="" id="accordion" ng-if="sportDurt.length > 0">
                <div class="panel">

                    <div ng-repeat="sport in sportDurt">
                        <div class="panel-default" ng-repeat="(sportType, events) in sport">
                            <div class="panel-heading" role="tab" id="{{sportType}}-heading">
                                <h4 class="panel-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" data-target="#{{sportType}}-durt" >
                                    {{sportType}} <span class="badge">{{events.length}}</span>
                                </h4>
                            </div>
                            <div id="{{sportType}}-durt" class="collapse">
                                <ul class="list-group">
                                    <li><a >All {{sportType}} Betting</a></li>
                                    <li class="row" ng-repeat="event in events">
                                        <div class="col-xs-2 time">
                                            <div class="btn btn-orange">
                                                <span ng-if="event.isLiveEvents">LIVE</span>
                                                <span ng-if="!event.isLiveEvents">{{getTime(event.startTime).mmdd}} {{getTime(event.startTime).mmss}}</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 event">
                                            <span style="color: #142841">{{event.parentEvent.value}}</span><br><a href="#/event?eventId={{event.id.key}}"><span>{{event.id.value}}</span></a>
                                        </div>
                                        <div class="col-xs-2 markets">
                                            <a href="#/event?eventId={{event.id.key}}" class="btn pull-right">Markets ({{event.availableMarketCount}})</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

       </div>
    </div>

</div>
