<div class="col-md-9" id="content-right">
     <div class="row">
         <div class="col-md-12 detailed-sportlist">
             <div class="panel panel-default">
               <div class="panel-heading">{{sportAll.sportType.replace('_',' ')}}</div>
                <div ng-repeat="sportDTO in sportAll.leagues">
                 <table class="table table-bordered table-condensed additional-market">
                     <tr>
                         <th colspan="2" class="title">{{sportDTO.sportInfo.leagueName}}</th>
                         <th>WIN</th>
                         <th>HANDICAP</th>
                         <th colspan="2">TOTALS</th>
                     </tr>
                     <tr>
                         <td rowspan="{{sportDTO.sportInfo.colNum}}" class="time">
                             <span ng-if="sportDTO.sportInfo.isLiveEvents">LIVE</span>
                             <span ng-if="!sportDTO.sportInfo.isLiveEvents">{{getTime(sportDTO.sportInfo.startTime).mmdd}} {{getTime(sportDTO.sportInfo.startTime).mmss}}</span>
                         </td>
                         <td class="team">{{sportDTO.sportInfo.homeTeam}}</td>
                         <td class="win price" ng-click="addSlip(sportDTO.prices.propHomeWin)" ng-class="getColorStatus(sportDTO.prices.propHomeWin)">
                             <div class="price-unit">
                                 {{getSportPriceDSP(sportDTO.prices.propHomeWin.price)}}
                                 <span ng-class="{'glyphicon glyphicon-arrow-up' : sportDTO.prices.propHomeWin.colorStatus === 'higher',
                                                 'glyphicon glyphicon-arrow-down': sportDTO.prices.propHomeWin.colorStatus === 'lower'}">
                                 </span>
                                 <!-- <liveslip price="sportDTO.prices.propHomeWin"></liveslip>    -->
                             </div>
                         </td>
                         <td class="handicap price row" ng-click="addSlip(sportDTO.prices.propHomeHDP)">
                             <div class="left col-sm-4">{{sportDTO.prices.propHomeHDP.proposition.value}}</div>
                             <div class="right col-sm-8" ng-class="getColorStatus(sportDTO.prices.propHomeHDP)">{{getSportPriceDSP(sportDTO.prices.propHomeHDP.price)}}
                                <span ng-class="{'glyphicon glyphicon-arrow-up' : sportDTO.prices.propHomeHDP.colorStatus === 'higher',
                                                'glyphicon glyphicon-arrow-down': sportDTO.prices.propHomeHDP.colorStatus === 'lower'}">
                                </span>

                             </div>
                         </td>
                         <td class="price" rowspan="{{sportDTO.sportInfo.colNum}}" ng-click="addSlip(sportDTO.prices.propHomeOU)">
                             {{sportDTO.prices.propHomeOU.proposition.key}}<br/>
                             <span class="over-under price" ng-class="getColorStatus(sportDTO.prices.propHomeOU)"><strong>{{getSportPriceDSP(sportDTO.prices.propHomeOU.price)}}</strong>
                                 <span ng-class="{'glyphicon glyphicon-arrow-up' : sportDTO.prices.propHomeOU.colorStatus === 'higher',
                                                 'glyphicon glyphicon-arrow-down': sportDTO.prices.propHomeOU.colorStatus === 'lower'}">
                                 </span>
                             </span>
                         </td>
                         <td class="price" rowspan="{{sportDTO.sportInfo.colNum}}" ng-click="addSlip(sportDTO.prices.propAwayOU)" >
                             {{sportDTO.prices.propAwayOU.proposition.key}}<br/>
                             <span class="over-under price" ng-class="getColorStatus(sportDTO.prices.propAwayOU)" ><strong>{{getSportPriceDSP(sportDTO.prices.propAwayOU.price)}}</strong>
                                 <span ng-class="{'glyphicon glyphicon-arrow-up' : sportDTO.prices.propAwayOU.colorStatus === 'higher',
                                                 'glyphicon glyphicon-arrow-down': sportDTO.prices.propAwayOU.colorStatus === 'lower'}">
                                 </span>
                             </span>
                        </td>
                     </tr>
                     <tr>
                         <td class="team">{{sportDTO.sportInfo.awayTeam}}</td>
                         <td class="win price" ng-click="addSlip(sportDTO.prices.propAwayWin)" ng-class="getColorStatus(sportDTO.prices.propAwayWin)">
                             {{getSportPriceDSP(sportDTO.prices.propAwayWin.price)}}
                             <span ng-class="{'glyphicon glyphicon-arrow-up' : sportDTO.prices.propAwayWin.colorStatus === 'higher',
                                             'glyphicon glyphicon-arrow-down': sportDTO.prices.propAwayWin.colorStatus === 'lower'}">
                             </span>
                         </td>
                         <td class="handicap price row"  ng-click="addSlip(sportDTO.prices.propAwayHDP)" >
                             <div class="left col-sm-4">{{sportDTO.prices.propAwayHDP.proposition.value}}</div>
                             <div class="right col-sm-8 " ng-class="getColorStatus(sportDTO.prices.propAwayHDP)">
                                 {{getSportPriceDSP(sportDTO.prices.propAwayHDP.price)}}
                                 <span ng-class="{'glyphicon glyphicon-arrow-up' : sportDTO.prices.propAwayHDP.colorStatus === 'higher',
                                                 'glyphicon glyphicon-arrow-down': sportDTO.prices.propAwayHDP.colorStatus === 'lower'}">
                                 </span>
                             </div>
                         </td>
                     </tr>
                     <tr ng-if="sportDTO.sportInfo.colNum == 3">
                         <td class="team">Draw</td>
                         <td class="win price" ng-click="addSlip(sportDTO.prices.propDrawWin)" ng-class="getColorStatus(sportDTO.prices.propDrawWin)">
                             {{getSportPriceDSP(sportDTO.prices.propDrawWin.price)}}
                             <span ng-class="{'glyphicon glyphicon-arrow-up' : sportDTO.prices.propDrawWin.colorStatus === 'higher',
                                             'glyphicon glyphicon-arrow-down': sportDTO.prices.propDrawWin.colorStatus === 'lower'}">
                             </span>
                         </td>
                     </tr>
                     <tr ng-if="sportDTO.sportInfo.avlMarket > 0">
                         <td colspan="7"><a data-toggle="collapse" data-target="#{{sportDTO.sportInfo.eventId}}" data-parent=".detailed-sportlist" aria-expanded="true" class="btn pull-left" ng-click="getAddlMakt(sportDTO.sportInfo.eventId)">Markets ({{sportDTO.sportInfo.avlMarket}})</a></td>
                     </tr>

                 </table>

                 <div id="{{sportDTO.sportInfo.eventId}}" class="panel panel-default collapse markets-panel">
                     <div ng-hide="markets[sportDTO.sportInfo.eventId] && markets[sportDTO.sportInfo.eventId].isReady" class="loading">
                         <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
                     </div>
                    <div ng-show="markets[sportDTO.sportInfo.eventId] && markets[sportDTO.sportInfo.eventId].isReady" ng-repeat="market in markets[sportDTO.sportInfo.eventId].markets" class="market-panel">

                        <div ng-switch="getMarket(market.type)" >
                            <div ng-switch-when="win">
                                <div class="panel-heading collapsed" role="button" data-toggle="collapse"  data-target="#{{hashCode(market.type + market.period.key + sportDTO.sportInfo.eventId)}}" >{{market.typeName}} {{market.period.value}}</div>
                                <div class="panel-collapse collapse" id="{{hashCode(market.type + market.period.key + sportDTO.sportInfo.eventId)}}" role="tabpanel" aria-labelledby="choose-own-line-handicap">
                                    <table class="table table-bordered table-condensed td-highlight" >
                                        <tbody ng-repeat="price in market.prices">
                                            <tr>
                                                <td rowspan="{{sportDTO.sportInfo.colNum}}" class="time">
                                                    <span ng-if="markets[sportDTO.sportInfo.eventId].event.isLiveEvents">LIVE</span>
                                                    <span ng-if="!markets[sportDTO.sportInfo.eventId].event.isLiveEvents">{{getTime(markets[sportDTO.sportInfo.eventId].event.startTime).mmdd}} {{getTime(markets[sportDTO.sportInfo.eventId].event.startTime).mmss}}</span>
                                                </td>
                                                <td class="team">{{price.home.homeTeam}}</td>
                                                <td class="win price" ng-click="addSlip(price.home)">{{getSportPriceDSP(price.home.price)}}</td>
                                                <td class="handicap row">&nbsp;</td>
                                                <td rowspan="{{sportDTO.sportInfo.colNum}}" class="over-under">&nbsp;</td>
                                                <td rowspan="{{sportDTO.sportInfo.colNum}}" class="over-under">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td class="team">{{price.away.awayTeam}}</td>
                                                <td class="win price" ng-click="addSlip(price.away)">{{getSportPriceDSP(price.away.price)}}</td>
                                                <td class="handicap row">&nbsp;</td>
                                            </tr>
                                            <tr ng-if="sportDTO.sportInfo.colNum == 3">
                                                <td class="team">Draw</td>
                                                <td class="win price" ng-click="addSlip(price.draw)">{{getSportPriceDSP(price.draw.price)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div ng-switch-when="handicap">
                                <div class="panel-heading collapsed" role="button" data-toggle="collapse"  data-target="#{{hashCode(market.type + market.period.key + sportDTO.sportInfo.eventId)}}" >{{market.typeName}} {{market.period.value}}</div>
                                <div class="panel-collapse collapse" id="{{hashCode(market.type + market.period.key + sportDTO.sportInfo.eventId)}}" role="tabpanel" aria-labelledby="choose-own-line-handicap">
                                    <table class="table table-bordered table-condensed td-highlight" >
                                        <tbody ng-repeat="price in market.prices">
                                            <tr>
                                                <td rowspan="2" class="time">
                                                    <span ng-if="markets[sportDTO.sportInfo.eventId].event.isLiveEvents">LIVE</span>
                                                    <span ng-if="!markets[sportDTO.sportInfo.eventId].event.isLiveEvents">{{getTime(markets[sportDTO.sportInfo.eventId].event.startTime).mmdd}} {{getTime(markets[sportDTO.sportInfo.eventId].event.startTime).mmss}}</span>

                                                </td>
                                                <td class="team">{{price.home.homeTeam}}</td>
                                                <td class="win">&nbsp;</td>
                                                <td class="handicap row"><div class="left col-sm-6">({{price.home.proposition.value}})</div> <div class="right col-sm-6 price" ng-click="addSlip(price.home)">{{getSportPriceDSP(price.home.price)}}</div></td>
                                                <td rowspan="2" class="over-under">&nbsp;</td>
                                                <td rowspan="2" class="over-under">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td class="team">{{price.away.awayTeam}}</td>
                                                <td class="win">&nbsp;</td>
                                                <td class="handicap row"><div class="left col-sm-6">({{price.away.proposition.value}})</div> <div class="right col-sm-6 price" ng-click="addSlip(price.away)">{{getSportPriceDSP(price.away.price)}}</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div ng-switch-when="over_under">
                                <div class="panel-heading collapsed" role="button" data-toggle="collapse"  href="#{{hashCode(market.type + market.period.key + sportDTO.sportInfo.eventId)}}">{{market.typeName}} {{market.period.value}}</div>
                                <div class="panel-collapse collapse" id="{{hashCode(market.type + market.period.key + sportDTO.sportInfo.eventId)}}" role="tabpanel" aria-labelledby="first-try-scorer">
                                    <table class="table table-bordered table-condensed even-row tr-highlight" >
                                        <tbody ng-repeat="price in market.prices">
                                            <tr>
                                                <td style="text-align: left;">{{price.home.proposition.key}}</td>
                                                <td width="100" class="first-try-score price" ng-click="addSlip(price.home)">{{getSportPriceDSP(price.home.price)}}</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;">{{price.away.proposition.key}}</td>
                                                <td width="100" class="first-try-score price" ng-click="addSlip(price.away)">{{getSportPriceDSP(price.away.price)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div ng-switch-default>
                                <div class="panel-heading collapsed" role="button" data-toggle="collapse"  href="#{{hashCode(market.type + market.period.key + sportDTO.sportInfo.eventId)}}">{{market.typeName}} {{market.period.value}}
                                </div>
                                <div class="panel-collapse collapse" id="{{hashCode(market.type + market.period.key + sportDTO.sportInfo.eventId)}}" role="tabpanel" aria-labelledby="first-try-scorer">
                                    <table class="table table-bordered table-condensed tr-highlight ">
                                        <tr ng-repeat="price in market.prices">
                                            <td style="text-align: left;">{{price.proposition.key}}</td>
                                            <td width="100" class="first-try-score price" ng-click="addSlip(price)">{{getSportPriceDSP(price.price)}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                 </div>

                </div>

             </div>
        </div>
     </div>
</div>
