<div class="container">
     <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav" role="tablist">
               <li role="presentation" ng-class="{active: activeTab == 'home'}" ng-click="activeTabFun('home')"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
               <li role="presentation" ng-class="{active: activeTab == 'racing'}" ng-click="activeTabFun('racing')"><a href="#/racing" ng-if="navbarStatus.raceTab">Racing</a></li>
               <li role="presentation" ng-class="{active: activeTab == 'sport'}" ng-click="activeTabFun('sport')"><a href="#/sports?duration=0_6" ng-if="navbarStatus.sportTab">Sports</a></li>
               <li role="presentation" ng-class="{active: activeTab == 'live'}" ng-click="activeTabFun('live')"><a href="#" ng-if="navbarStatus.liveTab">Live Betting</a></li>
               <li role="presentation" ng-class="{active: activeTab == 'multi'}" ng-click="activeTabFun('multi')"><a href="#/multi?duration=0_6" ng-if="navbarStatus.multisTab">Multis</a></li>
               <li role="presentation" ng-class="{active: activeTab == 'myAccount'}" ng-click="activeTabFun('myAccount')"><a href="#/account" ng-if="navbarStatus.myAccountTab">My Account</a></li>
           </ul>
           <p class="navbar-text navbar-right"><a id="betslip-toggle" class="btn btn-default btn-orange" ng-click="betslip()">Betslip <span class="badge">{{slips.length}}</span></a></p>
       </div><!--/.nav-collapse -->
   </div>
