<div >
    <h3>my acount</h3>
    <ul>
        <li style="background-image: url(images/bullet-orange.png);"><a href="#/account">My Transactions</a></li>
        <li style="background-image: url(images/bullet-orange.png);"><a href="#/account/changePassword">Change Password</a></li>
        <li style="background-image: url(images/bullet-orange.png);"><a href="#/account/viewProfile">View Profile</a></li>
        <li style="background-image: url(images/bullet-orange.png);"><a href="#/account/editProfile">Edit Profile</a></li>
        <li style="background-image: url(images/bullet-orange.png);"><a href="#/account/depositinstr">Deposit Instructions</a></li>
        <li style="background-image: url(images/bullet-orange.png);"><a href="#/account/withdraw">Withdrawal Instructions</a></li>
        <li style="background-image: url(images/bullet-orange.png);"><a href="#/account/idSubmission">ID Submission</a></li>
    </ul>
</div>
