<div class="col-md-9" id="content-right">
 <div class="row">
     <div class="col-sm-9" id="featured-events">
         <ul class="nav nav-tabs" role="tablist">
             <li role="presentation" class="active"><a href="#{{hashCode('RacingtopLeague')}}" aria-controls="racing" role="tab" data-toggle="tab" ng-click="topLeagueEvents.activeLeague = 'Racing'">RACING</a></li>
             <li role="presentation" ng-repeat='leagName in topLeagueEvents.LeagueNames'><a href="#{{hashCode(leagName+'topLeague')}}" aria-controls="{{hashCode(leagName+'topLeague')}}" role="tab" data-toggle="tab" ng-click="topLeagueEvents.activeLeague = leagName ">{{ nameMap[leagName] || leagName}}</a></li>
         </ul>

         <div class="tab-content">
             <!-- <h5>{{topLeagueEvents.activeLeague}}</h5> -->
             <div role="tabpanel" class="tab-pane active" id="{{hashCode('RacingtopLeague')}}">
                 <div class="race-list-container clearfix row" ng-repeat="races in nextTWRaces">
                     <div class="col-xs-3 race-list" ng-repeat="race in races">
                         <a href="#/racing/meeting/{{race.meetingId}}/{{race.id}}">
                            <div class="left-info col-xs-6">
                                <div class="location">{{race.venue}}</div>
                                <div class="race-number">R{{race.raceNumber}}</div>
                             </div>
                             <div class="right-info col-xs-6">
                                <div class="icon {{race.type}}"></div>
                                <div class="time">{{startTimeDisplay(race.startTime)}}</div>
                             </div>
                         </a>
                     </div>

                 </div>
             </div>

              <div role="tabpanel" class="tab-pane" id="{{hashCode(LeagueName+'topLeague')}}" ng-repeat='(LeagueName , events) in topLeagueEvents.events'>
                 <div class="panel panel-default" ng-repeat="eventObj in events">
                     <div class="panel-heading">{{getTime(eventObj.sportEventDto.startTime).yymmdd}}</div>
                     <div class="panel-body">
                         <div class="row">
                             <div class="col-xs-2">
                                 {{getTime(eventObj.sportEventDto.startTime).mmss}}
                             </div>
                             <div class="col-xs-8">
                                 {{eventObj.sportEventDto.id.value}}
                             </div>
                             <div class="col-xs-2">
                                 <a href="#/event?eventId={{eventObj.sportEventDto.id.key}}" class="btn pull-right">Markets ({{eventObj.numberOfAvailableMarkets}})</a>
                             </div>
                         </div>
                     </div>
                     <div class="panel-footer">
                     <div class="row">
                         <div ng-class="{'col-md-4': eventObj.sportPriceDtos.length === 3, 'col-md-6': eventObj.sportPriceDtos.length !== 3}" ng-repeat="price in eventObj.sportPriceDtos">
                             <a ng-click="addSlip(price)" class="list-group-item">
                                 <span class="badge">{{getSportPriceDSP(price.price)}}</span>
                                 {{price.proposition.key}}
                             </a>
                         </div>
                       </div>
                       </div>

                 </div>

             </div>
         </div>

         <div class="row" ng-repeat="row in popularEvents">
             <div class="col-xs-12">
                 <div class="col-xs-6 bet" ng-repeat="col in row">
                     <div class="panel sports-bet">
                         <div class="panel-heading">{{col.sportEventDto.parentEvent.value}}</div>
                         <img src="images/background icons/{{findImage(col.sportEventDto.sportType)}}.png" class="img-responsive">
                         <div class="panel-body">

                             <a ng-click="addSlip(popularEvent)" class="list-group-item" ng-repeat="popularEvent in col.sportPriceDtos">
                                 <span class="badge">{{getSportPriceDSP(popularEvent.price)}}</span>
                                 {{popularEvent.proposition.key}}
                             </a>

                             <a href="#/event?eventId={{col.sportEventDto.id.key}}" class="btn pull-right">View More Markets</a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>


     </div>
     <div class="col-sm-3" id="ads">
         <a href="#"><img src="images/Upper_banner.png" class="img-responsive"></a>
         <a href="https://itunes.apple.com/au/app/pinnaclebet/id1121443152?mt=8"><img src="images/mobile_ad_2.png" class="img-responsive"></a>

     </div>
 </div>
 <div class="row">
     <div class="col-md-6 featured-sports">
         <div class="panel panel-default">
             <div class="panel-heading">FEATURED SPORTS</div>
             <div class="list-group">
                 <a href="#/event?eventId={{featureEvent.id.key}}" class="list-group-item" ng-repeat="featureEvent in featureEvents">
                     <span class="badge"><span class="red">{{featureEvent.isLiveEvents? 'LIVE': getTime(featureEvent.startTime).mmss ;}}</span><br/><span class="red">{{featureEvent.availableMarketCount}}</span> Markets</span>
                     <h4 class="list-group-item-heading">{{featureEvent.id.value}}</h4>
                     <p class="list-group-item-text">{{featureEvent.parentEvent.value}}</p>
                 </a>
             </div>
         </div>
     </div>
     <div class="col-md-6 featured-sports" ng-if="australianEvents.length <= 0">
         <div class="panel panel-default">
             <div class="panel-heading" ng-if="australianEvents.length > 0">FEATURED SPORTS</div>
             <div class="panel-emptyheading" ng-if="australianEvents.length <= 0"></div>
             <div class="list-group">
                 <a href="#/event?eventId={{featureEvent.id.key}}" class="list-group-item" ng-repeat="featureEvent in moreFeatureEvents">
                     <span class="badge"><span class="red">{{featureEvent.isLiveEvents? 'LIVE': getTime(featureEvent.startTime).mmss ;}}</span><br/><span class="red">{{featureEvent.availableMarketCount}}</span> Markets</span>
                     <h4 class="list-group-item-heading">{{featureEvent.id.value}}</h4>
                     <p class="list-group-item-text">{{featureEvent.parentEvent.value}}</p>
                 </a>
             </div>
         </div>
     </div>
     <div class="col-md-6 featured-sports" ng-if="australianEvents.length > 0">
         <div class="panel panel-default">
             <div class="panel-heading">UPCOMING AUSTRALIAN SPORTS</div>
             <div class="list-group">
                 <a href="#/event?eventId={{australianEvent.id.key}}" class="list-group-item" ng-repeat="australianEvent in australianEvents">
                     <span class="badge"><span class="red">{{australianEvent.isLiveEvents? 'LIVE': getTime(australianEvent.startTime).mmss ;}}</span><br/><span class="red">{{australianEvent.availableMarketCount}}</span> Markets</span>
                     <h4 class="list-group-item-heading">{{australianEvent.id.value}}</h4>
                     <p class="list-group-item-text">{{australianEvent.parentEvent.value}}</p>
                 </a>
             </div>
         </div>
     </div>
 </div>
</div>
