<tr ng-class="{'scratched': isScratched(header, entrant), 'late-scratched': entrant.lateScratching}">
	<th ng-if="isHeader(header)" style="width: 30px;">#</th>
	<th ng-if="isHeader(header)" style="width: 30px;" class="hidden-xs"></th>
	<th ng-if="isHeader(header)" style="font-size: 16px;">Runner <span style="font-size: 8px;">(Barrier)</span></th>
	<th class="poolType_TOTES" ng-if="isHeader(header)" ng-repeat="item in pools | filter:{bookmaker: {id: 'TobRacing'}, poolTypeId: 'W'}" width="80">TOTES</th>
	<th ng-if="isHeader(header) && (pools | filter:{bookmaker: {id: 'TobRacing'}, poolTypeId: 'W'}).length > 0" width="80"><div>1st</div><div class="btn selected" ng-click="toggleColumn(0)">FIELD</div></th>
	<th ng-if="isHeader(header) && (pools | filter:{bookmaker: {id: 'TobRacing'}, poolTypeId: 'W'}).length > 0" width="80"><div>2nd</div><div class="btn selected" ng-click="toggleColumn(1)">FIELD</div></th>
	<th ng-if="isHeader(header) && (pools | filter:{bookmaker: {id: 'TobRacing'}, poolTypeId: 'W'}).length > 0" width="80"><div>3rd</div><div class="btn selected" ng-click="toggleColumn(2)">FIELD</div></th>

	<td ng-if="isScratched(header, entrant) && !isHeader(header)" align="center">{{entrant.rugNumber}}</td>
	<td ng-if="isScratched(header, entrant) && !isHeader(header)" align="center" valign="middle" class="hidden-xs silkImage_cell">
		<div ng-style="silkImage(entrant.silkImageUrl)"></div>
	</td>
	<td ng-if="isScratched(header, entrant) && !isHeader(header)" style="text-align: left;">
		<div style="font-weight: 700;" class="ellipsis runnerName">
			{{entrant.runnerName}}
			<span ng-if="entrant.barrierPosition > 0">({{entrant.barrierPosition}})</span>
		</div>
		<div class="ellipsis riderName">
			{{entrant.riderName}}
			<span ng-if="entrant.weightHandicap > 0">({{entrant.weightHandicap}}kg)</span>
		</div>
	</td>
	<td ng-if="isScratched(header, entrant) && !isHeader(header) && (pools | filter:{bookmaker: {id: 'TobRacing'}, poolTypeId: 'W'}).length > 0" colspan="4" align="center">Scratched</td>

	<td ng-if="!isScratched(header, entrant) && !isHeader(header)">{{entrant.rugNumber}}</td>
	<td ng-if="!isScratched(header, entrant) && !isHeader(header)" align="center" valign="middle" class="hidden-xs silkImage_cell">
		<div ng-style="silkImage(entrant.silkImageUrl)"></div>
	</td>
	<td ng-if="!isScratched(header, entrant) && !isHeader(header)" style="text-align: left;">
		<div style="font-weight: 700;" class="ellipsis runnerName">
			{{entrant.runnerName}}
			<span ng-if="entrant.barrierPosition > 0">({{entrant.barrierPosition}})</span>
		</div>
		<div class="ellipsis riderName">
			{{entrant.riderName}}
			<span ng-if="entrant.weightHandicap > 0">({{entrant.weightHandicap}}kg)</span>
		</div>
	</td>
	<td ng-if="!isScratched(header, entrant) && !isHeader(header)" ng-repeat-start="item in pools | filter:{bookmaker: {id: 'TobRacing'}, poolTypeId: 'W'}">
		<div class="odds" ng-class="colorUpdate(entrant, item)">{{getOdds(entrant, item)}}</div>
	</td>
	<td class="inputcell"  ng-if="!isScratched(header, entrant) && !isHeader(header) && (pools | filter:{bookmaker: {id: 'TobRacing'}, poolTypeId: 'W'}).length > 0" ng-click="details.status != 'Open' || getOdds(entrant, item) == '-' || checkBox(0, $parent.$parent.$index);" style="font-size: 10px;"><input ng-disabled="details.status != 'Open' || getOdds(entrant, item) == '-'" type="checkbox" ng-model="checked_boxes[0][$parent.$parent.$index]" ng-click="$event.stopPropagation();"></td>
	<td class="inputcell" ng-if="!isScratched(header, entrant) && !isHeader(header) && (pools | filter:{bookmaker: {id: 'TobRacing'}, poolTypeId: 'W'}).length > 0" ng-click="details.status != 'Open' || getOdds(entrant, item) == '-' || checkBox(1, $parent.$parent.$index);" style="font-size: 10px;"><input ng-disabled="details.status != 'Open' || getOdds(entrant, item) == '-'" type="checkbox" ng-model="checked_boxes[1][$parent.$parent.$index]" ng-hide="$parent.box_selection" ng-click="$event.stopPropagation();"></td>
	<td class="inputcell" ng-if="!isScratched(header, entrant) && !isHeader(header) && (pools | filter:{bookmaker: {id: 'TobRacing'}, poolTypeId: 'W'}).length > 0" ng-click="details.status != 'Open' || getOdds(entrant, item) == '-' || checkBox(2, $parent.$parent.$index);" style="font-size: 10px;" ng-repeat-end><input ng-disabled="details.status != 'Open' || getOdds(entrant, item) == '-'" type="checkbox" ng-model="checked_boxes[2][$parent.$parent.$index]" ng-hide="$parent.box_selection" ng-click="$event.stopPropagation();"></td>
</tr>
