<th ng-repeat='item in pools | filter: getFixedPools |  filter: poolsFilter()' 
   width='80' tooltip-placement='bottom' tooltip-html-unsafe='{{getColumnName(item, nameMap).tooltip}}'
   tooltip-popup-delay='500' tooltip-append-to-body= true>
    {{getColumnName(item, nameMap).displayName}}
</th>
<th ng-repeat='item in pools | filter: getBestTotePools |filter: hiddenPools | filter: poolsFilter()'
   width='80' tooltip-placement='bottom' tooltip-html-unsafe='{{getColumnName(item, nameMap).tooltip}}'
   tooltip-popup-delay='500' tooltip-append-to-body= true>
    {{getColumnName(item, nameMap).displayName}}
</th>
<th ng-repeat='item in pools | filter: getBestToteSPPools |filter: hiddenPools | filter: poolsFilter()'
   width='80' tooltip-placement='bottom' tooltip-html-unsafe='{{getColumnName(item, nameMap).tooltip}}'
   tooltip-popup-delay='500' tooltip-append-to-body= true>
    {{getColumnName(item, nameMap).displayName}}
</th>
<th ng-repeat='item in pools | filter: getTotePools |filter: hiddenPools | filter: poolsFilter()'
   width='80' tooltip-placement='bottom' tooltip-html-unsafe='{{getColumnName(item, nameMap).tooltip}}'
   tooltip-popup-delay='500' tooltip-append-to-body= true>
    {{getColumnName(item, nameMap).displayName}}
</th>
<th ng-repeat='item in pools | filter: getMiddleToteSPPools |filter: hiddenPools | filter: poolsFilter()'
   width='80' tooltip-placement='bottom' tooltip-html-unsafe='{{getColumnName(item, nameMap).tooltip}}'
   tooltip-popup-delay='500' tooltip-append-to-body= true>
    {{getColumnName(item, nameMap).displayName}}
</th>
<th ng-repeat='item in pools | filter: geteToteFivePercentPPools |filter: hiddenPools | filter: poolsFilter()'
   width='80' tooltip-placement='bottom' tooltip-html-unsafe='{{getColumnName(item, nameMap).tooltip}}'
   tooltip-popup-delay='500' tooltip-append-to-body= true>
    {{getColumnName(item, nameMap).displayName}}
</th>
