<div class="race-res-tab">
	<table class="table table-bordered result-table">
		<tr class="table-header">
			<th colspan="3">Winners</th>
			<th ng-if="resultPools.length <= 1" colspan="2">
				<span ng-if="resultPools.length > 0">{{getColumnName(resultPools[0], nameMap).displayName}}</span>
			</th>
			<th ng-repeat="(key, value) in resultPools">
				{{getColumnName(value.P || value.W, nameMap).displayName}}
			</th>
			<th ng-repeat="(key, value) in otherResults">
				{{getColumnName(value, nameMap).displayName}}
			</th>
		</tr>
		<tr class="table-header" ng-repeat-start="item in place" ng-switch on="$index">
			<td ng-switch-when="0" colspan="{{3 + getColspan()}}">First</td>
			<td ng-switch-when="1" colspan="{{3 + getColspan()}}">Second</td>
			<td ng-switch-when="2" colspan="{{3 + getColspan()}}">Third</td>
		</tr>
		<tr ng-repeat="player in item" ng-repeat-end>
			<td>
				{{player.rugNumber}}
			</td>
			<td width="24">
				<div ng-style="silkImage(player.silkImageUrl)"><div>
			</td>
			<td style="text-align: left;">
				<div style="font-weight: 700;" class="ellipsis">
					{{player.runnerName}}
					<span ng-if="player.barrierPosition > 0">({{player.barrierPosition}})</span>
				</div>
				<div style="font-size: 10px;">
					{{player.riderName}}
					<span ng-if="player.weightHandicap > 0">({{player.weightHandicap}}kg)</span>
				</div>
			</td>
			<td ng-if="getNumOfResult() == 0" colspan="2"></td>
			<td ng-if="getNumOfResult() > 0" ng-repeat="(key, value) in resultPools" width="60" colspan="{{getNumOfResult() == 1 ? 2 : 1}}">
				<div ng-if="$parent.$parent.$parent.$index == 0">{{getOdds(player, value.W)}}</div>
				<div>{{getOdds(player, value.P)}}</div>
			</td>
			<td ng-if="getNumOfResult() > 0" ng-repeat="(key, value) in otherResults" width="60" colspan="{{getNumOfResult() == 1 ? 2 : 1}}">
				<!-- <div ng-if="$parent.$parent.$parent.$index == 0">{{getOdds(player, value)}}</div> -->
				<div ng-if="$parent.$parent.$parent.$index == 0">{{getOutcome(player, value)}}</div>
			</td>
		</tr>
		<tr class="table-header">
			<td colspan="{{3 + getColspan()}}">Exotics</td>
		</tr>
		<tr ng-repeat="item in exotics | orderBy:'dividend'">
			<td ng-switch on="item.poolType" colspan="3" style="text-align: right;">
				<span ng-switch-when="E">Exacta</span>
				<span ng-switch-when="FF">FirstFour</span>
				<span ng-switch-when="Q">Quinella</span>
				<span ng-switch-when="T">Trifecta</span>
				<span ng-switch-when="QD">Quadrella{{item.__races}}</span>
			</td>
			<td style="text-align: center;" colspan="">
				{{parseExoticsResult(item)}}
			</td>
			<td></td>
			<td>{{getRaceOdds(item.dividend,'RACING').toDecimalDSP}}</td>
		</tr>
	</table>
</div>
