<div>
	<div ng-if="leg_details" class="quadrella-odds-table">
		<div ng-if="closed">
			<div ng-if="legs.length == 4">Quadrella is currently closed.</div>
		</div>
		<div ng-if="!closed">
			<div ng-repeat="r in legs" ng-if="$even"
				class="quadrella-odds-row clearfix" ng-init="rowNum = $index">
				<div class="col-lg-6 col-md-6 multi-leg-race-odds"
					ng-repeat="i in [0, 1]" ng-if="legs[rowNum + i].race">
					<table class="table table-bordered">
						<caption>Leg {{rowNum + 1 + i}} : Race {{legs[rowNum + i].race.raceNumber}}</caption>
						<thead>
							<tr>
								<th style="width: 10%;">#</th>
								<th style="width: 35px;"></th>
								<th>Runner</th>
								<th style="width: 15%;">STAB</th>
								<th style="width: 20%;">
									<div>Selection</div>
									<div class="btn selected"
										ng-click="toogleSelection(legs[rowNum + i])">Field</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-class="{'scratched': isScratched('', entrant), 'late-scratched': entrant.lateScratching}"
								ng-repeat="entrant in legs[rowNum + i].entrants">
								<td>{{entrant.rugNumber}}</td>
								<td align="center" valign="middle"
									class="silkImage_cell ">
	                                <div ng-style="silkImage(entrant.silkImageUrl)"></div>
								</td>
								<td>
									<div style="font-weight: 700;" class="ellipsis runnerName">
										{{entrant.runnerName}} <span
											ng-if="entrant.barrierPosition > 0">({{entrant.barrierPosition}})</span>
									</div>
									<div class="ellipsis riderName">
										{{entrant.riderName}} <span ng-if="entrant.weightHandicap > 0">({{entrant.weightHandicap}}kg)</span>
									</div>
								</td>
								<td ng-if="isScratched('', entrant)" colspan="2" align="center">{{entrant.lateScratching
									? 'Late Scratching' : 'Scratched'}}</td>
								<td ng-if="!isScratched('', entrant)">{{getOdds(entrant, getSTABPool(legs[rowNum + i]))}}</td>
								<td ng-if="!isScratched('', entrant)"
									ng-click="details.status != 'Open' || getOdds(entrant, getSTABPool(legs[rowNum + i])) == '-' || checkBox(rowNum + i, $index);">
									<input type="checkbox"
									ng-model="legs[rowNum + i].selectedEntrants[$index]"
									ng-click="$event.stopPropagation();" ng-disabled="closed">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div style="position: relative; padding-right: 20px;">
			<span class="pull-right btn " ng-class="{disableSelection: !isConfirm ,makeSelection: isConfirm }" ng-click="makeMultilegs()">ADD TO BET SLIP</span>
			<span class="pull-right btn clearSelection" ng-click="makeMultilegs()">Clear Selections</span>
		</div>
	</div>
	<div ng-if="!leg_details">
		<table class="table">
			<tr>
				<td align="center" style="padding: 10px;">Quadrella Pool is not available!</td>
			</tr>
		</table>
	</div>
</div>
