

<tr ng-class="{'scratched': isScratched(header, entrant), 'late-scratched': entrant.lateScratching}">
    <!-- header -->
    <th rowspan="2" ng-if="isHeader(header)" style="width: 30px;">#{{line}}</th>
    <th rowspan="2" ng-if="isHeader(header)" style="width: 30px;" class=""></th>
    <th rowspan="2" ng-if="isHeader(header)" style="font-size: 16px;">Runner <span style="font-size: 8px;">(Barrier)</span></th>
    <th rowspan="2" ng-if="isHeader(header) && fluctuations">Flucs</th>
    <th class="poolType_FIXED" ng-if="isHeader(header) && (pools | filter: getFixedPools | filter: poolsFilter()).length > 0" colspan="{{(pools | filter: getFixedPools | filter: hiddenPools | filter: poolsFilter()).length}}" tooltip-placement='bottom' tooltip-html-unsafe='{{getColumnTooltips("FO")}}' tooltip-popup-delay='500' tooltip-append-to-body= true>
        FIXED ODDS
    </th>
    <th  class="poolType_BESTTOTE" ng-if="isHeader(header)  && (pools | filter: getBestTotePools | filter: poolsFilter()).length > 0" colspan="{{(pools | filter: getBestTotePools | filter: hiddenPools | filter: poolsFilter()).length}}" tooltip-placement='bottom' tooltip-html-unsafe='{{getColumnTooltips("BT")}}' tooltip-popup-delay='500' tooltip-append-to-body= true>
        BEST TOTE
    </th>
    <th class="poolType_BESTTOTESP" ng-if="isHeader(header) && (pools | filter: getBestToteSPPools | filter: poolsFilter()).length > 0" colspan="{{(pools | filter: getBestToteSPPools | filter: hiddenPools | filter: poolsFilter()).length}}" tooltip-placement='bottom' tooltip-html-unsafe='{{getColumnTooltips("BTP")}}' tooltip-popup-delay='500' tooltip-append-to-body= true>
        BEST TOTE + SP
    </th>
    <th class="poolType_TOTES" ng-if="isHeader(header) && (pools | filter: getTotePools | filter: hiddenPools  | filter: poolsFilter()).length > 0" colspan="{{(pools | filter: getTotePools | filter: hiddenPools | filter: poolsFilter()).length}}" tooltip-placement='bottom' tooltip-html-unsafe='{{getColumnTooltips("TOT")}}' tooltip-popup-delay='500' tooltip-append-to-body= true>
        TOTE
    </th>
    <th class="poolType_TF" rowspan="2" ng-if="isHeader(header) && details.status != 'Paying' && details.status != 'Interim' && (pools | filter: getTopFlucPools | filter: hiddenPools  | filter: poolsFilter()).length > 0" colspan="{{(pools | filter: getTopFlucPools | filter: hiddenPools | filter: poolsFilter()).length}}" tooltip-placement='bottom' tooltip-html-unsafe='{{getColumnTooltips("TF")}}' tooltip-popup-delay='500' tooltip-append-to-body= true>
        TOP FLUC
    </th>
    <th class="poolType_MIDTOTE" ng-if="isHeader(header) && (pools | filter: getMiddleToteSPPools | filter: poolsFilter()).length > 0" colspan="{{(pools | filter: getMiddleToteSPPools | filter: hiddenPools | filter: poolsFilter()).length}}" tooltip-placement='bottom' tooltip-html-unsafe='{{getColumnTooltips("BT1")}}' tooltip-popup-delay='500' tooltip-append-to-body= true>
        MID TOTE
    </th>
    <th class="poolType_FIVEPCT" ng-if="isHeader(header) && (pools | filter: geteToteFivePercentPPools | filter: poolsFilter()).length > 0" colspan="{{(pools | filter: geteToteFivePercentPPools | filter: hiddenPools | filter: poolsFilter()).length}}" tooltip-placement='bottom' tooltip-html-unsafe='{{getColumnTooltips("T5")}}' tooltip-popup-delay='500' tooltip-append-to-body= true>
        TOTE
    </th>

    <!-- for scratched players -->
    <td ng-if="isScratched(header, entrant) && !isHeader(header)" align="center">{{entrant.rugNumber}}</td>
    <td ng-if="isScratched(header, entrant) && !isHeader(header)" align="center" valign="middle" class="silkImage_cell ">
        <div ng-style="silkImage(entrant.silkImageUrl)"></div>
    </td>
    <td ng-if="isScratched(header, entrant) && !isHeader(header)" style="text-align: left;">
        <div style="font-weight: 700;" class="ellipsis">
            {{entrant.runnerName}}
            <span ng-if="entrant.barrierPosition > 0">({{entrant.barrierPosition}})</span>
        </div>
        <div class="ellipsis riderName">
            {{entrant.riderName}}
            <span ng-if="entrant.weightHandicap > 0">({{entrant.weightHandicap}}kg)</span>
        </div>
    </td>
    <td ng-if="isScratched(header, entrant) && !isHeader(header) && pools.length > 0 && !fluctuations" colspan="{{pools.length}}" align="center">{{entrant.lateScratching ? 'Late Scratching' : 'Scratched'}}</td>
    <td ng-if="isScratched(header, entrant) && !isHeader(header) && pools.length > 0 && fluctuations" colspan="{{pools.length + 1}}" align="center">{{entrant.lateScratching ? 'Late Scratching' : 'Scratched'}}</td>

    <!-- for normal players -->
    <td ng-if="!isScratched(header, entrant) && !isHeader(header)">{{entrant.rugNumber}}</td>
    <td ng-if="!isScratched(header, entrant) && !isHeader(header)" align="center" valign="middle" class="silkImage_cell ">
        <div ng-style="silkImage(entrant.silkImageUrl)"></div>

    </td>
    <td ng-if="!isScratched(header, entrant) && !isHeader(header)" style="text-align: left;">
        <div style="font-weight: 700;" class="ellipsis runnerName ">
            {{entrant.runnerName}}
            <span ng-if="entrant.barrierPosition > 0">({{entrant.barrierPosition}})</span>
        </div>
        <div class="ellipsis riderName">
            {{entrant.riderName}}
            <span ng-if="entrant.weightHandicap > 0">({{entrant.weightHandicap}}kg)</span>
        </div>
    </td>
    <td ng-if="!isScratched(header, entrant) && !isHeader(header) && fluctuations">
        <span ng-repeat="fluct in getFlucts(entrant, fluctuations).flucs track by $index" style="font-weight: 700;" ng-class="{'fluct_red' : fluct == getFlucts(entrant, fluctuations).top_fluct, 'fluct_green' : $first}">{{fluct}}<span ng-if="!$last">,</span></span>
    </td>

    <!-- odds for fix -->
    <td class="wp_odds_cell inputcell " ng-class="{'wp_odds_cell_first': $first, 'open': details.status == 'Open'}" ng-if="!isScratched(header, entrant) && !isHeader(header)" ng-repeat="item in pools | filter: getFixedPools  | filter: poolsFilter()">
        <a ng-if="details.status == 'Open' " ng-click="addSlip(details, item, entrant)">
            <div class="odds" ng-class="colorUpdate(entrant, item)">{{getOdds(entrant, item)}}<span ng-class="{'glyphicon glyphicon-arrow-up' : colorUpdate(entrant, item).higher, 'glyphicon glyphicon-arrow-down': colorUpdate(entrant, item).lower}"></span></div>
        </a>
        <a ng-if="details.status == 'Open' && getOdds(entrant, item) == 'TF'" ng-click="addSlip(details, item, entrant)">
            <div>TF</div>
        </a>
        <div ng-if="details.status != 'Open'">{{getOdds(entrant, item)}}</div>
    </td>
    <!-- odds for best totes -->
    <td class="wp_odds_cell inputcell " ng-class="{'wp_odds_cell_first': $first, 'open': details.status == 'Open'}" ng-if="!isScratched(header, entrant) && !isHeader(header)" ng-repeat="item in pools | filter: getBestTotePools | filter: hiddenPools  | filter: poolsFilter()">
        <a ng-if="details.status == 'Open' " ng-click="addSlip(details, item, entrant)">
            <div class="odds" ng-class="colorUpdate(entrant, item)">{{getOdds(entrant, item)}}</div>
        </a>
        <div ng-if="details.status != 'Open'">{{getOdds(entrant, item)}}</div>
    </td>
    <!-- odds for best totes sp -->
    <td class="wp_odds_cell inputcell " ng-class="{'wp_odds_cell_first': $first, 'open': details.status == 'Open'}" ng-if="!isScratched(header, entrant) && !isHeader(header)" ng-repeat="item in pools | filter: getBestToteSPPools | filter: hiddenPools  | filter: poolsFilter()">
        <a ng-if="details.status == 'Open' " ng-click="addSlip(details, item, entrant)">
            <div class="odds" ng-class="colorUpdate(entrant, item)">{{getOdds(entrant, item)}}</div>
        </a>
        <div ng-if="details.status != 'Open' ">{{getOdds(entrant, item)}}</div>
    </td>
    <!-- odds for totes -->
    <td class="wp_odds_cell inputcell " ng-class="{'wp_odds_cell_first': $first, 'open': details.status == 'Open'}" ng-if="!isScratched(header, entrant) && !isHeader(header)" ng-repeat="item in pools | filter: getTotePools | filter: hiddenPools  | filter: poolsFilter()">
        <a ng-if="details.status == 'Open' " ng-click="addSlip(details, item, entrant)">
            <div class="odds" ng-class="colorUpdate(entrant, item)">{{getOdds(entrant, item)}}</div>
        </a>
        <div ng-if="details.status != 'Open'">{{getOdds(entrant, item)}}</div>
    </td>
    <!-- odds for top flucs -->
    <td class="wp_odds_cell inputcell " ng-class="{'wp_odds_cell_first': $first, 'open': details.status == 'Open'}" ng-if="!isScratched(header, entrant) && !isHeader(header) && details.status != 'Paying' && details.status != 'Interim'" ng-repeat="item in pools | filter: getTopFlucPools | filter: hiddenPools  | filter: poolsFilter()">
        <a ng-if="details.status == 'Open' " ng-click="addSlip(details, item, entrant)">
            <div class="odds" ng-class="colorUpdate(entrant, item)">{{getOdds(entrant, item)}}</div>
        </a>
        <div ng-if="details.status != 'Open' ">{{getOdds(entrant, item)}}</div>
    </td>
    <!-- odds for middle Tote -->
    <td class="wp_odds_cell inputcell " ng-class="{'wp_odds_cell_first': $first, 'open': details.status == 'Open'}" ng-if="!isScratched(header, entrant) && !isHeader(header) " ng-repeat="item in pools | filter: getMiddleToteSPPools | filter: hiddenPools  | filter: poolsFilter()">
        <a ng-if="details.status == 'Open' " ng-click="addSlip(details, item, entrant)">
            <div class="odds" ng-class="colorUpdate(entrant, item)">{{getOdds(entrant, item)}}</div>
        </a>
        <div ng-if="details.status != 'Open' ">{{getOdds(entrant, item)}}</div>
    </td>
    <!-- odds for Tote 5% -->
    <td class="wp_odds_cell inputcell " ng-class="{'wp_odds_cell_first': $first, 'open': details.status == 'Open'}" ng-if="!isScratched(header, entrant) && !isHeader(header) " ng-repeat="item in pools | filter: geteToteFivePercentPPools | filter: hiddenPools  | filter: poolsFilter()">
        <a ng-if="details.status == 'Open' " ng-click="addSlip(details, item, entrant)">
            <div class="odds" ng-class="colorUpdate(entrant, item)">{{getOdds(entrant, item)}}</div>
        </a>
        <div ng-if="details.status != 'Open' ">{{getOdds(entrant, item)}}</div>
    </td>
</tr>
