<tr>
    <td rowspan="2" class="time">00:30</td>
    <td class="team">Matteo Viola</td>
    <td class="win">&nbsp;</td>
    <td class="handicap row"><div class="left col-sm-6">(+3.5)</div> <div class="right col-sm-6">1.649</div></td>
    <td rowspan="2" class="over-under">&nbsp;</td>
    <td rowspan="2" class="over-under">&nbsp;</td>
</tr>
<tr>
    <td class="team">Konstantin Kravchuk</td>
    <td class="win">&nbsp;</td>
    <td class="handicap row"><div class="left col-sm-6">(- 3.5)</div> <div class="right col-sm-6">2.270</div></td>
</tr>
