    <div class="container">
        <div class="col-md-4">
            <a class="navbar-brand" href="index.html"><img src="images/logo-pinnaclebet.png" alt="Pinnaclebet Logo" class="img-responsive"></a>
        </div>
        <div class="col-md-8" ng-if="!accountInfo.isLogin">
            <div class="login-section">
                <div >
                    <form class="form-inline">

                        <div class="form-group">
                                <input type="text" class="form-control" ng-model='accountInfo.username' placeholder="Username">
                        </div>
                        <div class="form-group">
                                <input type="password" class="form-control" ng-model='accountInfo.password' placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-blue" style="height: 28px;width: 105px" ng-click="manulLogin()">LOGIN</button>
                            <a href="#/account/signup" class="btn btn-green" style="height: 28px;width: 105px">Join Now</a>
                        </div>
                        <div class="form-group">

                        </div>
                    </form>
                </div>

                <div class="opitons">
                    <div ng-if="accountInfo.errorMessage" class="alert alert-danger login-msg" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                      {{accountInfo.errorMessage}}
                    </div>

                    <a href="#/account/forgotPassword">Forgotten password?</a>
                </div>

            </div>

        </div>
        <div class="col-md-8" ng-if="accountInfo.isLogin">
            <div class="user-section" style="font-size: 14px">
                <div>
                    <div class="welcome-info">
                        <span>Welcome {{accountInfo.username}}</span>
                        <button type="submit" class="btn btn-blue" style="height: 28px;width: 105px" ng-click="logout()">LOGOUT</button>
                        <span><a href="#/account/depositinstr" type="submit" class="btn btn-green"  style="color: white;height: 28px;width: 105px">DEPOSIT</a></span>
                    </div>
                </div>
                <div>
                    <div class="user-info">
                        <div>
                            <div class="bonus-section" ng-if="bonus.voucher">
                                <span ng-click="bonusSwitch()" class="user-info-option">(1)Bonus: $0.00</span>
                                <div  class="bonus-section-pop-up" ng-if="bonus.bonus_wallet_switch">
                                    <div class="type">
                                        <h5><strong>Bonus Bets</strong></h5>
                                        <div class="glyphicon glyphicon-remove pull-right remove" ng-click="bonusSwitch()"></div>
                                    </div>
                                    <div >
                                        <table>
                                            <tr>
                                                <th>Date Added</th>
                                                <th>Amount</th>
                                                <th>Restrictions</th>
                                                <th>Expiry Date</th>
                                            </tr>
                                            <tr>
                                                <td>{{getTime(bonus.voucher.loadTime).ddmmyy}}</td>
                                                <td>${{setAmount(bonus.voucher.availableFund).toDollars}}</td>
                                                <td>Strandard</td>
                                                <td>{{getTime(bonus.voucher.expiryTime).ddmmyy}}</td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="bonus-section" ng-if="bonus.bonus_wallet">
                                <span ng-click="bonusSwitch()" class="user-info-option">Bonus: ${{setAmount(bonus.bonus_wallet.availableFund).toDollars}}</span>
                                <div  class="bonus-section-pop-up" ng-if="bonus.bonus_wallet_switch && bonus.bonus_wallet.statusId == 'WALLET_IN_USE'">
                                    <div class="type">
                                        <h5><strong>Bonus Wallet</strong></h5>
                                        <div class="glyphicon glyphicon-remove pull-right remove" ng-click="bonusSwitch()"></div>
                                    </div>
                                    <div class="bonus-table">
                                        <table>
                                            <tr>
                                                <th >Started</th>
                                                <th >Balance</th>
                                                <th >T/O Req</th>
                                                <th >Cash T/O Req</th>
                                                <th >Expiry</th>
                                            </tr>
                                            <tr>
                                                <td>{{getTime(bonus.bonus_wallet.redeemTime).ddmmyy}}</td>
                                                <td>${{setAmount(bonus.bonus_wallet.availableFund).toDollars}}</td>
                                                <td>{{bonus.bonus_wallet.bonusTurnoverRemain > 0 ? '$'+setAmount(bonus.bonus_wallet.bonusTurnoverRemain).toDollars : 'MET'}}</td>
                                                <td>{{bonus.bonus_wallet.cashTurnoverRemain > 0 ? '$'+setAmount(bonus.bonus_wallet.cashTurnoverRemain).toDollars : 'MET'}}</td>
                                                <td>{{getTime(bonus.bonus_wallet.expiryTime).ddmmyy}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="bonus-panel">
                                        <div class="btn btn-default trans-btn" ng-if="bonus.bonus_wallet.eligibleToTransfer" ng-click="bonusTransfer(bonus.bonus_wallet.walletId)">
                                            TRANSFER
                                        </div>
                                        <div ng-if="bonus.msg" class="alert alert-danger msg">
                                            <div class="glyphicon glyphicon-info-sign"></div>
                                            {{bonus.msg}}
                                        </div>
                                    </div>

                                </div>
                                <div  class="bonus-section-pop-up" ng-if="bonus.bonus_wallet_switch && bonus.bonus_wallet.statusId == 'TRANSFER_PA'">
                                    <div class="type">
                                        <h5><strong>Pending Transfer</strong></h5>
                                        <div class="glyphicon glyphicon-remove pull-right remove" ng-click="bonusSwitch()"></div>
                                    </div>
                                    <div class="bonus-panel">
                                        <div class="alert alert-success msg">
                                            <div class="glyphicon glyphicon-ok"></div>
                                            Your Transfer Request has been submitted, please allow 24 hours to process your request.
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="btn btn-success done-btn" ng-click="bonusDone()">
                                            Done
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#/account?parentCategory=ALLTRANSACTION" class="user-info-option">Balance: {{setAmount(accountInfo.accountHolderDto.wallet.availableFunds).setSportAmountWithDollarSign()}}</a>
                            <a href="#/account" class="user-info-option">Pending Bets: {{setAmount(accountInfo.accountHolderDto.wallet.openbets).setSportAmountWithDollarSign()}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
