<div class="heading">
    <div class="title">Betslip
        <button type="button" class="btn btn-default pull-right" ng-click="closeBetslip()"><span>×</span></button>
    </div>
    <div class="betslip-nav" >
        <div ng-class="{active: slipsPanel.isBetslip}" ng-click="openBetslipTab()">
            Betslip
        </div>
        <div ng-if="false" ng-class="{active: !slipsPanel.isBetslip}" ng-click="openPendingTab()">
            Pending ({{pendingSlips.length}})
        </div>
    </div>
</div>
<div ng-show="slipsPanel.msg" class="content betslipPanel">
    <div class="betslip-error">
        <div class="alert alert-danger" role="alert">
            {{slipsPanel.msg}}
        </div>
    </div>
</div>
<div ng-show="slips.length <= 0 && slipsPanel.isBetslip" class="content betslipPanel">
    <div class="betslip-empty">
        Betslip is empty
    </div>
</div>

<div ng-show="slipsPanel.isBetslip" class="content betslipPanel">
    <div ng-if="(slips | filter: sportFilter).length > 0">
        <div class="panel-heading" role="tab" >
            <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#bestslip" href="#betslip-sport-singles" aria-expanded="true" aria-controls="betslip-sport-singles">Sport Singles({{(slips | filter: sportFilter).length}})</h4>
        </div>
        <div id="betslip-sport-singles" class="single-bets panel-collapse collapse in" role="tabpanel" aria-labelledby="betslip-sport-singles">
            <div bet-slip slip="slip" slips-panel="slipsPanel" edit-btn="editBtn()" re-submit="reSubmit(slip)" ng-repeat="slip in slips | filter: sportFilter"></div>
        </div>
    </div>


    <div ng-if="(slips | filter: sportMultiFilter).length > 0">
        <div class="panel-heading" role="tab" >
            <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#bestslip" href="#betslip-sport-multis" aria-expanded="true" aria-controls="betslip-sport-multis">Sport Multis({{(slips | filter: sportMultiFilter).length}})</h4>
        </div>
        <div id="betslip-sport-multis" class="single-bets panel-collapse collapse in" role="tabpanel" aria-labelledby="betslip-sport-multis">
            <div bet-slip slip="slip" slips-panel="slipsPanel" edit-btn="editBtn()" re-submit="reSubmit(slip)" ng-repeat="slip in slips | filter: sportMultiFilter"></div>
        </div>
    </div>


    <div ng-if="(slips | filter: raceFilter).length > 0">
        <div class="panel-heading" role="tab" >
            <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#bestslip" href="#betslip-racing" aria-expanded="true" aria-controls="betslip-racing">Racing({{(slips | filter: raceFilter).length}})</h4>
        </div>
        <div id="betslip-racing" class="single-bets panel-collapse collapse in" role="tabpanel" aria-labelledby="betslip-racing">
            <div bet-slip slip="slip" slips-panel="slipsPanel" edit-btn="editBtn()" re-submit="reSubmit(slip)" ng-repeat="slip in slips | filter: raceFilter"></div>
        </div>
    </div>

    <div ng-if="(slips | filter: exoticFilter).length > 0">
        <div class="panel-heading" role="tab" >
            <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#bestslip" href="#betslip-exotics" aria-expanded="true" aria-controls="betslip-exotics">Exotics({{(slips | filter: exoticFilter).length}})</h4>
        </div>
        <div id="betslip-exotics" class="single-bets panel-collapse collapse in" role="tabpanel" aria-labelledby="betslip-exotics">
            <div bet-slip slip="slip" slips-panel="slipsPanel" edit-btn="editBtn()" re-submit="reSubmit(slip)" ng-repeat="slip in slips | filter: exoticFilter"></div>
        </div>
    </div>


    <div ng-if="(slips | filter: multiLegsFilter).length > 0">
        <div class="panel-heading" role="tab" >
            <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#bestslip" href="#betslip-multi-legs" aria-expanded="true" aria-controls="betslip-multi-legs">Multi-legs({{(slips | filter: multiLegsFilter).length}})</h4>
        </div>
        <div id="betslip-multi-legs" class="single-bets panel-collapse collapse in" role="tabpanel" aria-labelledby="betslip-multi-legs">
            <div bet-slip slip="slip" slips-panel="slipsPanel" edit-btn="editBtn()" re-submit="reSubmit(slip)" ng-repeat="slip in slips | filter: multiLegsFilter"></div>
        </div>
    </div>

    <div ng-if="slipsPanel.isMulti">
        <div ng-if="multiSlips.length > 0 && !slipsPanel.isDone">
            <div class="panel-heading" role="tab" id="cricket-heading">
                <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#bestslip" href="#multi-bets" aria-expanded="true" aria-controls="multi-bets">Multi Bets</h4>
            </div>
            <div id="multi-bets" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="multi-bets">
                <div ng-repeat="multiSlip in multiSlips.slice(0,1) track by $index">
                    <div class="panel-collapse collapse in">
                        <div class="row-content">
                            <form class="form-inline row">
                                <input type="number" class="form-control input-sm" name="input" ng-click="editBtn()" placeholder="0" ng-model="multiSlip.info.amount"  ng-pattern="/^\d*\.?[0|5]?[0]?$/" step="0.5"/>
                                <span >{{multiSlip.info.multiRef[0].length}} Legs @ {{multiSlip.info.odds}}</span>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="multiSlips.slice(1).length > 0 && !slipsPanel.isDone" class="">
            <div class="panel-heading" role="tab" id="cricket-heading">
                <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#bestslip" href="#other-betting-options" aria-expanded="true" aria-controls="other-betting-options">Other Betting Options</h4>
            </div>
            <div id="other-betting-options" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="other-betting-options">
                <div ng-repeat="multiSlip in multiSlips.slice(1) track by $index">
                    <div class="panel-collapse collapse in">
                        <div class="row-content">
                            <form class="form-inline row">
                                <input type="number" class="form-control input-sm" name="input" ng-click="editBtn()" placeholder="0" ng-model="multiSlip.info.amount"  ng-pattern="/^\d*\.?[0|5]?[0]?$/" step="0.5"/>
                                <span >{{multiSlip.info.multiRef.length}}  {{multibetName($index)}}</span>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="multiPenddingSlips.length > 0" class="">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title" role="button" data-toggle="collapse" data-target="#betslip-Multis">Multis ({{multiPenddingSlips.length}})</h4>
            </div>
            <div id="betslip-Multis" class="single-bets panel-collapse collapse in" role="tabpanel" >
                <div bet-slip slip="slip" slips-panel="slipsPanel" edit-btn="editBtn()" re-submit="reSubmit(slip)" ng-repeat="slip in multiPenddingSlips track by $index"></div>
            </div>
        </div>


    </div>

    <div class="betslip-total">
        <div class="row-betslip-total betslip-total-bets">
            <span>Total Bets:</span>
            <span>{{slipsPanel.totalBets + slipsPanel.multibets}}</span>
        </div>
        <div class="row-betslip-total betslip-total-stake">
            <span>Total Stake:</span>
            <span>${{slipsPanel.TotalStake + slipsPanel.multiStake}}</span>
        </div>
        <div class="row-betslip-total betslip-estimate-return">
            <span>Estimated Return:</span>
            <span>${{setAmount(slipsPanel.estRtn + slipsPanel.multiestRtn).getFixed}}</span>
        </div>
    </div>

    <div class="row-content">
        <a  class="btn btn-gray betslip-clear" ng-click="clearSlips()">CLEAR</a>
        <a  ng-hide="slipsPanel.isDone || slipsPanel.isConfirm" ng-class="{disabled : !slipsPanel.isAval}"  class="btn btn-blue betslip-btn" ng-click="placeBetBtn()">PLACE BET</a>
        <a  ng-show="slipsPanel.isConfirm" class="btn btn-blue betslip-btn" ng-click="confirmBtn()">CONFIRM</a>
        <a  ng-show="slipsPanel.isDone" class="btn btn-blue betslip-btn" ng-click="doneBtn()">DONE</a>
    </div>
    <div class="row-content">
        <a href="#/account/depositinstr" class="btn btn-blue btn-block betslip-deposit"> DEPOSIT</a>
    </div>

</div>
<div ng-if="false" ng-hide="slipsPanel.isBetslip" class="content pendingPanel">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title" role="button" data-toggle="collapse" data-target="pending-slips">Pending Slips</h4>
    </div>
    <div id="pending-slips" class="single-bets panel-collapse collapse in" role="tabpanel" >
        <div bet-slip slip="slip" slips-panel="slipsPanel" edit-btn="editBtn()" re-submit="reSubmit(slip)" ng-repeat="slip in pendingSlips track by $index"></div>
    </div>

    <div class="row-content">
        <a  class="btn btn-blue btn-block " ng-click="clearPenging()">CLEAR ALL BETS </a>
        <a  href="#/account" class="btn btn-green btn-block ">SHOW ALL BETS </a>
    </div>

</div>
<div class="content betslip-login" ng-click="closeLogin()">
    <div class="betslip-login-inner" ng-click="$event.stopPropagation();">
        <div class="betslip-login-box">
            <div class="betslip-login-header">
                <h4 class="betslip-login-title">Login</h4>
                <div class="glyphicon glyphicon-remove betslip-login-close" ng-click="closeLogin()"></div>
            </div>
            <form id="betslip-login-form" class="betslip-login-form">
                <div class="betslip-text" >
                    <label for="betslip-login-username" >Username</label>
                    <input id="betslip-login-username" type="text" name="username" ng-model="accountInfo.username" placeholder="Enter Username" >
                    <!-- <div class="betslip-validation" >Login failed, Please check your username and password and try again.</div> -->
                </div>

                <div class="betslip-text" >
                    <label for="betslip-login-password">Password</label>
                    <input id="betslip-login-password" type="password" name="password" ng-model="accountInfo.password" placeholder="Enter Password" >
                </div>
                <div class="betslip-text" ng-if="accountInfo.msg">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{accountInfo.msg}}
                    </div>
                </div>
                <div class="betslip-text" >
                    <div class="btn btn-success login-btn" ng-click="login()">LOGIN</div>
                    <div class=""> <a href="#" class="betslip-forgot" >Forgot your password?</a> </div>
                    <div class=""> <a class="betslip-dont" >Don't have an account?</a> </div>
                    <div class="btn btn-default join-btn"> <a class="betslip-button">Join Now</a> </div>
                </div >
            </form>
        </div>

    </div>
</div>
