<div ng-if="slip.info.type === 'RACING'" class="bet-slip">
    <div ng-hide="slip.info.isHide" class="row-content {{slip.info.code}}">
        <form class="form-inline row" name="betSlipForm" ng-class="{'has-error': betSlipForm.input.$invalid}">
            <div class="form-group">
                <div class="name-bet col-xs-8">
                    <span>{{slip.data.entrant.rugNumber}} : {{slip.data.entrant.runnerName}}</span>
                </div>
                <div class="delete-bet col-xs-4">
                    {{isTopsport(slip)? oddsFromPrice(slip.info.odds, 100, 2) : 'TBD';}}
                    <button type="button" class="glyphicon glyphicon-refresh refresh" ng-click="betslipUpdate(slip)"></button>
                    <button type="button" class="glyphicon glyphicon-remove remove" ng-click="removeSlip(slip)"></button>
                </div>

                <div class="row bet-location col-xs-12">
                    <div class="pull-right">
                        <!-- {{slip.data.pool.poolTypeId}} -->
                    </div>
                    <div>
                        Race {{slip.data.raceInfo.raceNumber}}, {{slip.data.raceInfo.venue}}
                    </div>

                    <div class="">
                        Bet Type : {{getPoolName(slip.data.pool.poolTypeId, slip.data.pool.bookmaker.id).name }}
                    </div>

                </div>

                <div class="row betslip-bet " ng-if="slip.info.isInputAval">
                     <div class="col-xs-12 free-bet">
                         <div class="input-group">
                             <span class="input-group-addon">$</span>
                             <input type="number" class="form-control" name="input" ng-click="editBtn()"  placeholder="0" ng-model="slip.info.amount"  ng-pattern="/^\d*\.?[0|5]?[0]?$/" step="0.5"/>
                         </div>
                        <div class="bonus"  ng-if="isTopsport(slip) && slip.info.bonus.status !== 'notAvl'">
                             <input type="checkbox" name="bonus" ng-model="slip.info.bonus.value" ng-disabled="slipsPanel.isDone || slipsPanel.isConfirm"><label for="bonus">Bonus</label>
                         </div>
                         <div class="input-err" ng-if="betSlipForm.input.$invalid">
                             <strong>Invalid</strong>
                         </div>
                     </div>
                </div>
                <div class="row betslip-bet col-xs-12" ng-if="!slip.info.isInputAval">
                    <strong>Requested Stake : $ {{slip.info.amount}}</strong>
                </div>

                <div class="row betslip-msg col-xs-12" ng-if="!!slip.info.code" >
                    <div class="">
                        Ticket : {{slip.info.wagerId}}
                    </div>
                    <div class="">
                        <span style="color: red;">Notes:</span>
                    </div>
                    <div ng-switch="slip.info.code">
                        <div ng-switch-when="N" class="loading">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{slip.info.msg}}
                        </div>
                        <div ng-switch-when="S">
                            <span class="glyphicon glyphicon-ok"></span> {{slip.info.msg}}
                        </div>
                        <div ng-switch-when="PS">
                            <span class="glyphicon glyphicon-exclamation-sign"></span> {{slip.info.msg}}
                        </div>
                        <div ng-switch-when="W">
                            <span class="glyphicon glyphicon-ok-sign"></span>{{slip.info.msg}}
                        </div>
                        <div ng-switch-when="F">
                            <div ng-if="slip.info.msg.indexOf('Odds changed') == -1">
                                <span class="glyphicon glyphicon-remove-sign"></span> {{slip.info.msg}}
                            </div>
                            <div ng-if="slip.info.msg.indexOf('Odds changed') != -1">
                                <div class="">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                    <span>Odds have changed from {{oddsFromPrice(slip.info.oldOdds,100,2)}} to {{oddsFromPrice(slip.info.odds,100,2)}}</span>
                                    <span>Do you accept the new odds?</span>
                                </div>
                                <div class="reBtn-panel">
                                    <span class="btn btn-success reBtn" ng-click="reSubmit({slip:slip});">Submit</span>
                                    <span class="btn btn-danger reBtn">Cancel</span>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-default>
                            {{slip.info.msg}}
                        </div>
                    </div>

                </div>


             </div>
        </form>
    </div>
</div>
<div ng-if="slip.info.type === 'EXOTICS'" class="bet-slip">
    <div ng-hide="slip.info.isHide" class="row-content {{slip.info.code}}">
        <form class="form-inline row" name="betSlipForm" ng-class="{'has-error': betSlipForm.input.$invalid}">
            <div class="form-group">
                <div class="col-xs-8">
                    <input type="checkbox" checked>
                    <label>Race {{slip.data.raceInfo.raceNumber}}, {{slip.data.raceInfo.venue}}</label>
                </div>
                <div class="delete-bet col-xs-4">
                    TBD
                    <button type="button" class="glyphicon glyphicon-refresh refresh" ng-click="betslipUpdate(slip)"></button>
                    <button type="button" class="glyphicon glyphicon-remove remove" ng-click="removeSlip(slip)"></button>
                </div>

                <div class="row bet-location col-xs-12">
                    <div class="">
                        <strong>BetType : {{getPoolName(slip.data.pool.poolTypeId).name}}</strong>
                    </div>
                    <div class="" ng-repeat="selection in slip.data.selectionArr">
                        {{selection}}
                    </div>
                    <div class="">
                        Total Combinations : {{slip.data.combinations}}
                    </div>
                    <div ng-if="slip.data.pool.poolTypeId === 'T' || slip.data.pool.poolTypeId === 'FF' ||  slip.data.pool.poolTypeId === 'QD'">
                        <!-- <input type="checkbox" name="Flexi" ng-model="slip.info.isFlex"> Flexi -->
                        <input type="radio" ng-model="slip.info.isFlex" ng-value="false"> Per Permutation</br>
                        <input type="radio" ng-model="slip.info.isFlex" ng-value="true"> Flexi <span ng-if="slip.info.isFlex">({{ (slip.info.amount/slip.data.combinations * 100).toFixed(2)}}%)</span>
                    </div>
                </div>

                <div class="row betslip-bet" ng-if="slip.info.isInputAval">
                     <div class="col-xs-12 free-bet">
                         <div class="input-group">
                             <span class="input-group-addon">$</span>
                             <input type="number" class="form-control" name="input" ng-click="editBtn()"  placeholder="0" ng-model="slip.info.amount"  ng-pattern="/^\d*\.?[0|5]?[0]?$/" step="0.5"/>
                         </div>
                         <div class="input-err" ng-if="betSlipForm.input.$invalid">
                         <strong>Invalid</strong>
                         </div>
                     </div>
                </div>
                <div class="row betslip-bet col-xs-12" ng-if="!slip.info.isInputAval">
                    <strong>Requested Stake : $ {{slip.info.amount}}</strong>
                </div>


                <div class="row betslip-msg col-xs-12" ng-if="!!slip.info.code">
                    <div class="">
                        Ticket : {{slip.info.wagerId}}
                    </div>
                    <div class="">
                        <span style="color: red;">Notes:</span>
                    </div>
                    <div ng-switch="slip.info.code">
                        <div ng-switch-when="N" class="loading">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{slip.info.msg}}
                        </div>
                        <div ng-switch-when="S">
                            <span class="glyphicon glyphicon-ok"></span> {{slip.info.msg}}
                        </div>
                        <div ng-switch-when="PS">
                            <span class="glyphicon glyphicon-exclamation-sign"></span> {{slip.info.msg}}
                        </div>
                        <div ng-switch-when="W">
                            <span class="glyphicon glyphicon-ok-sign"></span> {{slip.info.msg}}
                        </div>
                        <div ng-switch-when="F">
                            <span class="glyphicon glyphicon-remove-sign"></span>{{slip.info.msg}}
                        </div>
                        <div ng-switch-default>
                            {{slip.info.msg}}
                        </div>
                    </div>

                </div>


             </div>
        </form>
    </div>
</div>
<div ng-if="slip.info.type === 'SPORT'" class="bet-slip">
    <div ng-hide="slip.info.isHide" class="row-content {{slip.info.code}}">
        <form class="form-inline row" name="betSlipForm" ng-class="{'has-error': betSlipForm.input.$invalid}">
            <div class="form-group">
                <div class="col-xs-8">
                    <input type="checkbox" checked>
                    <label>{{slip.data.proposition.key}}</label>
                </div>
                <div class="delete-bet col-xs-4">
                    {{getSportPriceDSP(slip.info.odds)}}
                    <button type="button" class="glyphicon glyphicon-refresh refresh" ng-click="betslipUpdate(slip)"></button>
                    <button type="button" class="glyphicon glyphicon-remove remove" ng-click="removeSlip(slip)"></button>
                </div>

                <div class="row bet-location col-xs-12">
                    <div>
                        {{slip.data.sportType.value}}
                    </div>
                    <div>
                        {{slip.data.league.value}}
                    </div>
                    <div>
                        <span style="color: orange;">{{slip.data.homeTeam}}</span> vs {{slip.data.awayTeam}}
                    </div>
                    <div>
                        {{slip.data.period.value}}
                    </div>
                    <div class="">
                        {{slip.data.marketType.value}}
                    </div>

                </div>

                <div class="row betslip-bet" ng-if="slip.info.isInputAval">
                     <div class="col-xs-12 free-bet">
                         <div class="input-group">
                             <span class="input-group-addon">$</span>
                             <input type="number" class="form-control" name="input" ng-click="editBtn()"  placeholder="0" ng-model="slip.info.amount"  ng-pattern="/^\d*\.?[0|5]?[0]?$/" step="0.5"/>
                         </div>

                         <div class="bonus"  ng-if="slip.info.bonus.status !== 'notAvl' && !slip.info.bonus.restriction">
                         <input type="checkbox" name="bonus" ng-model="slip.info.bonus.value" ng-disabled="slipsPanel.isDone || slipsPanel.isConfirm"><label for="bonus">Bonus</label>
                         </div>
                         <div class="input-err" ng-if="betSlipForm.input.$invalid">
                             <strong>Invalid</strong>
                         </div>
                     </div>

                </div>
                <div class="row betslip-bet col-xs-12" ng-if="!slip.info.isInputAval">
                    <strong>Requested Stake : $ {{slip.info.amount}}</strong>
                </div>




                <div class="row bet-location col-xs-12" >
                    <div ng-if="!!slip.data.maximumRisk">
                        Max : ${{slip.data.maximumRisk}}
                    </div>
                    <div ng-if="!!slip.data.minimumRisk">
                        Min : ${{slip.data.minimumRisk}}
                    </div>
                    <div class="" ng-if="!!slip.data.maximumRisk && slip.info.isInputAval">
                        <label for="betMax">Bet Maximum</label>
                        <input type="checkbox" name="betMax" ng-model="slip.info.betMax" >
                    </div>
                </div>

                <div class="row betslip-msg col-xs-12" ng-if="!!slip.info.code">
                    <div class="">
                        Ticket : {{slip.info.wagerId}}
                    </div>
                    <div class="">
                        <span style="color: red;">Notes:</span>
                    </div>
                    <div ng-switch="slip.info.code">
                        <div ng-switch-when="N" class="loading">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{slip.info.msg}}
                        </div>
                        <div ng-switch-when="S">
                            <span class="glyphicon glyphicon-ok"></span> {{slip.info.msg}}
                        </div>
                        <div ng-switch-when="PS">
                            <span class="glyphicon glyphicon-exclamation-sign"></span> {{slip.info.msg}}
                        </div>
                        <div ng-switch-when="W">
                            <span class="glyphicon glyphicon-ok-sign"></span>{{slip.info.msg}}
                        </div>
                        <div ng-switch-when="F">
                            <div ng-if="slip.info.msg.indexOf('Odds changed') == -1">
                                <span class="glyphicon glyphicon-remove-sign"></span> {{slip.info.msg}}
                            </div>
                            <div ng-if="slip.info.msg.indexOf('Odds changed') != -1">
                                <div class="">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                    <span>Odds have changed from {{oddsFromPrice(slip.info.oldOdds,1000,3)}} to {{oddsFromPrice(slip.info.odds,1000,3)}}</span>
                                    <span>Do you accept the new odds?</span>
                                </div>
                                <div class="reBtn-panel">
                                    <span class="btn btn-success reBtn" ng-click="reSubmit({slip:slip});">Submit</span>
                                    <span class="btn btn-danger reBtn">Cancel</span>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-default>
                            {{slip.info.msg}}
                        </div>
                    </div>

                </div>


             </div>
        </form>
    </div>
</div>
<div ng-if="slip.info.type === 'MULTI'" class="bet-slip">
    <div ng-hide="slip.info.isHide" class="row-content {{slip.info.code}}">
        <form class="form-inline row" name="betSlipForm" ng-class="{'has-error': betSlipForm.input.$invalid}">
            <div class="form-group">
                <div class="col-xs-8">
                    <input type="checkbox" checked>
                    <label>Multi</label>
                </div>
                <div class="delete-bet col-xs-4">
                    {{slip.info.multiRefSlips.length}} Legs @{{slip.info.odds}}
                    <button type="button" class="glyphicon glyphicon-refresh refresh" ng-click="betslipUpdate(slip)"></button>
                    <button type="button" class="glyphicon glyphicon-remove remove" ng-click="removeSlip(slip)"></button>
                </div>

                <div class="row bet-location col-xs-12">
                    <div ng-repeat="selection in slip.info.multiRefSlips track by $index">
                        <span ng-if="selection.info.type === 'RACING'">
                            <strong>{{$index + 1}}.</strong>
                            {{selection.data.raceInfo.venue}}
                            R{{selection.data.raceInfo.raceNumber}}
                            #{{selection.data.entrant.rugNumber}}
                            : <strong>{{selection.data.entrant.runnerName}}</strong>
                            , <br>{{getPoolName(selection.data.pool.poolTypeId, selection.data.pool.bookmaker.id).name}}
                        </span>
                        <span ng-if="selection.info.type === 'SPORT'">
                            <strong>{{$index + 1}}.</strong>
                            {{selection.data.event.value}} -
                            <strong>{{selection.data.proposition.key}}</strong>

                        </span>
                    </div>
                </div>

                <div class="row betslip-bet col-xs-12">
                     <div>
                         <strong>Requested Stake : $ {{slip.info.amount}}</strong>
                     </div>
                </div>


                <div class="row betslip-msg col-xs-12" ng-if="!!slip.info.code">
                    <div class="">
                        Ticket : {{slip.info.wagerId}}
                    </div>
                    <div class="">
                        <span style="color: red;">Notes:</span>
                    </div>
                    <div ng-switch="slip.info.code">
                        <div ng-switch-when="N" class="loading">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{slip.info.msg}}
                        </div>
                        <div ng-switch-when="S">
                            <span class="glyphicon glyphicon-ok"></span> {{slip.info.msg}}
                        </div>
                        <div ng-switch-when="PS">
                            <span class="glyphicon glyphicon-exclamation-sign"></span> {{slip.info.msg}}
                        </div>
                        <div ng-switch-when="W">
                            <span class="glyphicon glyphicon-ok-sign"></span>{{slip.info.msg}}
                        </div>
                        <div ng-switch-when="F">
                            <span class="glyphicon glyphicon-remove-sign"></span>{{slip.info.msg}}
                        </div>
                        <div ng-switch-default>
                            {{slip.info.msg}}
                        </div>
                    </div>

                </div>

            </div>
        </form>
    </div>

</div>
