<div class="col-md-9" id="content-right">
    <div class="row">
        <div class="col-sm-12" id="dashboard">
            <ul class="nav nav-tabs" role="tablist" style="background : #142841" >
                <li role="presentation" class="active"><a aria-controls="open-bets" role="tab" data-toggle="tab" ng-click="getParentCategory('OPENBET')">Open Bets</a></li>
                <li role="presentation"><a  aria-controls="bet-history" role="tab" data-toggle="tab" ng-click="getParentCategory('HISTORY')">Bet History</a></li>

                <li role="presentation"><a  aria-controls="bonus-bets" role="tab" data-toggle="tab" ng-click="getParentCategory('BONUS')">Bonus Bets</a></li>

                <li role="presentation"><a  aria-controls="banking" role="tab" data-toggle="tab" ng-click="getParentCategory('BANKING')">Banking</a></li>
                <li role="presentation"><a  aria-controls="all-transactions" role="tab" data-toggle="tab" ng-click="getParentCategory('ALLTRANSACTION')">All Transactions</a></li> </ul>
            <div id="filter-results">
                <div class="btn-group" data-toggle="buttons" ng-if="param.parentCategory == 'OPENBET'">
                    <label class="btn btn-primary active" ng-click="getType('OPENBET_RACING')">
                        <input type="radio" name="options" id="option1" autocomplete="off" > Racing
                    </label>
                    <label class="btn btn-primary" ng-click="getType('OPENBET_SPORT')">
                        <input type="radio" name="options" id="option2" autocomplete="off" > Sports
                    </label>
                    <label class="btn btn-primary" ng-click="getType('OPENBET_MULTIS')">
                        <input type="radio" name="options" id="option3" autocomplete="off" > Multis
                    </label>
                </div>
                <div class="btn-group" data-toggle="buttons" ng-if="param.parentCategory == 'HISTORY'">
                    <label class="btn btn-primary active" ng-click="getType('RACING')">
                        <input type="radio" name="options" id="option1" autocomplete="off" > Racing
                    </label>
                    <label class="btn btn-primary" ng-click="getType('SPORT')">
                        <input type="radio" name="options" id="option2" autocomplete="off" > Sports
                    </label>
                    <label class="btn btn-primary" ng-click="getType('MULTIS')">
                        <input type="radio" name="options" id="option3" autocomplete="off" > Multis
                    </label>
                </div>
                <div class="btn-group" data-toggle="buttons" ng-if="param.parentCategory == 'BONUS'">
                    <label class="btn btn-primary active" ng-click="getType('BONUSBET_RACING')">
                        <input type="radio" name="options" id="option1" autocomplete="off" > Racing
                    </label>
                    <label class="btn btn-primary" ng-click="getType('BONUSBET_SPORT')">
                        <input type="radio" name="options" id="option2" autocomplete="off" > Sports
                    </label>
                    <label class="btn btn-primary" ng-click="getType('BONUSBET_HISTORY')">
                        <input type="radio" name="options" id="option3" autocomplete="off" > History
                    </label>
                </div>
                <div class="btn-group" data-toggle="buttons" ng-if="param.parentCategory == 'BANKING'">
                    <label class="btn btn-primary active" ng-click="getType('ALL')">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked="" ng-click="param.type = 'OPENBET_RACING'"> All Bank Transaction
                    </label>
                </div>
                <div class="btn-group" data-toggle="buttons" ng-if="param.parentCategory == 'ALLTRANSACTION'">
                    <label class="btn btn-primary active" ng-click="getType('ALL')">
                        <input type="radio" name="options" id="option1" autocomplete="off"> All Transaction
                    </label>
                </div>


                <div class="date-dashboard">
                    <div style="cursor: pointer;">
                        <span style="color: black;font-size: 14px;">From</span>
                            <a class="button"
                                uib-datepicker-popup="{{calendarStart.format}}"
                                ng-model="calendarStart.dateSelected"
                                is-open="calendarStart.isOpen"
                                min-date="calendarStart.minDate"
                                max-date="calendarStart.maxDate"
                                ng-click="popupCalendarStart();$event.stopPropagation();"
                                show-weeks="calendarStart.showWeeks"
                                show-button-bar=false
                                ng-required="true"
                                ng-change="redirectPathStart()">
                                <span>{{calendarStart.dateDisplay}}</span>&nbsp;<i class="glyphicon glyphicon-calendar"></i>
                            </a>
                    </div>
                    <div style="cursor: pointer;">
                        <span style="color: black;font-size: 14px;">To</span>
                            <a class="button"
                                uib-datepicker-popup="{{calendarEnd.format}}"
                                ng-model="calendarEnd.dateSelected"
                                is-open="calendarEnd.isOpen"
                                min-date="calendarEnd.minDate"
                                max-date="calendarEnd.maxDate"
                                ng-click="popupCalendarEnd();$event.stopPropagation();"
                                show-weeks="calendarEnd.showWeeks"
                                show-button-bar=false
                                ng-required="true"
                                ng-change="redirectPathEnd()">
                                <span>{{calendarEnd.dateDisplay}}</span>&nbsp;<i class="glyphicon glyphicon-calendar"></i>
                            </a>
                    </div>
                </div>
            </div>

            <div id="transaction-summary">
                <!--HEADING ROW-->
                <div class="transactions-heading row" style="background: #e7e7e7" ng-if="param.parentCategory == 'OPENBET'">
                    <div class="col-xs-2">
                        Ticket Number
                    </div>
                    <div class="col-xs-2">
                        Creation Time
                    </div>
                    <div class="col-xs-2">
                        Type
                    </div>
                    <div class="col-xs-4">
                        Selection
                    </div>
                    <div class="col-xs-1">
                        Stake
                    </div>
                    <div class="col-xs-1">
                        Status
                    </div>
                </div>
                <div class="transactions-heading row" style="background: #e7e7e7" ng-if="param.parentCategory == 'HISTORY'">
                    <div class="col-xs-1" style="">
                        Ticket Number
                    </div>
                    <div class="col-xs-2">
                        Creation Time
                    </div>
                    <div class="col-xs-2">
                        Type
                    </div>
                    <div class="col-xs-4">
                        Selection
                    </div>
                    <div class="col-xs-1">
                        Stake
                    </div>
                    <div class="col-xs-1">
                        Won
                    </div>
                    <div class="col-xs-1">
                        Status
                    </div>
                </div>
                <div class="transactions-heading row" style="background: #e7e7e7" ng-if="param.parentCategory == 'BONUS' && param.type != 'BONUSBET_HISTORY'">
                    <div class="col-xs-1">
                        Ticket Number
                    </div>
                    <div class="col-xs-2">
                        Creation Time
                    </div>
                    <div class="col-xs-2">
                        Type
                    </div>
                    <div class="col-xs-4">
                        Selection
                    </div>
                    <div class="col-xs-1">
                        Stake
                    </div>
                    <div class="col-xs-1">
                        Won
                    </div>
                    <div class="col-xs-1">
                        Status
                    </div>
                </div>
                <div class="transactions-heading row" style="background: #e7e7e7" ng-if="param.parentCategory == 'BONUS' && param.type == 'BONUSBET_HISTORY'">
                    <div class="col-xs-1">
                        ID
                    </div>
                    <div class="col-xs-2">
                        Status
                    </div>
                    <div class="col-xs-2">
                        Status Change Time
                    </div>
                    <div class="col-xs-2">
                        Load Time
                    </div>
                    <div class="col-xs-1">
                        Load Amount
                    </div>
                    <div class="col-xs-2">
                        Wallet Activation Time
                    </div>
                    <div class="col-xs-2">
                        Wallet Initial Balance
                    </div>
                </div>
                <div class="transactions-heading row" style="background: #e7e7e7" ng-if="param.parentCategory == 'BANKING'">
                    <div class="col-xs-1">
                        Ticket Number
                    </div>
                    <div class="col-xs-2">
                        Creation Time
                    </div>
                    <div class="col-xs-2">
                        Type
                    </div>
                    <div class="col-xs-4">
                        Description
                    </div>
                    <div class="col-xs-1">
                        Amount
                    </div>
                    <div class="col-xs-2">
                        Status
                    </div>
                </div>
                <div class="transactions-heading row" style="background: #e7e7e7" ng-if="param.parentCategory == 'ALLTRANSACTION'">
                    <div class="col-xs-1">
                        Ticket Number
                    </div>
                    <div class="col-xs-2">
                        Creation Time
                    </div>
                    <div class="col-xs-2">
                        Type
                    </div>
                    <div class="col-xs-4">
                        Description
                    </div>
                    <div class="col-xs-1">
                        Debit
                    </div>
                    <div class="col-xs-1">
                        Credit
                    </div>
                    <div class="col-xs-1">
                        Balance
                    </div>
                </div>

                <!--OPENBET DATA-->
                <div ng-if="param.parentCategory == 'OPENBET'" ng-repeat="transaction in transactionList">
                    <div class="transactions-content row">
                        <div class="col-xs-2 trans-item">
                            {{transaction.ticketId}}
                        </div>
                        <div class="col-xs-2 trans-date">
                            <div ng-bind-html="transaction.creationTime"></div>
                        </div>
                        <div class="col-xs-2 trans-type">
                            {{transaction.raceType}}
                        </div>
                        <div class="col-xs-4 trans-title" ng-if="transaction.wagerType == 'RACE'">
                            <table style="text-align: left" ng-if= "!raceMap[transaction.betType]">
                                <tr><td>{{transaction.parentEvent}}&nbsp;{{transaction.event}}&nbsp;{{transaction.betType}}&nbsp;{{transaction.selection}}</td></tr>
                                <tr ng-if="transaction.multiLeg == false"><td>{{transaction.amount}}@{{transaction.odds}}</td></tr>
                                <tr ng-if="transaction.multiLeg == true"><td>{{transaction.amount}}</td></tr>
                            </table>
                            <table style="text-align: left" ng-if= "raceMap[transaction.betType] == 'multileg'">
                                <tr><td>{{transaction.parentEvent}}&nbsp;{{transaction.event}}&nbsp;{{transaction.betType}}</td></tr>
                                <tr><td ng-bind-html="transaction.selection"></td></tr>
                                <tr><td>{{transaction.amount}}</td></tr>
                                <tr ng-if="transaction.flexiPercent != null"><td>{{transaction.flexiPercent}}</td></tr>
                            </table>
                            <table style="text-align: left" ng-if= "raceMap[transaction.betType] == 'exotic'">
                                <tr><td>{{transaction.parentEvent}}&nbsp;{{transaction.event}}&nbsp;{{transaction.betType}}</td></tr>
                                <tr><td ng-bind-html="transaction.selection"></td></tr>
                                <tr ng-if="transaction.flexiPercent != null"><td>{{transaction.amount}}</td></tr>
                                <tr ng-if="transaction.flexiPercent != null"><td>{{transaction.flexiPercent}}</td></tr>
                                <tr ng-if="!transaction.flexiPercent && transaction.amountPerPermutation"><td>{{transaction.amountPerPermutation}}</td></tr>
                            </table>
                        </div>
                        <div class="col-xs-4 trans-title" ng-if="transaction.wagerType == 'SPORTS'">
                            <table align="left">
                                <tr align="left"><td>{{transaction.selection.select.parentEvent}}</td></tr>
                                <tr align="left"><td>{{transaction.selection.select.startTime}}</td></tr>
                                <tr align="left"><td>{{transaction.selection.select.event}}</td></tr>
                                <tr align="left"><td>{{transaction.betType}}</td></tr>
                                <tr align="left"><td>{{transaction.selection.select.choose}}</td></tr>
                                <tr align="left"><td>{{transaction.selection.select.amount}}@{{transaction.selection.select.odds}}</td></tr>
                            </table>
                        </div>
                        <div class="col-xs-4 trans-title" ng-if="transaction.wagerType == 'MULTIS'">
                            <table align="left">
                                <tr align="left"><td>{{transaction.selection.select.choose.length}} Legs @{{transaction.selection.select.odds}}</td></tr>
                                <tr align="left"><td><a ng-click="multiDetail(transaction.ticketId)" style="cursor: pointer">More Detail</a></td></tr>
                            </table>
                        </div>
                        <div class="col-xs-1 trans-debit">
                            {{transaction.amount}}
                        </div>
                        <div class="col-xs-1 trans-balance">
                            {{transaction.status}}
                        </div>

                    </div>
                    <div class="trans-multi-detail" id="{{transaction.ticketId}}" ng-if="transaction.wagerType == 'MULTIS'" >
                        <div ng-repeat="multisDetail in multisDetailList[transaction.ticketId]">
                            <li>Type:&nbsp;{{multisDetail.type}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Parent Event:&nbsp;{{multisDetail.parentEvent}}</li>
                            <li>Event:&nbsp;{{multisDetail.event}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start Time:&nbsp;{{multisDetail.startTime}}</li>
                            <li>Bet Type:&nbsp;{{multisDetail.betType}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Odds:&nbsp;{{multisDetail.odds}}</li>
                            <li>Selection:&nbsp;{{multisDetail.selection}}</li>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>

                <!--HISTORY DATA-->
                <div ng-if="param.parentCategory == 'HISTORY'" ng-repeat="transaction in transactionList">
                    <div class="transactions-content row" >
                        <div class="col-xs-1 trans-item">
                            {{transaction.ticketId}}
                        </div>
                        <div class="col-xs-2 trans-date">
                            <div ng-bind-html="transaction.creationTime"></div>
                        </div>
                        <div class="col-xs-2 trans-type">
                            {{transaction.raceType}}
                        </div>
                        <div class="col-xs-4 trans-title" ng-if="transaction.wagerType == 'RACE'">
                            <table style="text-align: left" ng-if= "!raceMap[transaction.betType]">
                                <tr><td>{{transaction.parentEvent}}&nbsp;{{transaction.event}}&nbsp;{{transaction.betType}}&nbsp;{{transaction.selection}}</td></tr>
                                <tr ng-if="transaction.multiLeg == false"><td>{{transaction.amount}}@{{transaction.odds}}</td></tr>
                                <tr ng-if="transaction.multiLeg == true"><td>{{transaction.amount}}</td></tr>
                            </table>
                            <table style="text-align: left" ng-if= "raceMap[transaction.betType] == 'multileg'">
                                <tr><td>{{transaction.parentEvent}}&nbsp;{{transaction.event}}&nbsp;{{transaction.betType}}</td></tr>
                                <tr><td ng-bind-html="transaction.selection"></td></tr>
                                <tr><td>{{transaction.amount}}</td></tr>
                                <tr ng-if="transaction.flexiPercent != null"><td>{{transaction.flexiPercent}}</td></tr>
                            </table>
                            <table style="text-align: left" ng-if= "raceMap[transaction.betType] == 'exotic'">
                                <tr><td>{{transaction.parentEvent}}&nbsp;{{transaction.event}}&nbsp;{{transaction.betType}}</td></tr>
                                <tr><td ng-bind-html="transaction.selection"></td></tr>
                                <tr ng-if="transaction.flexiPercent != null"><td>{{transaction.amount}}</td></tr>
                                <tr ng-if="transaction.flexiPercent != null"><td>{{transaction.flexiPercent}}</td></tr>
                                <tr ng-if="!transaction.flexiPercent && transaction.amountPerPermutation"><td>{{transaction.amountPerPermutation}}</td></tr>
                            </table>
                        </div>
                        <div class="col-xs-4 trans-title" align="left" ng-if="transaction.wagerType == 'SPORTS'">
                            <table align="left">
                                <tr align="left"><td>{{transaction.selection.select.parentEvent}}</td></tr>
                                <tr align="left"><td>{{transaction.selection.select.startTime}}</td></tr>
                                <tr align="left"><td>{{transaction.selection.select.event}}</td></tr>
                                <tr align="left"><td>{{transaction.betType}}</td></tr>
                                <tr align="left"><td>{{transaction.selection.select.choose}}</td></tr>
                                <tr align="left"><td>{{transaction.selection.select.amount}}@{{transaction.odds}}</td></tr>
                            </table>
                        </div>
                        <div class="col-xs-4 trans-title" align="left" ng-if="transaction.wagerType == 'MULTIS'">
                            <table align="left">
                                <tr align="left"><td>{{transaction.selection.select.choose.length}} Legs @{{transaction.selection.select.odds}}</td></tr>
                                <tr align="left"><td><a ng-click="multiDetail(transaction.ticketId)" style="cursor: pointer">More Detail</a></td></tr>
                            </table>
                        </div>
                        <div class="col-xs-1 trans-debit">
                            {{transaction.amount}}
                        </div>
                        <div class="col-xs-1 trans-credit">
                            {{transaction.amountWon}}
                        </div>
                        <div class="col-xs-1 trans-balance">
                            {{transaction.status}}
                        </div>

                    </div>
                    <div class="trans-multi-detail" id="{{transaction.ticketId}}" ng-if="transaction.wagerType == 'MULTIS'" >
                        <div ng-repeat="multisDetail in multisDetailList[transaction.ticketId]">
                            <li>Type:&nbsp;{{multisDetail.type}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Parent Event:&nbsp;{{multisDetail.parentEvent}}</li>
                            <li>Event:&nbsp;{{multisDetail.event}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start Time:&nbsp;{{multisDetail.startTime}}</li>
                            <li>Bet Type:&nbsp;{{multisDetail.betType}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Odds:&nbsp;{{multisDetail.odds}}</li>
                            <li>Selection:&nbsp;{{multisDetail.selection}}</li>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>

                <!--BONUS DATA-->
                <div class="transactions-content row" ng-if="param.parentCategory == 'BONUS' && param.type != 'BONUSBET_HISTORY'" ng-repeat="transaction in transactionList">
                    <div class="col-xs-1 trans-item">
                        {{transaction.ticketId}}
                    </div>
                    <div class="col-xs-2 trans-date">
                        {{transaction.creationTime}}
                    </div>
                    <div class="col-xs-2 trans-type">
                        {{transaction.eventType}}
                    </div>
                    <div class="col-xs-4 trans-title" align="left" ng-if="transaction.wagerType == 'RACE'">
                        <table align="left">
                            <tr align="left"><td>{{transaction.selection.select.parentEvent}}&nbsp;{{transaction.selection.select.event}}&nbsp;{{transaction.selection.select.betType}}&nbsp;{{transaction.selection.select.choosed}}</td></tr>
                            <tr align="left" ng-if="transaction.multiLeg == false"><td>{{transaction.selection.select.amount}}@{{transaction.selection.select.odds}}</td></tr>
                            <tr align="left" ng-if="transaction.multiLeg == true"><td>{{transaction.selection.select.amount}}</td></tr>
                        </table>
                    </div>
                    <div class="col-xs-4 trans-title" align="left" ng-if="transaction.wagerType == 'SPORTS'">
                        <table align="left">
                            <tr align="left"><td>{{transaction.selection.select.parentEvent}}</td></tr>
                            <tr align="left"><td>{{transaction.selection.select.startTime}}</td></tr>
                            <tr align="left"><td>{{transaction.selection.select.event}}</td></tr>
                            <tr align="left"><td>{{transaction.selection.select.choosed}}</td></tr>
                            <tr align="left"><td>{{transaction.selection.select.amount}}@{{transaction.selection.select.odds}}</td></tr>
                        </table>
                    </div>
                    <div class="col-xs-1 trans-debit">
                        {{transaction.stake}}
                    </div>
                    <div class="col-xs-1 trans-debit">
                        {{transaction.amountWon}}
                    </div>
                    <div class="col-xs-1 trans-balance">
                        {{transaction.status}}
                    </div>
                </div>

                <div class="transactions-content row" ng-if="param.parentCategory == 'BONUS' && param.type == 'BONUSBET_HISTORY'" ng-repeat="transaction in historyTransactionList">
                    <div class="col-xs-1 trans-item">
                        {{transaction.id}}
                    </div>
                    <div class="col-xs-2">
                        {{transaction.status}}
                    </div>
                    <div class="col-xs-2">
                        {{transaction.change_time}}
                    </div>
                    <div class="col-xs-2">
                        {{transaction.load_time}}
                    </div>
                    <div class="col-xs-1">
                        {{transaction.load_amount}}
                    </div>
                    <div class="col-xs-2">
                        {{transaction.active_time}}
                    </div>
                    <div class="col-xs-2">
                        {{transaction.init_balance}}
                    </div>
                </div>

                <!--BANKING DATA-->
                <div class="transactions-content row" ng-if="param.parentCategory == 'BANKING'" ng-repeat="transaction in transactionList">
                    <div class="col-xs-1 trans-item">
                        {{transaction.ticketId}}
                    </div>
                    <div class="col-xs-2 trans-date">
                        <div ng-bind-html="transaction.creationTime"></div>
                    </div>
                    <div class="col-xs-2 trans-type">
                        {{transaction.transactionType}}
                    </div>
                    <div class="col-xs-4 trans-title" align="left">
                        {{transaction.description}}
                    </div>
                    <div class="col-xs-1 trans-debit">
                        {{transaction.amount}}
                    </div>
                    <div class="col-xs-2 trans-balance">
                        {{transaction.status}}
                    </div>
                </div>

                <!--TRANSACTION DATA-->
                <div class="transactions-content row" ng-if="param.parentCategory == 'ALLTRANSACTION'" ng-repeat="transaction in transactionList">
                    <div class="col-xs-1 trans-item">
                        {{transaction.ticketId}}
                    </div>
                    <div class="col-xs-2 trans-date">
                        <div ng-bind-html="transaction.creationTime"></div>
                    </div>
                    <div class="col-xs-2 trans-type">
                        {{transaction.transactionType}}
                    </div>
                    <div class="col-xs-4 trans-title" align="left">
                        <div ng-if="transaction.eventType == 'EWAY'">
                            <table align="left">
                                <tr align="left"><td>{{transaction.description.description}}</td></tr>
                            </table>
                        </div>
                        <div ng-if="transaction.eventType == 'MULTIS'">
                            <table align="left">
                                <tr align="left"><td>{{setAmount(transaction.description.amount).setRaceAmountWithDollarSign()}}@{{setOdds(transaction.description.odds,'MULTIS')}}</td></tr>
                                <tr align="left"><td>{{transaction.description.type}}</td></tr>
                                <tr align="left"><td>Amount:  {{setAmount(transaction.description.amount).setRaceAmountWithDollarSign()}}</td></tr>
                                <tr align="left"><td>Odds:  @{{setOdds(transaction.description.odds,'MULTIS')}}</td></tr>
                            </table>
                        </div>
                        <div ng-if="transaction.eventType == 'RACE'">
                            <table align="left">
                                <tr align="left"><td>BetType: </td><td>{{transaction.description.betType}}</td></tr>
                                <tr align="left"><td>Race: </td><td>{{transaction.description.event}}</td></tr>
                                <tr align="left"><td>Venue: </td><td>{{transaction.description.parentEvent}}</td></tr>
                                <tr align="left"><td>Selection: </td><td>{{transaction.description.selection}}</td></tr>
                                <tr align="left"><td>StartTime: </td><td>{{getTime(transaction.description.startTime).yymmdd}} {{getTime(transaction.description.startTime).mmss}}</td></tr>
                            </table>
                        </div>
                        <div ng-if="transaction.eventType == 'SPORT'">
                            <table align="left">
                                <tr align="left"><td>{{transaction.description.parentEvent}}</td></tr>
                                <tr align="left"><td>{{getTime(transaction.description.startTime).yymmdd}} {{getTime(transaction.description.startTime).mmss}}</td></tr>
                                <tr align="left"><td>{{transaction.description.event}}</td></tr>
                                <tr align="left"><td>{{transaction.description.selection}}</td></tr>
                                <tr align="left"><td>{{setAmount(transaction.description.amount).setRaceAmountWithDollarSign()}}@{{setOdds(transaction.description.odds,'SPORTS')}}</td></tr>
                            </table>
                        </div>
                        <div ng-if="transaction.eventType == 'MANUAL'">
                            <table align="left">
                                <tr align="left"><td>{{transaction.description.description}}</td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-1 trans-debit">
                        {{transaction.debit}}
                    </div>
                    <div class="col-xs-1 trans-debit">
                        {{transaction.credit}}
                    </div>
                    <div class="col-xs-1 trans-balance">
                        {{transaction.balance}}
                    </div>
                </div>

            </div>

        </div>
        <div id="pagination">
            <pagination pagination-sm previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="{{limit}}" max-size="6"></pagination>
        </div>
        <div class="col-sm-12">
            <uib-pagination total-items="pagination.totalPages" ng-model="pagination.currentPage" max-size="pagination.maxSize" rotate="true" force-ellipses='true' ng-change="pageChanged()"></uib-pagination>
        </div>

    </div>
</div>
