<div class="col-md-9" id="content-right">
    <div id="account-title">
        Change Password
    </div>
    <div id="account-body">
        <form name="changePasswordForm" >
            <table>
                <tr class="account-tr-title" ><td colspan="3">Enter Your Old Password and Your New Password</td></tr>
                <tr class="empty_line"></tr>
                <tr class="empty_line"></tr>
                <tr class="change-password">
                    <td><b>Old Password:</b></td>
                    <td>
                        <input maxlength="40" type="password" name="oldPassword" ng-model="oldPassword" ng-blur="isCorrectPasswordHandler(oldPassword)" password-verify required>
                        <div class="warning" ng-show="!disablePwdStatus && changePasswordForm.oldPassword.$dirty">Old password is incorrect</div>
                    </td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="change-password">
                    <td><b>New Password:</b></td>
                    <td>
                        <input maxlength="40" type="password" name="newPassword" ng-model="newPassword" required ng-pattern="/^.{8,20}$/i">
                        <div class="warning" ng-show="changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$dirty">New password required</div>
                        <div class="warning" ng-show="changePasswordForm.newPassword.$error.pattern && changePasswordForm.newPassword.$dirty">Password should be more than 8 characters (alphanumeric)</div>
                    </td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="change-password">
                    <td><b>Confirm Password:</b></td>
                    <td>
                        <input maxlength="40" type="password" name="confirmPassword" ng-model="confirmPassword" required>
                        <div class="warning" ng-show="changePasswordForm.confirmPassword.$error.required && changePasswordForm.confirmPassword.$dirty">Please re-type the password</div>
                        <div class="warning" ng-show="stringMatch(newPassword,confirmPassword) && changePasswordForm.confirmPassword.$dirty">Password not match</div>
                    </td>
                </tr>
                <tr class="empty_line"></tr>
            </table>
            <div class="form_buttons">
                <button type="button" class="btn btn-default account-button" ng-click="getNewPassword(newPassword,oldPassword)" ng-model="disablePwdStatus" ng-disabled="!(disablePwdStatus && !stringMatch(newPassword,confirmPassword))">Change Password</button>
                <div style="width: 10%; height: 10px; display: inline-block;"></div>
                <button type="button" class="btn btn-default account-button" ng-click="jumpToTransactionPage()">Cancel</button>
            </div>
        </form>
    </div>
</div>
