<div class="col-md-9" id="content-right">
    <div id="account-title">
        MAKE A DEPOSIT VIA CREDIT CARD
    </div>
    <div>
        <p class="account-tr-title">
            Credit Card Deposit
        </p>
        <p class="account-tr-text">You can deposit funds into your Pinnaclebet account using
            your MasterCard or Visa credit card/debit card.
        </p>
        <p class="account-tr-text">Pinnaclebet
            does not charge any credit card fees, although some credit cards
            may incur a commission charge on transactions from their bank.
            If your deposit has processed correctly it will be added
            immediately to your balance and you can start betting.
        </p>
        <p class="account-tr-text">A
            condition of depositing by credit card is the amount you deposit
            must be turned over once (bet with) before a refund/withdrawal
            can be made.
        </p>
        <p class="account-tr-text">
            Pinnaclebet uses eWAY, a full 128 bit SSL encrypted, Tier-1
            PCIDSS security certified service provider, to process your
            credit card transaction.
        </p>
        <br>
        <p class="account-tr-text">You will be redirected to
            eWAYs secure website to make the transaction, and then
            redirected back to Pinnaclebet when complete. Please do not
            close your browser until you have been redirected back to
            Pinnaclebet.
        </p>
        <p class="account-tr-text">Credit card deposit Transactions are processed in
            Australian Dollars.
        </p>
        <br>
        <p class="account-tr-text" ng-show="accountInfo.accountHolderDto.wallet.kycStatus == 'N'">
            Pinnaclebet has a total maximum deposit limit for unidentified
            accounts of <b>{{setAmount(accountInfo.accountHolderDto.wallet.ccDepositTotalAmount).setSportAmountWithDollarSign()}}</b>.
        </p>
        <p class="account-tr-text">Once
            you have emailed in your identification details, and have a
            history of transactions with Pinnaclebet, this amount will
            automatically be lifted.</p>
        <br>
        <p class="account-tr-text">If you would like to lift your
            credit card deposit limit now,</p>
        <br>
        <p class="account-tr-text">
            Alternatively, <a href="#/account/polideposit">POLi</a>
            deposits are also available immediately, and you may deposit
            $10,000 via <a href="#/account/polideposit">POLi</a>
        </p>

        <br>

        <p class="account-tr-text" ng-show="accountInfo.accountHolderDto.wallet.kycStatus == 'N'" >You may deposit a further $500 before needing to complete an identification check.<br><br>
        </p>

        <div>
            <label>Deposit Amount :
                <input type="text" style="width: 85px; height: 28px;" ng-model="amount" ng-change="getInValidText(amount)">
            </label>
            <div style="width: 10%; height: 10px; display: inline-block;"></div>
            <button type="button" class="btn btn-default account-button" ng-click="creditCardDeposit(amount,'EWay')" ng-disabled="!amountVaildation(amount)">Deposit</button>
            <div style="font-size: 12px; color: red;" ng-show="!amountVaildation(amount)">{{inValidText}}</div>
            <div style="font-size: 12px; color: red;" ng-show="!getAccountSuccessful">{{depositError}}</div>
            <div style="font-size: 12px; color:red;" ng-show="errMessage">{{errMessage}}</div>
        </div>
        <img alt="Eway" style=" margin-top: 20px;" src="images/eway.jpg">
    </div>
    <div>
        <p class="account-tr-text">Credit Card
            Processing | eCommerce Website | Online Payments</p>
    </div>
    </div>
</div>