<div class="col-md-9" id="content-right">
    <div id="account-title">Deposit Confirmation</div>
    <div id="account-body">
        <div class="frame_body" style="padding: 10px;">
            <div style="font-size:26px;">Deposit Confirmation</div>
            <div ng-if="!token" style="padding:0;">Unable to retrieve confirmation details for the credit card transaction. Unable to determine the id of the transaction.</div>
            <div ng-if="token == 'F'" style="padding:0;">This credit card transaction was not processed due to errors. No money have been taken from your account.</div>
            <div ng-if="token == 'CN'" style="padding:0;">This credit card transaction was cancelled. No money have been taken from your account.</div>
            <div ng-if="statusDto && statusDto.key == 'C'">
                <div style="padding:0;">The deposit has been successfully
                    completed.</div>
                <div style="padding:0;">Your account balance has now been
                    updated.</div>
            </div>
            <div style="padding: 0;" ng-if="statusDto">
                <div ng-if="statusDto.key == 'CN'">
                    <div style="padding:0px;">The deposit was cancelled.</div>
                    <div style="padding:0px;">{{statusDto.errorMsg}}</div>
                </div>
                <div ng-if="statusDto.key == 'N' || statusDto.key == 'SIP' || statusDto.key == 'S'">
                    The deposit is still in progress and might take a while to take effect.
                </div>
                <div ng-if="statusDto.key != 'N' && statusDto.key != 'SIP' && statusDto.key != 'S'">
                    here has been a failure with the deposit.
                </div>
            </div>
            <div ng-if="result">
                <table style="border: 1px solid; height: 300px;">
                    <tbody>
                    <tr>
                        <td style="padding: 0 10px; border:2px solid #c0c0c0; vertical-align: middle; background-color:#fafafa;">Transaction Status</td>
                        <td style="padding: 0 10px; border:2px solid #c0c0c0; vertical-align: middle;">{{statusDto.value}}</td>
                    </tr>
                    <tr>
                        <td style="padding: 0 10px; border:2px solid #c0c0c0; vertical-align: middle; background-color:#fafafa;">Transaction Reference</td>
                        <td style="padding: 0 10px; border:2px solid #c0c0c0; vertical-align: middle;">{{result.id}}</td>
                    </tr>
                    <tr>
                        <td style="padding: 0 10px; border:2px solid #c0c0c0; vertical-align: middle; background-color:#fafafa;">Credit Card Reference Number</td>
                        <td style="padding: 0 10px; border:2px solid #c0c0c0; vertical-align: middle;">{{token}}</td>
                    </tr>
                    <tr>
                        <td style="padding: 0 10px; border:2px solid #c0c0c0; vertical-align: middle; background-color:#fafafa;">Amount</td>
                        <td style="padding: 0 10px; border:2px solid #c0c0c0; vertical-align: middle;">{{setAmount(result.amount).setSportAmountWithDollarSign()}}</td>
                    </tr>
                    <tr>
                        <td style="padding: 0 10px; border:2px solid #c0c0c0; vertical-align: middle; background-color:#fafafa;">Payment Date</td>
                        <td style="padding: 0 10px; border:2px solid #c0c0c0; vertical-align: middle;">{{timeDisplay(result.creationTime)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin-top: 10px; padding:0px;">To check past transaction made on your account, please refer to the <a href="#/account">transaction page</a></div>
            <div style="padding:0px; padding-bottom: 40px;">If you have further deposit enquiries please contact <a href="mailto:support@pinnaclebet.com.au">support@pinnaclebet.com.au</a></div>
        </div>
    </div>
</div>