<div class="col-md-9" id="content-right">
    <div id="account-title">
        Deposit Now
    </div>
    <div id="account-body">
        <article class="account-tr-text">The fastest way to start betting is to deposit via credit card. You can do this now so you can bet as soon as you login to your new account. If you want to skip this step and deposit later using another payment method such as POLi, simply select "Do this later" below.</article>
        <br>
        <div class="account-tr-title">
            Make a Deposit via Credit Card
        </div>
        <div class="hidden-xs hidden-sm" style="margin: 0px 0 0 0px;">
            <a href="#/account/creditcarddeposit">
                <img style="height: 80px" src="images/visa.png"></img>
                <img style="height: 80px" src="images/visaverify.png"></img>
                <img style="height: 80px" src="images/master.png"></img>
                <img style="height: 80px" src="images/mastercardcode.png"></img>
            </a>
        </div>
        <p class="account-tr-text">
            Make a deposit into your account online via credit/debit card <a href="#/account/creditcarddeposit" style="color: blue">Deposit Now</a>
        </p>
        <div class="account-tr-title">
            Make a Deposit via POLi
        </div>
        <div class=" hidden-xs hidden-sm" style="margin: 20px 0 0 0px;">
            <a style="width: 80px;" href="#/account/polideposit">
                <img style="height: 80px" src="images/poli.png"></img>
            </a>
        </div>
        <div class="hidden-lg hidden-md" style="margin: 20px 0 0 0px;">
            <a style="width: 150px;" href="#/account/polideposit">
                <img style="height: 80px" src="images/poli.png"></img>
            </a>
        </div>
        <p class="account-tr-text">
            Make a deposit into your Pinnaclebet account online instantly using POLi <a href="#/account/polideposit" style="color: blue">Deposit Now</a>
        </p>
        <div class="account-tr-title">
            Make Direct Deposits
        </div>
        <div>
            <b>Electronic Funds Transfer (EFT) and Direct Bank Deposits</b>
            <br><br>
            <div class="account-tr-text">
                You can transfer funds of any amount directly from your
                bank account to your Pinnaclebet account using the following
                bank details. Please note that the funds will not be credited to
                your Pinnaclebet account until they have been verified on
                Pinnaclebet's bank statement and this may take up to 48 hours,
                please allow an additional day for deposits made on weekends or
                public holidays.
            </div>
            <div class="account-tr-title">
                Deposits can be made directly to the following Pinnaclebet's bank account:
            </div>
            <b>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Bank:</b>&nbsp;Westpac<br>
            <b>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Account Name:</b>&nbsp;Pinnaclebet<br>
            <b>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;BSB:</b>&nbsp;032 855<br>
            <b>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Account:</b>&nbsp;182440<br>
            <br>
            Please use your Pinnaclebet account number as the
            reference/transaction detail<br> <b>Reference/Transaction Details:</b>&nbsp;Pinnaclebet Account Number <br>
            <br> For all EFT and Direct Bank deposits, please inform
            Customer Service of the deposit by emailing <a href="mailto:support@pinnaclebet.com.au">support@pinnaclebet.com.au</a>
            and advise us of the following: <br>
            <br>
            <ul style="list-style: none;padding-left: 10px;">
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Your Username</li>
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Your Pinnaclebet Account Number</li>
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Amount Transferred</li>
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Date and Time of Deposit</li>
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Reference used for deposit (Should be your Pinnaclebet Account Number)</li>
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Customer's Bank Name (e.g. ANZ)</li>
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Customer's Bank Branch Location (e.g. Suburb)</li>
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Was transfer done on the Internet or at bank?</li>
            </ul>
            <br>
            <br> This is to enable the funds to be transferred into your Pinnaclebet account. <br>
            <br>
        </div>
    </div>
</div>