<div class="col-md-9" id="content-right" ng>
    <div id="account-title">
        Edit Profile
    </div>
    <div id="account-body">
        <form name="editProfileForm">
            <div class="account-tr-title"><span>Personal Details</span></div>
            <table class="table-width">
                <tbody>
                    <tr class="account-tr-text">
                        <td class="td-title-width">First Name</td>
                        <td>{{initEditProfile.person.firstname}}</td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Last Name</td>
                        <td>{{initEditProfile.person.lastname}}</td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Date of Birth</td>
                        <td>{{initEditProfile.person.dob}}</td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Email</td>
                        <td><input type="text" name="email" ng-model="initEditProfile.person.email"></td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Re-enter Email</td>
                        <td>
                            <input type="text" name="reTypeEmail" ng-model="initEditProfile.person.reTypeEmail">
                            <div class="warning" ng-show="stringMatch(initEditProfile.person.email,initEditProfile.person.reTypeEmail)">Email address not match</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="account-tr-title"><span>Phone Details</span></div>
            <table class="table-width">
                <tbody>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Mobile</td>
                        <td>
                            <input type="text" name="mobile" ng-model="initEditProfile.phone.mobile" required ng-pattern="/^[0-9]{10,13}$/">
                            <div class="warning" ng-show="editProfileForm.mobile.$dirty && editProfileForm.mobile.$error.required">Mobile number required</div>
                            <div class="warning" ng-show="editProfileForm.mobile.$dirty && editProfileForm.mobile.$error.pattern">Mobile number must be 10 to 13 digits</div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td>AND OR</td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Country Code</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{initEditProfile.phone.countryCode.selected.text}}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" style="width: 30px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" style="width: 80px; max-height: 300px; overflow: auto;">
                                    <li ng-repeat="option in initProfile.phone.countryCode.options"><a style="cursor: pointer;" ng-click="setEditProfileSelectedcountryCode(option);">{{option.text}}</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Area Code</td>
                        <td><input type="text" name="areaCode" ng-model="initEditProfile.phone.areaCode"></td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Land Line</td>
                        <td><input type="text" name="landLine" ng-model="initEditProfile.phone.landLine"></td>
                    </tr>
                </tbody>
            </table>
            <div class="account-tr-title"><span>Address</span></div>
            <table class="table-width">
                <tbody>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Country</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{initEditProfile.address.addressCountry.selected.text}}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" style="width: 30px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" style="width: 80px; max-height: 300px; overflow: auto;">
                                    <li ng-repeat="option in initProfile.address.addressCountry.options"><a style="cursor: pointer;" ng-click="setEditProfileSelectedCountry(option);">{{option.text}}</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Unit/Flat Number</td>
                        <td><input type="text" name="unitNo" ng-model="initEditProfile.address.unitNo"></td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Street Number</td>
                        <td><input type="text" name="streetNo" ng-model="initEditProfile.address.streetNo"></td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Street</td>
                        <td><input type="street" name="street" ng-model="initEditProfile.address.street"></td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Suburb/City</td>
                        <td><input type="text" name="suburb" ng-model="initEditProfile.address.suburb"></td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Postcode</td>
                        <td><input type="text" name="postcode" ng-model="initEditProfile.address.postcode"></td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">State/Province</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{initEditProfile.address.state.selected.text}}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" style="width: 30px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" style="width: 80px; max-height: 300px; overflow: auto;">
                                    <li ng-repeat="option in initProfile.address.state.options"><a style="cursor: pointer;" ng-click="setEditProlfileSelectedState(option);">{{option.text}}</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                </tbody>
            </table>
            <div>
                <button type="button" class="btn btn-default account-button" ng-click="resetEditForm()">Reset</button>
                <div style="width: 10%; height: 10px; display: inline-block;"></div>
                <button type="button" class="btn btn-default account-button" ng-click="submitEditProfileFormHandler()">Submit</button>
            </div>
            <div class="warning">{{initEditProfile.err}}</div>
        </form>
    </div>
</div>