<div class="col-md-9" id="content-right">
    <div id="account-title">
        Forgot your password?
    </div>
    <div id="account-body">
        <form name="forgotPasswordForm">
            <table>
                <div class="account-tr-title">
                    Fill out the from below and a reset password link will be automatically emailed to your registered email address.if you do not have any of the information required,please contact Pinnaclebet support at <a style="color: blue; text-decoration: underline;font-size: 16px;" href="mailto:support@pinnaclebet.com.au">support@pinnaclebet.com.au</a>
                </div>
                <div class="account-tr-title">
                    <tr class="change-password">
                        <td><b>USERNAME:</b></td>
                        <td>
                            <input maxlength="40" type="text" name="username" ng-model="passwordDto.username" required placeholder="Username">
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="change-password">
                        <td><b>EMAIL ADDRESS:</b></td>
                        <td>
                            <input maxlength="40" type="text" name="email" ng-model="passwordDto.email" required placeholder="Email" email-verify>
                            <div class="warning" ng-show="forgotPasswordForm.email.$error.required && forgotPasswordForm.email.$dirty">Email address required</div>
                            <div class="warning" ng-show="!emailVerify(passwordDto.email) && forgotPasswordForm.email.$dirty">Email address invalid</div>
                        </td>
                    </tr>
                </div>
                <div class="account-tr-title">
                    Both your username and email address must match those entered in your details page.A reset password link will be emailed to you immediately.
                </div>
                <div>
                    <tr class="empty_line"></tr>
                </div>
            </table>
        </form>
    </div>
    <div>
        <button type="button" class="btn btn-default account-button" ng-click="getPassword()">Submit</button>
        <div style="width: 10%; height: 10px; display: inline-block;"></div>
        <button type="button" class="btn btn-default account-button" ng-click="goBackToHomePage()">Cancel</button>
    </div>

</div>