<div class="col-md-9" id="content-right">
    <div id="account-title">
        ID Submission
    </div>
    <div id="account-body">
        <div class="account-tr-title">IDENTITY VERIFICATION: 100 POINTS KYC SUBMISSION</div>

        <p class="account-tr-text">To comply with the anti-money laundering legislation we are required to receive 100 points of identification from all customers to verify the identity of all new Australian customers within 90 days.</p>

        <div class="account-tr-title">100 Points Requirements:</div>
        <div class="account-tr-title">70 points:</div>

        <p class="account-tr-text">Passport Copy.</p>

        <div class="account-tr-title">40 points:</div>

        <p class="account-tr-text">Current Drivers license or photo ID showing residential address.</p>
        <div class="account-tr-title">25 points:</div>

        <p class="account-tr-text">Medicare card OR EFTPOS/Bank card <br>A copy of the Front and back of the Credit card used for deposits (for your security we suggest covering last eight numbers of your card and the last 3 numbers that can be found on your card or the CVV2 code).</p>
        <p class="account-tr-text">Please note: You can only register one (1) credit card in your account. Your account name should match your credit card information. We do not accept International credit cards.</p>

        <div class="account-tr-title">10 Points:</div>
        <p class="account-tr-text">Utility Bill statement showing your current residence address.</p>
        <p class="account-tr-text">Please ensure that your documents are current, contain your full name and add up at least 100 points. For more information, please send us your inquires at <a href="mailto:support@pinnaclebet.com.au">support@pinnaclebet.com.au</a></p>
    </div>
</div>