<div class="col-md-9" id="content-right">
    <div id="account-title">
        Poli Deposit
    </div>
    <div class="frame_body">
        <p class="account-tr-title">
            POLi Deposit</p>
        <p class="account-tr-text">
            POLi enables customers to use their own internet banking
            facility to make deposits directly into our bank account. Funds
            deposited will be available for use immediately.</p>
        <p class="account-tr-text">
            On the first time using POLi, an automated download and
            installation of the POLi application occurs. POLi supports
            internet Explorer 6 and above, Firefox 2 and above and Google
            Chrome 7 and above. Use this link to <a href="http://www.getpoli.com.au/systemcheck.aspx">check
            your computers compatibility.</a>
        </p>
        <p class="account-tr-text">
            Upon pressing the deposit button below, you will be redirected
            to the POLi website to choose your internet banking facility.
            The POLi application browser will then guide you through a
            direct bank transfer where the deposit amount and Pinnaclebet
            bank account details will be prepopulated.</p>
        <p class="account-tr-text">
            POLi is secure and during the course of the payment, POLi never
            has access to your internet banking identifier or password.
            These are entered directly by you into your internet banking
            log on screen.</p>
        <p class="account-tr-text">At
            the end of the transaction, you will be automatically
            redirected to Pinnaclebet website, and if the deposit was
            processed correctly it will be added immediately to your
            balance and you can start betting.</p>
        <p class="account-tr-text">
            There is no charge on POLi deposits. The minimum deposit is $50
            , the maximum deposit is $10,000 .</p>

        <div>
            <label>Deposit Amount :
                <input type="text" style="width: 85px; height: 28px;" ng-model="amount" ng-change="getInValidText(amount)">
            </label>
            <div style="width: 10%; height: 10px; display: inline-block;"></div>
            <button type="button" class="btn btn-sm account-button"  ng-click="creditCardDeposit(amount,'Poli')" ng-disabled="!amountVaildation(amount)">Deposit</button>
            <div style="font-size: 12px; color: red;" ng-show="!amountVaildation(amount)">{{inValidText}}</div>
            <div style="font-size: 12px; color: red;" ng-show="!getAccountSuccessful">{{depositError}}</div>
            <div style="font-size: 12px; color:red;" ng-show="errMessage">{{errMessage}}</div>
        </div>
        <div class="hidden-xs">
            <a href="https://signup.apac.paywithpoli.com/"><img alt="Poli" style=" margin-top: 20px;" src="images/poli_logo.gif"></a>
        </div>
        <div class="hidden-xs">
            <a href="https://signup.apac.paywithpoli.com/">Get POLi&nbsp;&nbsp;|</a>
            <a href="https://transaction.apac.paywithpoli.com/POLiFaq.aspx?merchantcode=6100076">&nbsp;&nbsp;Learn about POLi&nbsp;&nbsp;|</a>
            <a href="https://transaction.apac.paywithpoli.com/POLiFISupported.aspx?merchantcode=6100076">&nbsp;&nbsp;Available Banks</a>
        </div>
        <div style="margin-top: 10px;" class="hidden-lg hidden-md hidden-sm">
            <a href="https://signup.apac.paywithpoli.com/">Get POLi&nbsp;|</a>
            <a href="https://transaction.apac.paywithpoli.com/POLiFaq.aspx?merchantcode=6100076">Learn more&nbsp;|</a>
            <a href="https://transaction.apac.paywithpoli.com/POLiFISupported.aspx?merchantcode=6100076">Available Banks</a>
        </div>
    </div>
</div>