<div class="col-md-9" id="content-right">
    <div id="account-title">
        <span>Deposit Confirmation</span>
    </div>
    <div id="account-body" style="padding: 10px;">
        <div style="font-size:26px;">Deposit Confirmation</div>
        <div ng-if="statusDto && statusDto.key == 'C'">
            <div>The deposit has been successfully
                completed.</div>
            <div>Your account balance has now been
                updated.</div>
        </div>
        <div style="padding: 10px 0;" ng-if="statusDto">
            <div ng-if="statusDto.key == 'CN'">
                <div>The deposit was successfully cancelled because the POLi browser was closed.</div>
                <div>{{statusDto.errorMsg}}</div>
            </div>
            <div ng-if="statusDto.key == 'N' || statusDto.key == 'SIP' || statusDto.key == 'S'">
                The deposit is still in progress and might take a while to take effect.
            </div>
            <div ng-if="statusDto.key != 'N' && statusDto.key != 'SIP' && statusDto.key != 'S'">
                here has been a failure with the deposit.
            </div>
        </div>
        <div ng-if="result">
            <table style="border: 1px solid; height: 300px;">
                <tbody>
                <tr>
                    <td style="padding:0 10px; border:2px solid #c0c0c0; vertical-align: middle; background-color:#fafafa;">Transaction Status</td>
                    <td style="padding:0 10px; border:2px solid #c0c0c0; vertical-align: middle;">{{statusDto.value}}</td>
                </tr>
                <tr>
                    <td style="padding:0 10px; border:2px solid #c0c0c0; vertical-align: middle; background-color:#fafafa;">Transaction Reference</td>
                    <td style="padding:0 10px; border:2px solid #c0c0c0; vertical-align: middle;">{{result.merchantRef}}</td>
                </tr>
                <tr>
                    <td style="padding:0 10px; border:2px solid #c0c0c0; vertical-align: middle; background-color:#fafafa;">Poli Reference Number</td>
                    <td style="padding:0 10px; border:2px solid #c0c0c0; vertical-align: middle;">{{result.transactionRefNo}}</td>
                </tr>
                <tr>
                    <td style="padding:0 10px; border:2px solid #c0c0c0; vertical-align: middle; background-color:#fafafa;">Bank</td>
                    <td style="padding:0 10px; border:2px solid #c0c0c0; vertical-align: middle;">{{result.financialInstitutionName}}</td>
                </tr>
                <tr>
                    <td style="padding:0 10px; border:2px solid #c0c0c0; vertical-align: middle; background-color:#fafafa;">Bank Receipt Number</td>
                    <td style="padding:0 10px; border:2px solid #c0c0c0; vertical-align: middle;">{{result.bankReceipt}}</td>
                </tr>
                <tr>
                    <td style="padding:0 10px; border:2px solid #c0c0c0; vertical-align: middle; background-color:#fafafa;">Amount</td>
                    <td style="padding:0 10px; border:2px solid #c0c0c0; vertical-align: middle;">{{setAmount(result.accountFundTransfer.amount).setSportAmountWithDollarSign()}}</td>
                </tr>
                <tr>
                    <td style="padding:0 10px; border:2px solid #c0c0c0; vertical-align: middle; background-color:#fafafa;">Payment Date </td>
                    <td style="padding:0 10px; border:2px solid #c0c0c0; vertical-align: middle;">{{getTime(result.accountFundTransfer.creationTime).yymmdd}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-top: 10px; padding:10px;">To check past transaction made on your account, please refer to the <a href="#/account">transaction page</a></div>
        <div style="padding:10px; padding-bottom: 40px;">if you have further deposit enquiries please contact <a href="mailto:support@pinnaclebet.com.au">support@pinnaclebet.com.au</a></div>
    </div>
</div>