<div class="col-md-9" id="content-right">
    <div id="account-title">
        Registration Success
    </div>
    <div class="col-sm-12" style="padding: 0;">
        <h4 style="padding-top: 10px; font-size: 16px; font-weight: bold; padding-left: 20px; color: green;">Successful</h4>
        <div style="padding: 10px;">
            <div>Congratulations you have successfully	joined Pinnaclebet.</div>
            <div>The details of your new betting account are:</div>
            <div>
                Your Pinnaclebet Account Number is: <span style="font-weight: 700">{{accountInfo.accountHolderDto.details.accountNumber}}</span>
                <div>Your Pinnaclebet username is: <span style="font-weight: 700">{{accountInfo.accountHolderDto.id}}</span></div>
            </div>
            <div>Information regarding your account has been sent to your email address.</div>
            <div>Your account is now active and you may deposit funds using one of the methods below and begin betting immediately.</div>
        </div>
        <h4 style="font-size: 16px; font-weight: bold; padding-left: 20px; color: #FF6600;">Deposit Now</h4>
        <article style="font-size: 14px; color: black; padding: 10px;">The fastest way to start betting is to deposit via credit card. You can do this now so you can bet as soon as you login to your new account. If you want to skip this step and deposit later using another payment method such as POLi, simply select "Do this later" below.</article>
        <br>
        <div class="subTitle" style="padding-left: 20px; font-size: 16px; line-height: 35px;">
            Make a Deposit via Credit Card
        </div>
        <div class="hidden-xs hidden-sm" style="margin: 20px 0 0 10px;">
            <a href="#/account/creditcarddeposit">
                <img style="height: 80px" src="images/visa.png"></img>
                <img style="height: 80px" src="images/visaverify.png"></img>
                <img style="height: 80px" src="images/master.png"></img>
                <img style="height: 80px" src="images/mastercardcode.png"></img>
            </a>
        </div>
        <p style="padding: 10px;">
            Make a deposit into your account online via credit/debit card <a href="#/account/creditcarddeposit" style="color: blue">here</a>
        </p>
        <div class="subTitle" style="padding-left: 20px; font-size: 16px; line-height: 35px;">
            Make a Deposit via POLi
        </div>
        <div class=" hidden-xs hidden-sm" style="margin: 20px 0 0 0px;">
            <a style="width: 200px;" href="#/account/polideposit">
                <img src="images/poli.png"></img>
            </a>
        </div>
        <div class="hidden-lg hidden-md" style="margin: 20px 0 0 0px;">
            <a style="width: 150px;" href="#/account/polideposit">
                <img src="images/poli.png"></img>
            </a>
        </div>
        <p style="padding: 10px;">
            Make a deposit into your Pinnaclebet account online instantly using POLi <a href="#/account/polideposit" style="color: blue">here</a>
        </p>
        <div class="subTitle" style="padding-left: 20px; font-size: 16px; line-height: 35px;">
            Make Direct Deposits
        </div>
        <div style="padding: 10px;">
            <b>Electronic Funds Transfer (EFT) and Direct Bank Deposits</b>
            <br><br>
            <div style="text-align:justify; text-justify:inter-word">
                You can transfer funds of any amount directly from your
                bank account to your Pinnaclebet account using the following
                bank details. Please note that the funds will not be credited to
                your Pinnaclebet account until they have been verified on
                Pinnaclebet's bank statement and this may take up to 48 hours,
                please allow an additional day for deposits made on weekends or
                public holidays.
            </div>
            <br>
            Deposits can be made directly to the following Pinnaclebet's bank account: <br>
            <br>
            <b>&nbsp;&nbsp;&nbsp;Bank:</b>&nbsp;ANZ Bank<br>
            <b>&nbsp;&nbsp;&nbsp;Account Name:</b>&nbsp;Pinnaclebet<br>
            <b>&nbsp;&nbsp;&nbsp;BSB:</b>&nbsp;012 241<br>
            <b>&nbsp;&nbsp;&nbsp;Account:</b>&nbsp;287679291<br>
            <br>
            Please use your Pinnaclebet account number as the
            reference/transaction detail<br> <b>Reference/Transaction Details:</b>&nbsp;Pinnaclebet Account Number <br>
            <br> For all EFT and Direct Bank deposits, please inform
            Customer Service of the deposit by emailing <a href="mailto:support@pinnaclebet.com.au">support@pinnaclebet.com.au</a>
            and advise us of the following: <br>
            <br>
            <ul style="list-style: none;padding-left: 10px;">
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Your Username</li>
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Your Pinnaclebet Account Number</li>
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Amount Transferred</li>
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Date and Time of Deposit</li>
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Reference used for deposit (Should be your Pinnaclebet Account Number)</li>
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Customer's Bank Name (e.g. ANZ)</li>
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Customer's Bank Branch Location (e.g. Suburb)</li>
                <li>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Was transfer done on the Internet or at bank?</li>
            </ul>
            <br>
            <br> This is to enable the funds to be transferred into your
            Pinnaclebet account. <br>
            <br>
        </div>
    </div>
</div>