<div class="col-md-9" id="content-right">
    <div id="account-title">
        Reset Password
    </div>
    <div id="account-body">
        <div>
            <div>Reset your password?</div>
            <div>Enter your New Password</div>
            <form name="resetPasswordForm">
            <table cellspacing="0" cellpadding="6" class="table" style="margin-top: 7px;">
                <tbody>
                <tr><td></td></tr>
                <tr>
                    <td></td>
                    <td>
                        <b>New Password:</b>
                    </td>
                    <td>
                        <input maxlength="40" type="password" name="password" ng-model="password" required ng-pattern="/^.{8,20}$/i">
                        <div class="warning" ng-show="resetPasswordForm.password.$error.required && resetPasswordForm.password.$dirty">New password required</div>
                        <div class="warning" ng-show="resetPasswordForm.password.$error.pattern && resetPasswordForm.password.$dirty">Password should be more than 8 characters (alphanumeric)</div>
                    </td>
                    <td></td>
                <tr>
                    <td></td>
                    <td>
                        <b>Confirm Password:</b>
                    </td>
                    <td>
                        <input maxlength="40" type="password" name="passwordConfirm" ng-model="passwordConfirm" required>
                        <div class="warning" ng-show="resetPasswordForm.passwordConfirm.$error.required && resetPasswordForm.passwordConfirm.$dirty">Confirm password required</div>
                        <div class="warning" ng-show="stringMatch(password,passwordConfirm) && resetPasswordForm.passwordConfirm.$dirty">Password not match</div>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            </form>
        </div>
        <div>
            <tr>
                <button type="button" class="btn btn-default account-button" ng-disabled="stringMatch(password,passwordConfirm)" ng-click="resetPassword()">Reset Password</button>
                <div style="width: 10%; height: 10px; display: inline-block;"></div>
                <button type="button" class="btn btn-default account-button" ng-click="jumpToHomePage()">Cancel</button>
            </tr>
        </div>
    </div>
</div>