<div class="col-md-9" id="content-right">
    <div id="account-title">Registration Form</div>
    <div id="account-body">
        <form name="signUpForm">
            <div class="account-tr-title"><span>Personal Details</span></div>
            <table class="table-width">
                <tbody>
                    <tr class="account-tr-text">
                        <td class="td-title-width">First Name</td>
                        <td>
                            <input type="text" name="firstname" ng-model="initProfile.person.firstname" required placeholder="First Name" ng-pattern="/^([^0-9]*)$/">
                            <div class="warning" ng-show="signUpForm.firstname.$error.required && signUpForm.firstname.$dirty">First name required</div>
                            <div class="warning" ng-show="signUpForm.firstname.$error.pattern && signUpForm.firstname.$dirty">First name use only letters</div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Last Name</td>
                        <td>
                            <input type="text" name="lastname" ng-model="initProfile.person.lastname" placeholder="Last Name" ng-pattern="/^([^0-9]*)$/">
                            <div class="warning" ng-show="signUpForm.lastname.$error.required && signUpForm.lastname.$dirty">Last name required</div>
                            <div class="warning" ng-show="signUpForm.lastname.$error.pattern && signUpForm.lastname.$dirty">Last name use only letters</div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Date of Birth</td>
                        <td class="td-title-width">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{initProfile.person.dob.daySelected.text}}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" style="width: 30px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" style="width: 80px; max-height: 300px; overflow: auto;">
                                    <li ng-repeat="option in initProfile.person.dob.dayOptions"><a style="cursor: pointer;" ng-click="setSelectedDay(option);">{{option.text}}</a></li>
                                </ul>
                            </div>
                        </td>
                        <td class="td-title-width">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{initProfile.person.dob.monthSelected.text}}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" style="width: 30px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" style="width: 80px; max-height: 300px; overflow: auto;">
                                    <li ng-repeat="option in initProfile.person.dob.monthOptions"><a style="cursor: pointer;" ng-click="setSelectedMonth(option);">{{option.text}}</a></li>
                                </ul>
                            </div>
                        </td>
                        <td class="td-title-width">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{initProfile.person.dob.yearSelected.text}}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" style="width: 30px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" style="width: 80px; max-height: 300px; overflow: auto;">
                                    <li ng-repeat="option in initProfile.person.dob.yearOptions"><a style="cursor: pointer;" ng-click="setSelectedYear(option);">{{option.text}}</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Email</td>
                        <td>
                            <input type="text" name="email" ng-model="initProfile.person.email" ng-blur="isEmailExist(initProfile.person.email)" required placeholder="Email" email-verify>
                            <div class="warning" ng-show="signUpForm.email.$error.required && signUpForm.email.$dirty">Email address required</div>
                            <div class="warning" ng-show="!emailVerify(initProfile.person.email) && signUpForm.email.$dirty">Email address invalid</div>
                            <div class="warning" ng-show="emailExist">Email already in use</div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Re-enter Email</td>
                        <td>
                            <input type="text" name="reTypeEmail" ng-model="initProfile.person.reTypeEmail" required placeholder="Re-enter Email">
                            <div class="warning" ng-show="stringMatch(initProfile.person.email,initProfile.person.reTypeEmail) && signUpForm.reTypeEmail.$dirty">Email address not match</div>

                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                </tbody>
            </table>
            <div class="account-tr-title"><span>Phone Detail</span></div>
            <table class="table-width">
                <tbody>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Mobile</td>
                        <td>
                            <input type="text" name="mobile" ng-model="initProfile.phone.mobile" ng-blur="mobileJudge(initProfile.phone.mobile)" required placeholder="Mobile" ng-pattern="/^[0-9]{10,13}$/">
                            <div class="warning" ng-show="signUpForm.mobile.$dirty && signUpForm.mobile.$error.required">Mobile number required</div>
                            <div class="warning" ng-show="signUpForm.mobile.$dirty && signUpForm.mobile.$error.pattern">Mobile number must be 10 to 13 digits</div>
                            <div class="warning" ng-show="mobileExist">Mobile number already in use</div>
                            <div class="warning" ng-if="initProfile.address.addressCountry.selected.text == 'Australia'" ng-show="signUpForm.mobile.$dirty && !mobilePrefix">Australian Mobile has to be start with "04"</div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">AND OR</td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Country Code</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{initProfile.phone.countryCode.selected.text}}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" style="width: 30px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" style="width: 80px; max-height: 300px; overflow: auto;">
                                    <li ng-repeat="option in initProfile.phone.countryCode.options"><a style="cursor: pointer;" ng-click="setSelectedcountryCode(option);">{{option.text}}</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Area Code</td>
                        <td><input type="text" name="areaCode" ng-model="initProfile.phone.areaCode" placeholder="Area Code"></td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Land Line</td>
                        <td><input type="text" name="landLine" ng-model="initProfile.phone.landLine" placeholder="Land Line"></td>
                    </tr>
                    <tr class="empty_line"></tr>
                </tbody>
            </table>
            <div class="account-tr-title"><span>Address</span></div>
            <table class="table-width">
                <tbody>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Country</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{initProfile.address.addressCountry.selected.text}}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" style="width: 30px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" style="width: 80px; max-height: 300px; overflow: auto;">
                                    <li ng-repeat="option in initProfile.address.addressCountry.options"><a style="cursor: pointer;" ng-click="setSelectedCountry(option);">{{option.text}}</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Unit/Flat Number</td>
                        <td><input type="text" name="unitNo" ng-model="initProfile.address.unitNo" placeholder="Unit"></td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Street Number</td>
                        <td><input type="text" name="streetNo" ng-model="initProfile.address.streetNo" placeholder="Street Number"></td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Street</td>
                        <td><input type="street" name="street" ng-model="initProfile.address.street" placeholder="Street Name"></td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Suburb/City</td>
                        <td><input type="text" name="suburb" ng-model="initProfile.address.suburb" placeholder="Suburb"></td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Postcode</td>
                        <td><input type="text" name="postcode" ng-model="initProfile.address.postcode" placeholder="PostCode"></td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">State/Province</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{initProfile.address.state.selected.text}}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" style="width: 30px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" style="width: 80px; max-height: 300px; overflow: auto;">
                                    <li ng-repeat="option in initProfile.address.state.options"><a style="cursor: pointer;" ng-click="setSelectedState(option);">{{option.text}}</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                </tbody>
            </table>
            <div class="account-tr-title"><span>Account Details</span></div>
            <table class="table-width">
                <tbody>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Username</td>
                        <td>
                            <input type="text" name="username" ng-model="initProfile.account.username" ng-blur="isUserExist(initProfile.account.username)" required placeholder="Username" ng-pattern="/^[a-z0-9]{8,100}$/i">
                            <div class="warning" ng-show="signUpForm.username.$dirty && signUpForm.username.$error.required">Username required</div>
                            <div class="warning" ng-show="signUpForm.username.$dirty && signUpForm.username.$error.pattern">Username should be more than 8 characters (alphanumeric)</div>
                            <div class="warning" ng-show="userExist">Username already in use</div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Password</td>
                        <td>
                            <input type="password" name="password" ng-model="initProfile.account.password" required placeholder="Password" ng-pattern="/^.{8,20}$/i">
                            <div class="warning" ng-show="signUpForm.password.$dirty && signUpForm.password.$error.required">Password required</div>
                            <div class="warning" ng-show="signUpForm.password.$dirty && signUpForm.password.$error.pattern">Password should be more than 8 characters.</div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                    <tr class="account-tr-text">
                        <td class="td-title-width">Confirm Password</td>
                        <td>
                            <input type="password" name="reTypePassword" ng-model="initProfile.account.reTypePassword" required placeholder="Re-enter Password">
                            <div class="warning" ng-show="signUpForm.reTypePassword.$dirty && signUpForm.reTypePassword.$error.required">Please re-type the password</div>
                            <div class="warning" ng-show="signUpForm.reTypePassword.$dirty && stringMatch(initProfile.account.password,initProfile.account.reTypePassword)">Password not match</div>
                        </td>
                    </tr>
                    <tr class="empty_line"></tr>
                </tbody>
            </table>
            <!--<div style="font-size: 14px; margin: 20px 0;">
                <input type="checkbox" name="terms" ng-model="isTermAccepted" tabindex="23" style="height: 19px; width: 24px;margin-top: 0;vertical-align: top;" required>I acknowledge that I am over 18 years of age and I read and agree to the <a ng-click='termAndcond();' style='cursor: pointer;'>terms and conditions</a> of Pinnaclebet
                <div class="validation_row" style="padding: 5px 30px;" colspan="3" ng-show="!isTermAccepted && profileForm.terms.$dirty">In order to use our services, you must agree to Pinnaclebet Terms and Conditions.</div>
            </div>-->
            <div>
                <button type="button" class="btn btn-default account-button" ng-click="resetSignUpForm()">Reset</button>
                <div style="width: 10%; height: 10px; display: inline-block;"></div>
                <button type="button" class="btn btn-default account-button" ng-click="submitSignUpFormHandler()">Submit</button>
            </div>
            <div class="warning">{{initProfile.err}}</div>
        </form>
    </div>
</div>