<div class="col-md-9" id="content-right">
    <div id="account-title">
        Your Profile
    </div>
    <div id="account-body">
        <form name="profileForm">
            <div class="account-tr-title">Personal Details</div>
            <table class="table-width">
                <tbody>
                <tr class="account-tr-text">
                    <td class="td-title-width">First Name</td>
                    <td>{{accountInfo.accountHolderDto.details.firstName}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="account-tr-text">
                    <td class="td-title-width">Last Name</td>
                    <td>{{accountInfo.accountHolderDto.details.lastName}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="account-tr-text">
                    <td class="td-title-width">Account number</td>
                    <td>{{accountInfo.accountHolderDto.details.accountNumber}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="account-tr-text">
                    <td class="td-title-width">Date of Birth</td>
                    <td>{{accountInfo.accountHolderDto.details.dob}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="account-tr-text">
                    <td class="td-title-width">Email</td>
                    <td>{{accountInfo.accountHolderDto.details.emailAddress}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="empty_line"></tr>
                </tbody>
            </table>
            <div class="account-tr-title">Phone Details</div>
            <table class="table-width">
                <tbody>
                <tr class="account-tr-text">
                    <td class="td-title-width">Mobile</td>
                    <td>{{accountInfo.accountHolderDto.details.mobileNumber}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="account-tr-text">
                    <td class="td-title-width">AND OR</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="account-tr-text">
                    <td class="td-title-width">Country Code</td>
                    <td>{{accountInfo.accountHolderDto.details.countryCode}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="account-tr-text">
                    <td class="td-title-width">Area code</td>
                    <td>{{accountInfo.accountHolderDto.details.areaCode}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="account-tr-text">
                    <td class="td-title-width">Land line</td>
                    <td>{{accountInfo.accountHolderDto.details.phoneNumber}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="empty_line"></tr>
                </tbody>
            </table>
            <div class="account-tr-title">Address</div>
            <table class="table-width">
                <tbody>
                <tr class="account-tr-text">
                    <td class="td-title-width">Country</td>
                    <td>{{accountInfo.accountHolderDto.details.addressCountry}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="account-tr-text">
                    <td class="td-title-width">Unit/Flat Number</td>
                    <td>{{accountInfo.accountHolderDto.details.addressFlatNumber}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="account-tr-text">
                    <td class="td-title-width">Street No</td>
                    <td>{{accountInfo.accountHolderDto.details.addressStreetNumber}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="account-tr-text">
                    <td class="td-title-width">Street</td>
                    <td>{{accountInfo.accountHolderDto.details.addressStreet}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="account-tr-text">
                    <td class="td-title-width">Suburb</td>
                    <td>{{accountInfo.accountHolderDto.details.addressSuburb}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="account-tr-text">
                    <td class="td-title-width">Postcode</td>
                    <td>{{accountInfo.accountHolderDto.details.addressPostcode}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="account-tr-text">
                    <td class="td-title-width">State</td>
                    <td>{{accountInfo.accountHolderDto.details.addressState}}</td>
                </tr>
                <tr class="empty_line"></tr>
                </tbody>
            </table>
            <div>
                <a class="btn btn-default account-button"  href="#/account/changePassword" role="button">Change Password</a>
                <div style="width: 10%; height: 10px; display: inline-block;"></div>
                <a class="btn btn-default account-button" style="color: white;" href="#/account/editProfile" role="button">Edit Profile</a>
            </div>
        </form>
    </div>
</div>