<div class="col-md-9" id="content-right">
    <div id="account-title">
        Withdrawals
    </div>
    <div id="account-body">
        <p  class="account-tr-text">
            Withdrawals can be made by direct bank transfer. There is no
            charge on withdrawals. Requests are processed every
            Tuesday and Friday if all identification requirements have fulfilled and the
            request is made before 02:00pm AEDT on a standard business day.
            (Note: Some banks and credit societies may take over 48 hours to
            clear the funds to your account).</p>

        <p class="account-tr-text">
            Please register a bank account to receive withdrawals. For your
            security, these bank details will be kept on record, and all
            future withdrawals will also be this bank account. You may change
            your registered bank account by contacting customer support at <a href="mailto:support@pinnaclebet.com.au">support@pinnaclebet.com.au</a>.
        </p>

        <form name="withdrawalForm" style="padding: 10px 10px 10px 10px;">
            <table style="font-size: 14px;">
                <tr style="padding-bottom: 30px;">
                    <td style="width: 10%">Bank Name:</td>
                    <td style="width: 50%" ng-if="!initWithdrawInfo.bankName">
                        <input type="text" name="bank" ng-model="initWithdrawInfo.bankName" required>
                        <div style="color:red" ng-show="withdrawalForm.bank.$error.required && withdrawalForm.bank.$dirty">Bank Name required</div>
                    </td>
                    <td style="width: 50%" ng-if="initWithdrawInfo.bankName">{{initWithdrawInfo.bankName}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 30px;">
                    <td style="width: 10%">Account Holder Name:</td>
                    <td style="width: 50%" ng-if="!initWithdrawInfo.accountHolderName">
                        <input type="text" name="accholder" ng-model="initWithdrawInfo.accountHolderName" required>
                        <div style="color:red" ng-show="withdrawalForm.accholder.$error.required && withdrawalForm.accholder.$dirty">Account Hoder Name required</div>
                    </td>
                    <td style="width: 50%" ng-if="initWithdrawInfo.accountHolderName">{{initWithdrawInfo.accountHolderName}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 30px;">
                    <td style="width: 10%">BSB Number:</td>
                    <td style="width: 50%" ng-if="!initWithdrawInfo.bsb">
                        <input type="text" name="bsb" ng-model="initWithdrawInfo.bsb" required ng-pattern="/^[0-9]{6,6}$/">
                        <div style="color:red" ng-show="withdrawalForm.bsb.$error.required && withdrawalForm.bsb.$dirty">BSB number required</div>
                        <div style="color:red" ng-show="withdrawalForm.bsb.$error.pattern && withdrawalForm.bsb.$dirty">Please enter a 6 digit BSB number</div>
                    </td>
                    <td style="width: 50%" ng-if="initWithdrawInfo.bsb">{{initWithdrawInfo.bsb}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 30px;">
                    <td style="width: 10%">Account Number:</td>
                    <td style="width: 50%" ng-if="!initWithdrawInfo.accountNumber">
                        <input type="text" name="accountno" ng-model="initWithdrawInfo.accountNumber" required ng-pattern="/^[0-9]+$/">
                        <div style="color:red" ng-show="withdrawalForm.accountno.$error.required && withdrawalForm.accountno.$dirty">Account Number required</div>
                        <div style="color:red" ng-show="withdrawalForm.accountno.$error.pattern && withdrawalForm.accountno.$dirty">Account Number invalid</div>
                    </td>
                    <td style="width: 50%" ng-if="initWithdrawInfo.accountNumber">{{initWithdrawInfo.accountNumber}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 30px;">
                    <td colspan="2"><b>Only for users outside of Australia:</b></td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 30px;">
                    <td style="width: 10%">IBAN number:</td>
                    <td style="width: 50%" ng-if="!initWithdrawInfo.IBANNumber">
                        <input type="text" name="ibanno" ng-model="initWithdrawInfo.IBANNumber" ng-pattern="/^[0-9]+$/">
                        <div style="color:red" ng-show="withdrawalForm.ibanno.$error.pattern && withdrawalForm.ibanno.$dirty">IBAN Number invalid</div>
                    </td>
                    <td style="width: 50%" ng-if="initWithdrawInfo.IBANNumber">{{initWithdrawInfo.IBANNumber}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 30px;">
                    <td style="width: 10%">SWIFT Code:</td>
                    <td style="width: 50%" ng-if="!initWithdrawInfo.SWIFTCode">
                        <input type="text" name="swiftcode" ng-model="initWithdrawInfo.SWIFTCode" ng-pattern="/^[0-9]+$/">
                        <div style="color:red" ng-show="withdrawalForm.swiftcode.$error.pattern && withdrawalForm.swiftcode.$dirty">SWIFT Code invalid</div>
                    </td>
                    <td style="width: 50%" ng-if="initWithdrawInfo.SWIFTCode">{{initWithdrawInfo.SWIFTCode}}</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 30px;">
                    <td colspan="2" style="text-align: justify">Please update your
                        contact details if the following are incorrect in case you
                        need to be contacted regarding your withdrawal.</td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 30px;">
                    <td style="width: 10%">Mobile Number:</td>
                    <td style="width: 50%">
                        <input type="text" name="mobile" ng-model="initWithdrawInfo.mobile" required ng-pattern="/^[0-9]{10,13}$/">
                        <div style="color:red" ng-show="withdrawalForm.mobile.$error.required && withdrawalForm.mobile.$dirty">Mobile Number required</div>
                        <div style="color:red" ng-show="withdrawalForm.mobile.$error.pattern && withdrawalForm.mobile.$dirty">Mobile number must be 10 to 13 digits</div>
                    </td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 15px;">
                    <td colspan="2"><strong>AND/OR</strong></td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 15px;">
                    <td>Country Code:</td>
                    <td>
                        <input type="text" name="countrycode" ng-model="initWithdrawInfo.countryCode" ng-pattern="/^[0-9]+$/" maxlength="5">
                        <div style="color:red" ng-show="withdrawalForm.countrycode.$error.pattern && withdrawalForm.countrycode.$dirty">Country Code invalid</div>
                    </td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 15px;">
                    <td>Area Code:</td>
                    <td>
                        <input type="text" name="areacode" ng-model="initWithdrawInfo.areaCode" ng-pattern="/^[0-9]+$/" maxlength="5">
                        <div style="color:red" ng-show="withdrawalForm.areacode.$error.pattern && withdrawalForm.areacode.$dirty">Area Code invalid</div>
                    </td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 15px;">
                    <td>Home Phone:</td>
                    <td>
                        <input type="text" name="homephone" ng-model="initWithdrawInfo.homePhone" ng-pattern="/^[0-9]+$/">
                        <div style="color:red" ng-show="withdrawalForm.homephone.$error.pattern && withdrawalForm.homephone.$dirty">Home Phone invalid</div>
                    </td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 15px;">
                    <td colspan="2">
                        <p class="para">
                            Funds available for withdrawal: <label>{{initWithdrawInfo.availableFund}}</label>
                        </p>
                    </td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 15px;">
                    <td>Withdrawal Amount: $</td>
                    <td>
                        <input type="text" name="amount" ng-model="initWithdrawInfo.withdrawAmount" ng-pattern="/^\d{0,10}(\.\d{0,2})?$/" required>
                        <div style="color:red" ng-show="withdrawalForm.amount.$error.required && withdrawalForm.amount.$dirty">Amount required</div>
                        <div style="color:red" ng-show="withdrawalForm.amount.$error.pattern && withdrawalForm.amount.$dirty">Amount invalid</div>
                    </td>
                </tr>
                <tr class="empty_line"></tr>
                <tr style="padding-bottom: 15px;">
                    <td style="width: 20%">Password:</td>
                    <td style="width: 50%">
                        <input type="password" name="password" ng-model="initWithdrawInfo.password" required>
                        <div style="color:red" ng-show="withdrawalForm.password.$error.required && withdrawalForm.password.$dirty">Password required</div>
                    </td>
                </tr>
                <tr class="empty_line"></tr>
                <tr class="empty_line"></tr>
            </table>
            <div style="padding: 10px;color: red; font-size: small;" ng-show="errors.password || errors.amount || errors.userNotKYC">Please find the error below.</div>
            <div style="padding: 5px 20px;color: red; font-size: small;" ng-show="errors.amount">{{errors.amount}}</div>
            <div style="padding: 5px 20px;color: red; font-size: small;" ng-show="errors.password">{{errors.password}}</div>
            <div style="padding: 5px 20px;color: red; font-size: small;" ng-show="errors.userNotKYC">Members must satisfy the identification requirement before a withdrawal can be processed. Please click <a style="color:blue" href="#/account/idsubmission/">here</a> for more information how to complete the identity requirements. If you have recently sent through your identification, you will be able to make withdrawals as soon as your ID is processed. To enquire, please contact <a style="color:blue" href="mailto:support@pinnaclebet.com.au">support@pinnaclebet.com.au</a></div>
            <div>
                <tr>
                    <button type="button" class="btn btn-default account-button" ng-click="withdrawHandler()">Submit</button>
                    <div style="width: 10%; height: 10px; display: inline-block;"></div>
                    <button type="button" class="btn btn-default account-button" ng-click="jumpToTransactionPage()">Cancel</button>
                </tr>
            </div>
            <div class="warning">{{initWithdrawInfo.err}}</div>
        </form>
    </div>
</div>