<div class="col-md-9" id="content-right">
    <div id="account-title">
        Withdrawal Request Submitted
    </div>
    <div>
        <tr>
            <td><h3>Transaction Receipt No: {{receipt}}</h3></td>
        </tr>
        <tr>
            <td>
                <h5>
                    Note: Withdrawal of <b>${{withdrawAmount}}</b> from your account has been successfully requested! Please note that withdrawalis processed every Friday and funds will arrive within 1-2 days or depending on your bank processing time. For more information please call 02 9387 8503.
                </h5>
            </td>
        </tr>
    </div>
</div>