<div ng-if="quickLinks.length > 0">
    <h3>Quick Links</h3>
    <ul>
        <li class="{{quickLink}}" ng-repeat="quickLink in quickLinks track by $index" style="padding: 2px 0 2px 5px;">
            <a href="#/sportDetail?leagueId={{quickLink.id.key}}" class="hover">
            <span class="menu_icon_{{quickLink.sportTypeId}}" href="#{{sportType.id}}"></span>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <span>{{nameMap[quickLink.id.value] || quickLink.id.value}}</span>
            </a>
        </li>
    </ul>
</div>
