<div class="container">
    <div class="inner">
        <div class="security">Secured using 2048-bit encryption.</div>
        <a id="join-url" href="/signup/" style="display: none;">Join</a>
        <div id="navbar-current-time" class="time"><span>{{localTime}}</span></div>
    </div>
</div>
