<div class="live-slip">
    <div class="title">
        LIVE
        <div class="pull-right">
            x
        </div>
    </div>
    <div class="bet-info">
        <div class="">
            <div>
                {{slip.data.sportType.value}}
            </div>
            <div>
                {{slip.data.league.value}}
            </div>
            <div>
                <span style="color: orange;">{{slip.data.homeTeam}}</span> vs {{slip.data.awayTeam}}
            </div>
            <div>
                {{slip.data.period.value}}
            </div>
            <div class="">
                {{slip.data.marketType.value}}
            </div>
        </div>
        <div class="mute-call">
            <span class="logo">BET LIVE</span>
            <div class="pull-right">
                {{oddsFromPrice(slip.info.odds, 1000, 2)}}
            </div>
        </div>
        <div class="bet-input">
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" name="input" placeholder="0"  ng-pattern="/^\d*\.?[0|1]?[0]?$/" step="0.1"/>
            </div>
        </div>
        <div class="">
            Est Return : $0.00
        </div>
        <div ng-if="!!slip.data.maximumRisk">
            Max : ${{slip.data.maximumRisk}}
        </div>
        <div ng-if="!!slip.data.minimumRisk">
            Min : ${{slip.data.minimumRisk}}
        </div>
        <div class="" ng-if="!!slip.data.maximumRisk && slip.info.isInputAval">
            <input type="checkbox" name="betMax" ng-model="slip.info.betMax" >
            <label for="betMax">Bet Maximum</label>
        </div>
    </div>
    <div class="bet-num-panel">
        <table>
            <tr>
                <td>50c</td>
                <td>$1</td>
                <td>$2</td>
            </tr>
            <tr>
                <td>$5</td>
                <td>$10</td>
                <td>$20</td>
            </tr>
            <tr>
                <td>$50</td>
                <td>$100</td>
                <td>Clear</td>
            </tr>
        </table>

    </div>
    <div class="bet-submit">
        <div class="btn btn-default bet-live">
            BET LIVE
        </div>
    </div>
</div>
