<div>
    <table class="table table-bordered table-condensed" ng-switch on="betMethod">
        <thead ng-switch-when="WinPlace">
            <tr ng-if='availablePool.WinPlace' race-table-win-place ng-init="header = 'true'"></tr>
            <tr ng-if='availablePool.WinPlace' race-table-win-place-columns></tr>
        </thead>
        <thead ng-switch-when="Quinella">
            <tr class="box_selection_row">
                <th></th><th class=""></th><th></th>
                <th>Box Selections:</th>
                <th>
                    <input type="checkbox" ng-model="$parent.box_selection" value="false"
                        ng-click="changeBoxSelection($event)">
                </th>
                <th>
                </th>
            </tr>
            <tr race-table-quinella ng-init="header = 'true'"></tr>
        </thead>
        <thead ng-switch-when="Exacta">
            <tr class="box_selection_row">
                <th></th><th class=""></th><th></th>
                <th>Box Selections:</th>
                <th>
                    <input type="checkbox" ng-model="$parent.box_selection" value="false"
                        ng-click="changeBoxSelection($event)">
                </th>
                <th>
                </th>
            </tr>
            <tr race-table-exacta ng-init="header = 'true'"></tr>
        </thead>
        <thead ng-switch-when="Trifecta">
            <tr class="box_selection_row">
                <th></th><th class=""></th><th></th>
                <th>Box Selections:</th>
                <th>
                    <input type="checkbox" ng-model="$parent.box_selection" value="false"
                        ng-click="changeBoxSelection($event)">
                </th>
                <th>
                </th>
                <th></th>
            </tr>
            <tr race-table-trifecta ng-init="header = 'true'"></tr>
        </thead>
        <thead ng-switch-when="FirstFour">
            <tr class="box_selection_row">
                <th></th><th class=""></th><th></th>
                <th>Box Selections:</th>
                <th>
                    <input type="checkbox" ng-model="$parent.box_selection" value="false"
                        ng-click="changeBoxSelection($event)"></th>
                <th></th><th></th><th></th>
            </tr>
            <tr race-table-first-four ng-init="header = 'true'"></tr>
        </thead>

        <tbody ng-switch-when="WinPlace">
            <tr ng-if='availablePool.WinPlace'
                race-table-win-place ng-init="header = 'false'; isAvailble = 'false'"
                ng-repeat="entrant in entrants | orderBy: 'rugNumber'"></tr>
            <tr ng-if='!availablePool.WinPlace'> <td>No Win/Place Pool available</td></tr>
        </tbody>
        <tbody ng-switch-when="Quinella">
            <tr race-table-quinella ng-init="header = 'false'"
                ng-repeat="entrant in entrants | orderBy: 'rugNumber'"></tr>
            <tr>
                <td colspan="10">
                    <span class="pull-right btn " ng-class="{disableSelection: !isConfirm ,makeSelection: isConfirm }" ng-click="makeSelection()">ADD TO BET SLIP</span>
                    <span class="pull-right btn clearSelection" ng-click="clearSelection()">Clear Selections</span>
                </td>
            </tr>
        </tbody>
        <tbody ng-switch-when="Exacta">
            <tr race-table-exacta ng-init="header = 'false'"
                ng-repeat="entrant in entrants | orderBy: 'rugNumber'"></tr>
            <tr>
                <td colspan="10">
                    <span class="pull-right btn " ng-class="{disableSelection: !isConfirm ,makeSelection: isConfirm }" ng-click="makeSelection()">ADD TO BET SLIP</span>
                    <span class="pull-right btn clearSelection" ng-click="clearSelection()">Clear Selections</span>
                </td>
            </tr>
        </tbody>
        <tbody ng-switch-when="Trifecta">
            <tr race-table-trifecta ng-init="header = 'false'"
                ng-repeat="entrant in entrants | orderBy: 'rugNumber'"></tr>
            <tr>
                <td colspan="10">
                    <span class="pull-right btn " ng-class="{disableSelection: !isConfirm ,makeSelection: isConfirm }" ng-click="makeSelection()">ADD TO BET SLIP</span>
                    <span class="pull-right btn clearSelection" ng-click="clearSelection()">Clear Selections</span>
                </td>
            </tr>
        </tbody>
        <tbody ng-switch-when="FirstFour">
            <tr race-table-first-four ng-init="header = 'false'"
                ng-repeat="entrant in entrants | orderBy: 'rugNumber'"></tr>
            <tr>
                <td colspan="10">
                    <span class="pull-right btn " ng-class="{disableSelection: !isConfirm ,makeSelection: isConfirm }" ng-click="makeSelection()">ADD TO BET SLIP</span>
                    <span class="pull-right btn clearSelection" ng-click="clearSelection()">Clear Selections</span>
                </td>
            </tr>
        </tbody>
        <tbody ng-switch-when="Quadrella">
            <tr><td ><div race-table-quadrella></div></td></tr>

        </tbody>
    </table>

    <div class="">
        &copy; {{PRACopyright}}
    </div>
</div>
