<div class="col-md-9" id="content-right">
      <div class="col-md-12 detailed-racelist">
        <div class="meeting-header">
            <div>
                <button class="btn btn-gray"
                    ng-class="{'active': meetingDate == 'TODAY'}">
                    <a href="#/racing?meetingDate=TODAY">Today</a>
                </button>
            </div>
            <div>
                <button class="btn btn-gray"
                    ng-class="{'active': meetingDate == 'TOMORROW'}">
                    <a href="#/racing?meetingDate=TOMORROW">Tomorrow's Races</a>
                </button>
            </div>
            <div id="datetimepicker">
                <span class="add-on">
                    <button class="btn btn-gray"
                        ng-class="{'inactive': meetingDate == 'TODAY' || meetingDate == 'TOMORROW'}"
                        uib-datepicker-popup="{{'dd-MMMM-yyyy'}}"
                        datepicker-options="calendar.dateOptions"
                        ng-model="calendar.dateSelected"
                        is-open="calendar.isOpen"
                        ng-required="true"
                        ng-click="popupCalendar();$event.stopPropagation();"
                        ng-change="redirectPath()">
                        {{calendar.dateDisplay}}
                        <span class="glyphicon glyphicon-calendar" ></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="meeting-bod-panel" ng-if="(meetingList.R.meetingDetails && meetingList.G.meetingDetails && meetingList.T.meetingDetails)">

            <div class="meeting-body">
                <h3 class="icon-horse">HORSE RACING</h3>
                <div class="panel panel-default table-responsive">
                    <table class="table table-bordered listings">
                        <tbody ng-show="meetingList.R.meetingDetails.AUS">
                            <tr>
                                <th class="location"></th>
                                <th ng-repeat="count in [1,2,3,4,5,6,7,8,9,10,11,12]">{{count}}</th>
                            </tr>
                            <tr ng-repeat="meeting in meetingList.R.meetingDetails.AUS">
                                <td class="location" style="text-align: left" data-toggle="tooltip" data-placement="bottom" title="{{buildMeetingTip(meeting)}}">
                                    <div class="flag_au flag{{meeting.venueState}}"></div>
                                    {{meeting.venue}}
                                </td>
                                <td  ng-repeat="race in meeting.races" ng-class="{racePaying : race.status == 'Paying',raceInterim : race.status == 'Interim',raceClosed : race.status == 'Closed',raceLessThirtyMins : (race.status == 'Open' && lessThirtyMins(race.startTime)),raceLessFiveMins : (race.status == 'Open' && lessFiveMins(race.startTime)),raceNone : !race.id}">
                                    <div class="race-info" data-toggle="tooltip" data-placement="bottom" title="{{buildRaceTip(race)}}">
                                        <div class="fixed-odds" ng-if="race.fixedOdds">
                                            <div>F</div>
                                        </div>
                                        <a href="{{race.url}}" ng-if="race.id">
                                            <span class="results">{{race.textDisplay}}</span>
                                        </a>
                                        <a><span class="results" ng-if="!race.id">{{race.textDisplay}}</span></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="meetingList.R.meetingDetails.INT">
                            <tr>
                                <th class="location">Int.</th>
                                <th ng-repeat="count in [1,2,3,4,5,6,7,8,9,10,11,12]">{{count}}</th>
                            </tr>
                            <tr ng-repeat="meeting in meetingList.R.meetingDetails.INT">
                                <td class="location" style="text-align: left" data-toggle="tooltip" data-placement="bottom" title="{{buildMeetingTip(meeting)}}">
                                    <div class="flag flag{{meeting.country}}"></div>
                                    {{meeting.venue}}
                                </td>
                                <td ng-repeat="race in meeting.races" ng-class="{racePaying : race.status == 'Paying',raceInterim : race.status == 'Interim',raceClosed : race.status == 'Closed',raceLessThirtyMins : (race.status == 'Open' && lessThirtyMins(race.startTime)),raceLessFiveMins : (race.status == 'Open' && lessFiveMins(race.startTime)),raceNone : !race.id}">
                                    <div class="race-info"  data-toggle="tooltip" data-placement="bottom" title="{{buildRaceTip(race)}}">
                                        <div class="fixed-odds" ng-if="race.fixedOdds">
                                            <div>F</div>
                                        </div>
                                        <a href="{{race.url}}" ng-if="race.id">
                                            <span class="results" >{{race.textDisplay}}</span>
                                        </a>
                                        <a><span class="results" ng-if="!race.id">{{race.textDisplay}}</span></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="meeting-body">
                <h3 class="icon-hound">GREYHOUND RACING</h3>
                <div class="panel panel-default table-responsive">
                    <table class="table table-bordered listings">
                        <tbody ng-if="meetingList.G">
                            <tr ng-if="meetingList.G.meetingDetails.AUS">
                                <th class="location"></th>
                                <th ng-repeat="count in [1,2,3,4,5,6,7,8,9,10,11,12]">{{count}}</th>
                            </tr>
                            <tr ng-if="meetingList.G.meetingDetails.AUS"
                              ng-repeat="meeting in meetingList.G.meetingDetails.AUS">
                                <td class="location" style="text-align: left" data-toggle="tooltip" data-placement="bottom" title="{{buildMeetingTip(meeting)}}">
                                    <div class="flag_au flag{{meeting.venueState}}"></div>
                                    {{meeting.venue}}
                                </td>
                                <td ng-repeat="race in meeting.races" ng-class="{racePaying : race.status == 'Paying',raceInterim : race.status == 'Interim',raceClosed : race.status == 'Closed',raceLessThirtyMins : (race.status == 'Open' && lessThirtyMins(race.startTime)),raceLessFiveMins : (race.status == 'Open' && lessFiveMins(race.startTime)),raceNone : !race.id}">
                                    <div class="race-info" data-toggle="tooltip" data-placement="bottom" title="{{buildRaceTip(race)}}">
                                        <div class="fixed-odds" ng-if="race.fixedOdds">
                                            <div>F</div>
                                        </div>
                                        <a href="{{race.url}}" ng-if="race.id">
                                            <span class="results" >{{race.textDisplay}}</span>
                                        </a>
                                        <a><span class="results" ng-if="!race.id">{{race.textDisplay}}</span></a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="meetingList.G.meetingDetails.INT">
                                <th class="location">Int.</th>
                                <th ng-repeat="count in [1,2,3,4,5,6,7,8,9,10,11,12]">{{count}}</th>
                            </tr>
                            <tr ng-if="meetingList.G.meetingDetails.INT"
                              ng-repeat="meeting in meetingList.G.meetingDetails.INT">
                                <td class="location" style="text-align: left" data-toggle="tooltip" data-placement="bottom" title="{{buildMeetingTip(meeting)}}">
                                     <div class="flag flag{{meeting.country}}"></div>
                                     {{meeting.venue}}
                                </td>
                                <td ng-repeat="race in meeting.races" ng-class="{racePaying : race.status == 'Paying',raceInterim : race.status == 'Interim',raceClosed : race.status == 'Closed',raceLessThirtyMins : (race.status == 'Open' && lessThirtyMins(race.startTime)),raceLessFiveMins : (race.status == 'Open' && lessFiveMins(race.startTime)),raceNone : !race.id}">
                                    <div class="race-info" data-toggle="tooltip" data-placement="bottom" title="{{buildRaceTip(race)}}">
                                        <div class="fixed-odds" ng-if="race.fixedOdds">
                                            <div>F</div>
                                        </div>
                                        <a href="{{race.url}}" ng-if="race.id">
                                            <span class="results" >{{race.textDisplay}}</span>
                                        </a>
                                        <a><span class="results" ng-if="!race.id">{{race.textDisplay}}</span></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="meeting-body">
                <h3 class="icon-carriage">HARNESS RACING</h3>
                <div class="panel panel-default table-responsive">
                    <table class="table table-bordered listings">
                        <tbody ng-if="meetingList.T">
                            <tr ng-if="meetingList.T.meetingDetails.AUS">
                                <th class="location"></th>
                                <th ng-repeat="count in [1,2,3,4,5,6,7,8,9,10,11,12]">{{count}}</th>
                            </tr>
                            <tr ng-if="meetingList.T.meetingDetails.AUS"
                              ng-repeat="meeting in meetingList.T.meetingDetails.AUS">
                                <td class="location" style="text-align: left" data-toggle="tooltip" data-placement="bottom" title="{{buildMeetingTip(meeting)}}">
                                    <div class="flag_au flag{{meeting.venueState}}"></div>
                                    {{meeting.venue}}
                                </td>
                                <td ng-repeat="race in meeting.races" ng-class="{racePaying : race.status == 'Paying',raceInterim : race.status == 'Interim',raceClosed : race.status == 'Closed',raceLessThirtyMins : (race.status == 'Open' && lessThirtyMins(race.startTime)),raceLessFiveMins : (race.status == 'Open' && lessFiveMins(race.startTime)),raceNone : !race.id}">
                                    <div class="race-info" data-toggle="tooltip" data-placement="bottom" title="{{buildRaceTip(race)}}">
                                        <div class="fixed-odds" ng-if="race.fixedOdds">
                                            <div>F</div>
                                        </div>
                                        <a href="{{race.url}}" ng-if="race.id">
                                            <span class="results" >{{race.textDisplay}}</span>
                                        </a>
                                        <a><span class="results" ng-if="!race.id">{{race.textDisplay}}</span></a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="meetingList.T.meetingDetails.INT">
                                <th class="location">Int.</th>
                                <th ng-repeat="count in [1,2,3,4,5,6,7,8,9,10,11,12]">{{count}}</th>
                            </tr>
                            <tr ng-if="meetingList.T.meetingDetails.INT"
                              ng-repeat="meeting in meetingList.T.meetingDetails.INT">
                                <td class="location" style="text-align: left" data-toggle="tooltip" data-placement="bottom" title="{{buildMeetingTip(meeting)}}">
                                     <div class="flag flag{{meeting.country}}"></div>
                                     {{meeting.venue}}
                                </td>
                                <td ng-repeat="race in meeting.races" ng-class="{racePaying : race.status == 'Paying',raceInterim : race.status == 'Interim',raceClosed : race.status == 'Closed',raceLessThirtyMins : (race.status == 'Open' && lessThirtyMins(race.startTime)),raceLessFiveMins : (race.status == 'Open' && lessFiveMins(race.startTime)),raceNone : !race.id}">
                                    <div class="race-info" data-toggle="tooltip" data-placement="bottom" title="{{buildRaceTip(race)}}">
                                        <div class="fixed-odds" ng-if="race.fixedOdds">
                                            <div>F</div>
                                        </div>
                                        <a href="{{race.url}}" ng-if="race.id">
                                            <span class="results">{{race.textDisplay}}</span>
                                        </a>
                                        <a><span class="results" ng-if="!race.id">{{race.textDisplay}}</span></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="meeting-bod-panel" ng-hide="(meetingList.R.meetingDetails && meetingList.G.meetingDetails && meetingList.T.meetingDetails)">
            <div class="meeting-body-not-aval">
                No Race Available
            </div>
        </div>
        <div class="meeting-footer">
            <div class="fixed-odds-dis"></div>Fixed odds offered
    		<div class="Closing5"></div>-5 mins to jump
    		<div class="Closing30"></div>-30 mins to jump
    		<div class="Interim"></div>Interim
    		<div class="Paying"></div>Paying
    	</div>
     </div>
</div>
