<div class="col-md-9" id="content-right">
	<div class="row">
		<div class="col-md-12 detailed-racelist">
	        <div class="panel panel-default ">
	            <div class="panel-heading" ng-switch on="details.type" >
					<button ng-href="#/racing/" class="btn btn-back"/>
					<div class="icon horse" ng-switch-when="R"></div>
					<div class="icon hound" ng-switch-when="G"></div>
					<div class="icon carriage" ng-switch-when="T"></div>
						<span ng-show="details && details.venue">
							{{details.venue}}, Race {{details.raceNumber}}
							<span> - {{details.title}}</span>
						</span>
				</div>
				<div class="panel-body">
					<div class="row">
					    <div class="col-xs-8">
					       <ul class="races">
					           <li ng-repeat="item in raceList | orderBy: 'raceNumber'">
					              <a ng-href="#/racing/meeting/{{meetingID}}/{{item.id}}"
					                class="btn" ng-class="getRaceNumBtnCss({{item.id}})"
					                ng-style="{'opacity': item.status != 'Open' && item.status != 'Interim' ? 0.5 : 1}">
					                  R{{item.raceNumber}}
					              </a>
					           </li>
					       </ul>
					       <div class="race-status">
					          <span>Distance: </span>
					           <font ng-if="details.distanceInMeters > 0">{{details.distanceInMeters}}m </font>
					           <font ng-if="details.distanceInMeters <= 0">Unknow</font>
					          </span>
					          <span ng-if="details.trackCondition && details.trackCondition.trim() != ''">
					             |
					            <span>Track: </span>
					            <font ng-if="details.trackCondition.length > 0">{{details.trackCondition}} </font>
					            <font ng-if="details.trackCondition.length <= 0">Unknown </font>
					          </span>
					          <span ng-if="details.weatherCondition && details.weatherCondition.trim() != ''">
					             |
					            <span>Weather: </span>
					            <font ng-if="details.weatherCondition.length > 0">{{details.weatherCondition}} </font>
					            <font ng-if="details.weatherCondition.length <= 0">Unknown</font>
					          </span>
					          <!--
					          <span>{{details.oddsCondition}}</span>
					           -->
					       </div>
					    </div>
					    <div class="col-xs-4 time-until">
					     <div ng-if="jumpinTime != '' && jumpinTime != 'OPEN'">
					       <!-- <span ng-show="details.status == 'Open'">Jump in: </span> -->
					       <span ng-style="{color: details.status == 'Open' && getTimeDiff()<0?'red':'black'}">Jump in: {{jumpinTime}}</span>
					       <span>{{details.oddsCondition}}</span>
					     </div>
					     <div ng-if="jumpinTime == 'OPEN'">
					       <span ng-if="details.startTime">
					           <span ng-if="details.startTime > 0">Start Time: {{parseStartTime(details.startTime)}}</span>
					           <span ng-if="details.startTime <= 0">Unknown</span>
							   <span>{{details.oddsCondition}}</span>
					       </span>
					     </div>
					    </div>
					</div>
				</div>

		        <div class="table-controls" ng-show="details.status === 'Open' || details.status === 'Closed'">
		            <ul class="nav nav-tabs" >
	                    <li role="presentation" ng-class="{active: betMethod ==='WinPlace', notAval: !optionDetails['WinPlace']}">
	                        <a href="" ng-click="changeBetMethod('WinPlace')" >Win/Place</a>
	                    </li>
	                    <li role="presentation" ng-class="{active: betMethod ==='Quinella', notAval: !optionDetails['Quinella']}">
	                        <a href="" ng-click="changeBetMethod('Quinella')">Quinella</a>
	                    </li>
	                    <li role="presentation" ng-class="{active: betMethod ==='Exacta', notAval: !optionDetails['Exacta']}">
	                        <a href="" ng-click="changeBetMethod('Exacta')">Exacta</a>
	                    </li>
	                    <li role="presentation" ng-class="{active: betMethod ==='Trifecta', notAval: !optionDetails['Trifecta']}">
	                        <a href="" ng-click="changeBetMethod('Trifecta')">Trifecta</a>
	                    </li>
	                    <li role="presentation" ng-class="{active: betMethod ==='FirstFour', notAval: !optionDetails['FirstFour']}">
	                        <a href="" ng-click="changeBetMethod('FirstFour')">First Four</a>
	                     </li>
	                    <li role="presentation" ng-class="{active: betMethod ==='Quadrella', notAval: !optionDetails['Quadrella']}">
	                        <a href="" ng-click="changeBetMethod('Quadrella')">Quadrella</a>
	                    </li>
	                </ul>
		        </div>

				<div class="tab-content race-table">
		           <div class="tab-pane active">
				        <div class="racingResult" ng-if="details.status == 'Paying' || details.status == 'Interim'">
				            <div race-result-table></div>
				        </div>
				        <div class="racingOdds">
				            <div race-table ng-if="pools.length > 0"></div>
				        </div>
						<div class="racingOdds">
							<div ng-if="showEmpty">
								<div>
									<table class="table">
										<tr>
											<td align="center" style="padding: 10px;">No Pool is available!</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
		           </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
